---
import yellowDiamond from "../../images/yellowDiamond.png";
import { contentfulClient } from "../../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { Document } from "@contentful/rich-text-types";
//import { Image, Picture } from "@astrojs/image/components";
import { Image } from "astro:assets";

const props = Astro.props;
---

{
  Object.keys(props).length && (
    <section style="padding-top: 3%; background-color: #1a1a1a;">
      <div class="margins row sectionAnimate">
        <div class="col-lg-5 col-md-5 col-sm-12 heading">
          <Image
            src={yellowDiamond}
            loading="lazy"
            class="optimization "
            style="width: 7%; margin-right:1.2%"
            alt=""
          />
          <div
            class="comp4Title"
            style="display: inline-block;"
            set:html={props.tiltImagesTitle}
          />
        </div>

        <div
          class="col-lg-6 col-md-6 col-sm-12 para"
          set:html={props.tiltImagesText}
        />
      </div>

      {props.tiltImage1 && (
        <div class="margins images" style="margin-top: 2%; text-align: center;">
          <Image
            src={props.tiltImage1}
            class="img1 img-animate optimization "
            alt={"" + props.tiltImage1Alt}
            width={1010}
            height={1150}
          />

          {props.tiltImage2.includes("mp4") ? (
            <video
              id="myVideo"
              class="img2 img2-animate optimization "
              style="aspect-ratio: 101/115;"
              width={1010}
              height={1150}
              controls
            >
              <source src={props.tiltImage2} type="video/mp4" />
            </video>
          ) : (
            <Image
              src={props.tiltImage2}
              class="img2 img2-animate optimization "
              alt={"" + props.tiltImage2Alt}
              width={1010}
              height={1150}
            />
          )}

          <Image
            src={props.tiltImage3}
            class="img3 img-animate optimization "
            alt={"" + props.tiltImage3Alt}
            width={1010}
            height={1150}
          />
        </div>
      )}
    </section>
  )
}

<style>
  .optimization {
    height: auto;
  }

  .margins {
    margin-left: 7%;
    margin-right: 7%;
  }

  .heading {
    font-family: "Deutschlander";
    text-transform: uppercase;
    font-size: 6.8vw;
    font-weight: 400;
    font-style: normal;
    line-height: 0.85;
    color: white;
  }

  .para {
    color: white;
    text-align: justify;
    margin-left: 3%;
    font-family: "anek devanagari";
    font-size: 1.2vw;
    word-spacing: 0.6ch;
  }

  .para u,
  .para span {
    color: #e5ff53;
    text-decoration: underline;
  }

  .images img {
    border: 2px solid white;
    aspect-ratio: 313/360;
    object-fit: fill;
  }
  .img1 {
    width: 30%;
    border-radius: 7vw 0 0 0;
    rotate: 354deg;
  }
  .img2 {
    width: 30%;
    border-radius: 0 0 7vw 0;
    rotate: 10deg;
    margin-top: 5%;
  }
  .img3 {
    width: 27%;
    border-radius: 0 7vw 0 0;
    rotate: 350deg;
  }

  @media screen and (max-width: 767px) {
    .heading {
      font-size: 12vw;
    }
    .para {
      font-size: 2.7vw;
      margin-left: 0 !important;
    }
    .heading img {
      width: 5% !important;
    }
  }

  .img2-animate,
  .img1-animate {
    display: inline-block;
  }
</style>

<style is:global>
  .comp4Title * {
    font-family: "Deutschlander";
    text-transform: uppercase;
    font-size: 6.8vw;
    font-weight: 400;
    font-style: normal;
    line-height: 0.85;
  }

  @media screen and (max-width: 767px) {
    .comp4Title * {
      font-size: 12vw;
    }
  }
</style>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import Eases from "gsap";
  gsap.registerPlugin(ScrollTrigger);
  (window as any).ScrollTrigger = ScrollTrigger;
  setTimeout(() => {
    ScrollTrigger.refresh();
  }, 2000);

  let tl = gsap.timeline();
  tl.from(".sectionAnimate", {
    opacity: 0,
    scrollTrigger: {
      trigger: ".sectionAnimate",
      start: "top 70%",
      end: "bottom 55%",

      scrub: true,
    },
  })
    .from(".img-animate", {
      opacity: 0,

      scrollTrigger: {
        trigger: ".img-animate",
        start: "top 90%",
        end: "bottom 80%",
        scrub: true,
      },
    })
    .from(".img2-animate", {
      x: "50%",
      rotate: "80",
      opacity: 0,
      scrollTrigger: {
        trigger: ".img2-animate",
        start: "top 80%",
        end: "bottom 80%",

        scrub: true,
      },
    });
</script>
