---
import yellowDiamond from "../src/images/yellowDiamond.png";
import caseStudyImg from "../src/images/caseStudyImg.png";
import caseStudy2 from "../src/images/caseStudy2.png";
import paraDiamond from "../src/images/paraDiamond.png";
import blackDiamond from "../src/images/blackDiamond.png";
import heroImg from "../src/images/heroImg.png";
import videoHolder from "../src/images/videoHolder.png";
import myntra from "../src/images/myntra.png";
import nautica  from "../src/images/nautica.png";

import { contentfulClient } from "../../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { Document } from "@contentful/rich-text-types";



const props = Astro.props;


---
 <section >
   <img src={props.herobanner} style="width: 100%;" alt="">

   <div style="background-color: #1a1a1a; display:flex; justify-content: center; padding-bottom: 16%;">
     
     
     <div class="midDiv " >
     <div class="border-box" style="padding:1%"> <span>Technology</span>
     </div>
     <div class="border-box" > <span   set:html={props.whichTechnology}></span>
     </div>
      <div class="heading" set:html={props.heroTitle} >
       
        
     </div>
     </div>
    
  
      
   </div>

   <div class="row">
    <div class="col-6 client" >
      <div class="smDiv" >
        <p>client</p>
        <span set:html={props.clientInfo}></span>
      </div>
    
    </div>
    <div class="col-6 solution" >
      <div class="smDiv">
        <p >solution</p>
      <span set:html={props.solutionInfo}></span>
      </div>
      
    </div>
   </div>

   <div style="background-color: #1a1a1a;">
    <div class="margins img" >
      <img  src={props.heroVideo} alt="">
      </div>
   </div>

<div style="background-color: #1a1a1a;">


<div class="d-flex margins " >
    <div class="heroContent " >
      <span class="para" set:html={props.heroContent} >
       
      </span>
     
      <div class="row " style="margin-bottom: 2%; margin-top: 2%;">
        <div class="content-box numbers col-2" ><span>01</span>
        </div>
        <div class="col-10">
          <span class="pointerHead" set:html={props.pointerHead1}  ></span>
          <span class="numbersText " set:html={props.contentPointers1}></span>
        </div>
        
      
      </div>

      { props.contentPointers2  && 
         <div class="row ">
        <div class="content-box numbers col-2" >02</div>
        <div class="col-10">
          <span class="pointerHead" set:html={props.pointerHead2} ></span>
          <span class="numbersText " set:html={props.contentPointers2}></span>
        </div>
        
      
      </div>

      }
     

        
    </div>
    

  <div  style="width: 90%;  flex-direction: column;" >
    <div style="display:flex; justify-content: end;" >
    <img style="width: 60%;  border-radius: 14vw 0 0 0 ;" src={props.herobanner2} alt="">

    </div>
    
    <div style="display:flex; justify-content:center; margin-left: 35%; margin-top:3%">
      <img class="brands b1" src={props.brandLogo1} alt="">
      {
        props.brandLogo2 && <img class="brands b2" src={props.brandLogo2} alt="">
      }
      
    </div>
      
   

</div>
   
</div>

</div>

  


 </section>




<style>
    
 
  .heading{
    
    color: white;
    font-family: "Deutschlander";
    text-transform: uppercase;
    font-size: 10.5vw;
    font-weight: 400;
    font-style: normal;
    line-height: 0.85;
    text-align: center;
   
    background-color: #1a1a1a;
   
   
  }
  .border-box{
    background-color: #1a1a1a;
    text-align: center;
    padding: 0.3vw;
    margin-top: 4%;
    margin-bottom: 2%;
    width: 9vw;
    border-radius: 3.5px;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.65;
    border: 1px solid grey;
    text-decoration: none;

    }
    .border-box span{
      font-family: 'anek devanagari';
      font-size: 0.75vw;

      font-weight: 300;
      color: white;
      text-transform: uppercase;
      vertical-align: middle;
      
      
    }

    .midDiv{
      position: absolute;
       top:35vw;
       background-color: #1a1a1a;
   
    width: 65%;
    text-align: center;
    border-radius: 5px;
    padding-bottom: 2%;
    }

    .client, .solution{
      text-align: center;
      border: 1px solid grey;
      background-color: #282727;
     
    }

    .client p, .solution p{
      font-family: 'anek devanagari';
      color: grey;
      text-transform: uppercase;
      
    }

    .client span, .solution span{
    color: white;
    font-family: "Deutschlander";
    text-transform: uppercase;
    font-size: 4.5vw;
    font-weight: 400;
    font-style: normal;
    line-height: 0.85;
   
    }

    .smDiv{
      text-align: left;
      margin-left: 20% !important;
      margin: 5%;
    }

    .img img{
        width:100%;
        border-radius:0 6vw 0 6vw
    }

    .margins {
    margin-left: 7%;
    margin-right: 7%;
    padding-top: 5%;
  }
  .heroContent{
    
    text-align: justify;
    width: 65%; 
   
    padding-top: 6%;
    padding-bottom: 5%;
  }
.para{
  font-family: 'anek devanagari';
    font-size: 1.3vw;
    line-height: 1.8;
    letter-spacing: 0.05vw;
    color: white;
    max-height: 20rem;
    overflow: scroll;
    display: inline-block;
}
@media screen and (max-width:1475px){
  .para{
    height: 15rem;
  }
}
@media screen and (max-width:1275px){
  .para{
    height: 12rem;
  }
}
@media screen and (max-width:920px){
  .para{
    height: 9rem;
  }
}

  .numbers{
    background-color: #e5ff53;
    border-radius: 0.5vw ;
     width:15.8%;
     
     text-align: center;
     font-family: Deutschlander;
     font-size: 4vw;
     height: fit-content;
     margin-top: 5%;
     
  }

  .numbersText{
    color: aliceblue;
    
      margin-left: 3%;
      font-family: Deutschlander;
     font-size: 3.8vw;
     text-transform: uppercase;
     line-height: 0.9;
     
     
  }


  .brands{
    width: 23%;
  }
  .b1{
    margin-right: 6%;
  }

 .pointerHead{
   color: #bac0c5;
   font-family: 'anek devanagari';
   text-transform: uppercase;
   letter-spacing: 1px;
   font-size: 1.25vw;
   display: inline-block;
 }

}



</style>



