---
import yellowDiamond from "../src/images/yellowDiamond.png";
import caseStudyImg from "../src/images/caseStudyImg.png";
import caseStudy2 from "../src/images/caseStudy2.png";
import paraDiamond from "../src/images/paraDiamond.png";
import blackDiamond from "../src/images/blackDiamond.png";
import heroImg from "../src/images/heroImg.png";

import { contentfulClient } from "../../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { Document } from "@contentful/rich-text-types";


const props = Astro.props;


---
 <section>
   <img src={heroImg} style="width: 100%;" alt="">

   <div style="background-color: #1a1a1a; display:flex; justify-content: center; padding-bottom: 16%;">
     
     
     <div class="midDiv " >
     <div class="border-box"> <span>Technology</span>
     </div>
     <div class="border-box"> <span>Gesture Recognition</span>
     </div>
      <div class="heading" >
       
        Experience the <u>joy of water</u>
     </div>
     </div>
    
  
      
   </div>

   <div class="row">
    <div class="col-6 client" >
      <div class="smDiv" >
        <p>client</p>
        <span>myntra & Nautica</span>
      </div>
    
    </div>
    <div class="col-6 solution" >
      <div class="smDiv">
        <p >solution</p>
      <span>Real time Gesture Recognition</span>
      </div>
      
    </div>
   </div>


 </section>


<!-- <section style="background-color: #1a1a1a; padding-top:4%">
 
        <div >
        <div class="d-flex margins ">
            <div class="heading" set:html={props.heroTitle}>
              
                
            </div>
           
            <div style="width: 40%; " >
                <img style="width: 18%; position:absolute; right:7vw;  border-radius: 9vw 0 0 0 ;" src={props.herobanner} alt="">
            </div>
        </div>

        <div class="d-flex div2">
           <div style="width: 50%;">
                <img class="image" src={props.herobanner2} alt="">
           </div> 
           <div class="para"  set:html={props.heroContent}>
                <img src={paraDiamond} alt="">
               

           </div>
        </div>

        <div class="bottomDiv row">
            <div class="col-2">
                <img src={blackDiamond} alt="">
                <span>Client:</span>
            </div>
            <div class="col-10" set:html={props.clientInfo}>
        
            </div>
        </div>
        <div class="bottomDiv2 row" >
            <div class="col-2">
                <img class="yellowDiamond" src={yellowDiamond} alt="">
                <span style="color:#e5ff53">Solutions:</span>
            </div>
            <div class="col-10 two" set:html={props.solutionInfo}>
                
            </div>
        </div>

        <div style="text-align: center;padding:10% 0 10% 0;">
            <h2 style="color:white">Carousel Coming sooon!</h2>
           
          </div>
        
    </div>

 
  

</section> -->

<style>
    
  /* .margins {
    margin-left: 7%;
    margin-right: 7%;
  }

  .heading{
    width: 60%;
    color: white;
  }

  .heading{
    font-family: "Deutschlander";
    text-transform: uppercase;
    font-size: 13.5vw;
    font-weight: 400;
    font-style: normal;
    line-height: 0.85;
    
  }
  .heading span{
    color:#e5ff53;
  }
  .heading img{
    width:5%;
  }
  
  .div2{
    margin-top: 4%;
  }
  .div2 .image{
    width: 88%;
    border-radius: 0 5vw 0 5vw ;
  }

  
  .para{
    color: white;
    text-align: justify;
    width: 50%; margin-right: 5%;
    font-family: 'anek devanagari';
    font-size: 1.7vw;
    
    
  
  }

  .para img{
    width: 2%;
  }
  .para span{
    color: #e5ff53;
  }

  .bottomDiv{
    background-color: #e5ff53;
    padding: 1%;
    
  }
  .div2{
    margin-bottom: 4%;
  }
  
  .col-2 img{
    width: 4%;
  }
  .col-2{
    text-align: center;
  }

  .col-2 span{
    font-family: 'anek devanagari';
    font-weight: 500;
    
  }

  .col-10 {
    font-family: 'anek devanagari';
    font-weight: 500;
   
  }
  .two{
    color: white;
  }

  .bottomDiv2{
    
    padding: 1%;
    border-bottom: 1px solid rgb(156, 155, 155);
  }

  .yellowDiamond{
    width: 3% !important;
  } */
  .heading{
    
    color: white;
    font-family: "Deutschlander";
    text-transform: uppercase;
    font-size: 10.5vw;
    font-weight: 400;
    font-style: normal;
    line-height: 0.85;
    text-align: center;
   
    background-color: #1a1a1a;
   
   
  }
  .border-box{
    background-color: #1a1a1a;
    text-align: center;
    padding: 0.3vw;
    margin-top: 6%;
    margin-bottom: 4%;
    width: 9vw;
    border-radius: 3.5px;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.65;
    border: 1px solid grey;

    }
    .border-box span{
      font-family: 'anek devanagari';
      font-size: 0.75vw;

      font-weight: 300;
      color: white;
      text-transform: uppercase;
      vertical-align: middle;
    }

    .midDiv{
      position: absolute;
       top:35vw;
       background-color: #1a1a1a;
        
    padding-left:8%;
    padding-right:8%;
    width: 50%;
    text-align: center;
    border-radius: 5px;
    padding-bottom: 3%;
    }

    .client, .solution{
      text-align: center;
      border: 1px solid grey;
      background-color: #282727;
     
    }

    .client p, .solution p{
      font-family: 'anek devanagari';
      color: grey;
      text-transform: uppercase;
      
    }

    .client span, .solution span{
    color: white;
    font-family: "Deutschlander";
    text-transform: uppercase;
    font-size: 4.5vw;
    font-weight: 400;
    font-style: normal;
    line-height: 0.35;
   
    }

    .smDiv{
      text-align: left;
      margin-left: 20% !important;
      margin: 5%;
    }

}



</style>



