---
import Layout from "../layouts/Layout.astro";
import downArrow from "../images/downArrow.png";
import officeImg from "../images/officeImg.png";
import Reliance from "../src/images/Reliance.png";
import RealianceB from "../src/images/RealianceB.png";
import cocacola from "../src/images/cocacola.png";
import Vodafone from "../src/images/Vodafone.png";
import Capgemini from "../src/images/Capgemini.png";
import bestseller from "../src/images/bestseller.png";
import signBrand from "../src/images/signBrand.png";
import hindware from "../src/images/hindware.png";
import imgTags from "../src/images/imgTags.png";
import members1 from "../src/images/members1.png";
import Header from "../components/Header.astro";
import carousalNext from "../images/carousalNext.png";
import carousalPrev from "../images/carousalPrev.png";
---

<Layout title="Ink In Caps - About Us">
  <section class="margins">
    <div style="padding-top: 3%;">
      <div id="main">
        <div id="div1">
          <span>DEDUCE ENGAGE ENABLE</span>
        </div>
      </div>
      <div id="main2">
        <div id="div1" class="paraDiv">
          <span class="para"
            >INK IN CAPS is a creative technology company that produces digital
            interactions for brands to create maximum engagement with the target
            audience. Our focus is on creating new and dynamic solutions for our
            client’s challenges across multiple platforms.</span
          >
        </div>
        <div style="margin-bottom: 3.5%; margin-top: 2%;">
          <button type="button" class="btn btn-dark">
            <span>Our Services</span></button
          >
          <a href="#teamInfo">
            <span class="knowMore">
              Slide To Know More &nbsp;<img
                style="width: 0.75rem;"
                src={downArrow}
                alt=""
              />
            </span>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section style="margin-top:3%;">
    <img src={officeImg} alt="" style="height:100%;width:100%; " />
    <div
      style="background-color: #1a1a1a; border-radius: 0 0 6vw 6vw;"
      id="teamInfo"
    >
      <div class="row margins">
        <div
          class="col-lg-5 col-md-5 col-sm-12 btmImg margins"
          style="padding-left: 3%;"
        >
          <div class="btmImgHead">
            <span
              >WE'RE AN
              <span style="color:#e5ff53">EXPERIMENTAL</span>
              <span style="color:#e5ff53">DESIGN & TECH</span>
              COMPANY</span
            >
          </div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-0 data">
          <div class="d-flex">
            <div class="content-box numbers">50+</div>
            <span class="numbersText">team members</span>
          </div>
          <br />
          <div class="d-flex">
            <div class="content-box numbers">10+</div>
            <span class="numbersText">years in the market</span>
          </div>
          <br />
          <div class="d-flex">
            <div class="content-box numbers">100+</div>
            <span class="numbersText">projects delivered</span>
          </div>
          <br />
          <div class="d-flex">
            <div class="content-box numbers">12</div>
            <span class="numbersText">awards won</span>
          </div>
        </div>
      </div>
      <div class="margins onlyMob" style="padding-bottom: 5% !important;">
        <div class="row">
          <div class="col-6">
            <div class="content-box numbers">50+</div>
            <span class="numbersText">team members</span>
          </div>
          <br />
          <div class="col-6">
            <div class="content-box numbers">10+</div>
            <span class="numbersText">years in the market</span>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <div class="content-box numbers">100+</div>
            <span class="numbersText">projects delivered</span>
          </div>

          <div class="col-6">
            <div class="content-box numbers">12</div>
            <span class="numbersText">awards won</span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section style="margin-top: 3%; margin-bottom: 3%;">
    <div style="margin-left: 8%;">
      <div id="main">
        <div id="div1">
          <span style="margin-left: 1%;">BRANDS WE'VE WORKED WITH</span>
        </div>
      </div>
      <tr>
        <td class="img"> <img class="imgs" src={Reliance} alt="" /></td>
        <td class="img"> <img class="imgs" src={Capgemini} alt="" /></td>
        <td class="img"> <img class="imgs" src={Vodafone} alt="" /></td>
        <td class="img"> <img class="imgs" src={bestseller} alt="" /></td>
        <td class="img"> <img class="imgs" src={signBrand} alt="" /></td>
      </tr>
      <br />

      <tr>
        <td class="img"> <img class="imgs" src={cocacola} alt="" /></td>
        <td class="img"> <img class="imgs" src={hindware} alt="" /></td>
        <td class="img"> <img class="imgs" src={bestseller} alt="" /></td>
        <td class="img"> <img class="imgs" src={Capgemini} alt="" /></td>
        <td class="img"> <img class="imgs" src={Reliance} alt="" /></td>
      </tr>
      <br />
      <tr>
        <td class="img"> <img class="imgs" src={signBrand} alt="" /></td>
        <td class="img"> <img class="imgs" src={Capgemini} alt="" /></td>
        <td class="img"> <img class="imgs" src={RealianceB} alt="" /></td>
        <td class="img"> <img class="imgs" src={Vodafone} alt="" /></td>
        <td class="img"> <img class="imgs" src={hindware} alt="" /></td>
      </tr>
      <br />
      <tr>
        <td class="img"> <img class="imgs" src={Reliance} alt="" /></td>
        <td class="img"> <img class="imgs" src={Capgemini} alt="" /></td>
        <td class="img"> <img class="imgs" src={Vodafone} alt="" /></td>
        <td class="img"> <img class="imgs" src={bestseller} alt="" /></td>
        <td class="img"> <img class="imgs" src={signBrand} alt="" /></td>
      </tr>
    </div>
  </section>

  <section
    style="border-radius: 6vw 6vw 0 0; background-color:#1a1a1a ; padding-top: 1.5%; padding-bottom: 4%;"
  >
    <div class="margins" style="margin-left: 9%">
      <span class="meet">MEET&nbsp;</span>
      <span class="theTeam"> THE TEAM.</span>
    </div>
    <div style="text-align: center;">
      <div style="padding:7% 0 ; " class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div>
              <img class="members" src={members1} alt="" />
              <div class="imgCaptionDiv">
                <span class="memberName"> Manish Tiwari</span>
                <p class="memberDsgn">Senior Graphic Designer</p>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div>
              <img class="members" src={members1} alt="" />
              <div class="imgCaptionDiv">
                <span class="memberName"> Manish Tiwari</span>
                <p class="memberDsgn">Senior Graphic Designer</p>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div>
              <img class="members" src={members1} alt="" />
              <div class="imgCaptionDiv">
                <span class="memberName"> Manish Tiwari</span>
                <p class="memberDsgn">Senior Graphic Designer</p>
              </div>
            </div>
          </div>
        </div>
        <img class="swiper-prev" src={carousalPrev} alt="" />

        <img class="swiper-next" src={carousalNext} alt="" />
      </div>
    </div>

    <!-- <div class="margins onlyDeskMission row">
      <div class="col-6 d-flex" style="justify-content: end;">
        <div class="content-box missions vision">
          OUR VISION <span
            style="color:white; opacity:50%; font-size: 1rem; font-family: 'anek devanagari'; display:block"
            >Hover here to see our visions</span
          >
        </div>
      </div>
      <div class="col-6">
        <div class="content-box missions mission">
          OUR MISSON <span
            style="color:white; opacity:50%; font-size: 1rem; font-family: 'anek devanagari'; display:block"
            >Hover here to see our missions</span
          >
        </div>
      </div>
    </div>

    <div class="mobMission margins">
      <span>Our</span>
      <span class="yellow-text">vision</span>

      <li>Lorem ipsum dolor sit amet, consectetuer</li>
      <li>Lorem ipsum dolor sit amet, consectetuer</li>
      <li>Lorem ipsum dolor sit amet, consectetuer</li>
      <li>Lorem ipsum dolor sit amet, consectetuer</li>
    </div>
    <div class="mobMission margins" style="border:none">
      <span>Our</span>
      <span class="yellow-text">Misiion</span>

      <li>Lorem ipsum dolor sit amet, consectetuer</li>
      <li>Lorem ipsum dolor sit amet, consectetuer</li>
      <li>Lorem ipsum dolor sit amet, consectetuer</li>
      <li>Lorem ipsum dolor sit amet, consectetuer</li>
    </div> -->
  </section>

  <style>
    /*  caroousal css */
    .members {
      border: 10px solid white;
      width: 70%;
    }
    .members::before {
      content: url("../src/images/imgTags.png");
    }

    .imgCaptionDiv {
      margin-top: 7%;
      display: none;
    }
    .memberName {
      font-family: "Deutschlander";
      text-transform: uppercase;
      color: white;
      font-size: 8vw;
      line-height: 1;
    }
    .memberDsgn {
      font-family: "Anek Devanagari";
      text-transform: capitalize;
      font-size: 2vw;
      color: white;
      opacity: 70%;
    }

    .swiper {
      width: 100%;
    }

    .swiper-slide {
      text-align: center;
      /* font-size: 18px; */

      display: flex;
      justify-content: center;
      align-items: center;
    }
    .swiper-slide-active .imgCaptionDiv {
      display: block !important;
    }

    /* .swiper-slide img {
      display: block;
      width: 90%;
      height: 100%;
      object-fit: cover;
      aspect-ratio: 4/5;
    } */

    .swiper-next,
    .swiper-prev {
      width: 6%;
    }
    .swiper-prev {
      transform: translate(-243%, -512%);
    }
    .swiper-next {
      transform: translate(243%, -512%);
      z-index: 999 !important;
      position: inherit;
    }

    /* mob view css */
    @media screen and (min-width: 768px) {
      .onlyMob {
        display: none !important;
      }
      .mobMission {
        display: none !important;
      }
    }
    @media screen and (max-width: 767px) {
      .data {
        display: none;
      }
      .btmImg {
        margin-left: 0 !important;
        padding-left: 0 !important;
      }
      .numbersText {
        margin-left: 0 !important;
        font-size: 9vw !important;
      }
      .numbers {
        width: 14vw !important;
        font-size: 8vw !important;
        border-radius: 0 1.5vw 0 1.5vw !important;
      }
      .btmImgHead {
        width: 80% !important;
        font-size: 16vw !important;
      }
      #main #div1 span {
        font-size: 16vw !important ;
      }
      #main2 #div1 span {
        font-size: 3vw !important;
      }

      .onlyDeskMission {
        display: none !important;
      }
      .mobMission span {
        font-family: "Deutschlander";
        text-transform: uppercase;
        font-size: 15vw;
        font-weight: 400;
        font-style: normal;
        color: white;
      }
      .meet,
      .theTeam {
        font-size: 15vw !important;
      }
      .yellow-text {
        color: #e5ff53 !important;
      }
      .mobMission li {
        font-size: 3.5vw;
        font-family: "Anek Devanagari";
        color: white;
        opacity: 60%;
        line-height: 2.2;
        font-weight: 300;
      }
      .mobMission {
        border-bottom: 1px solid rgb(144, 142, 142);
        padding-bottom: 3%;
      }
    }
    .data {
    }

    .btmImgHead {
      width: 90%;
      line-height: 1;
    }
    #main {
      line-height: 1 !important;
    }

    #main #div1 span {
      font-family: "Deutschlander";
      text-transform: uppercase;
      font-size: 13vw;
      font-weight: 400;
      font-style: normal;
      /* padding-top: 2%; */
    }

    #main #div2 {
      padding-left: 3%;
    }

    #main2 #div1 span {
      font-size: 1.5vw;
      font-family: "Anek Devanagari";
      text-align: justify;
    }

    .para {
      display: block;
      opacity: 75%;
      width: 83%;
    }

    .margins {
      margin-left: 7%;
      margin-right: 7%;
    }

    .btn-dark {
      border-radius: 24px;
      font-family: "Anek Devanagari";
      font-size: larger;
      margin-right: 1.5%;
    }
    .btn-dark span {
      font-size: 0.8rem;
      margin: 0 15px 0 15px;
    }

    .knowMore {
      font-family: "anek devanagari";
      font-weight: 550;
    }

    .btmImg {
      font-family: "Deutschlander";
      text-transform: uppercase;
      color: white;
      font-size: 9.5vw;
      line-height: 0.8 !important;
      margin-top: 7%;
      padding-bottom: 5%;
    }

    .data {
      margin-top: 7.5%;
    }
    .numbers {
      background-color: #e5ff53;
      border-radius: 0 1vw 0 1vw;
      width: 15.8%;

      text-align: center;
      font-family: Deutschlander;
      font-size: 4.6vw;
    }

    .numbersText {
      color: aliceblue;

      margin-left: 3%;
      font-family: Deutschlander;
      font-size: 4.6vw;
      text-transform: uppercase;
    }

    .img {
      margin: 10%;
    }
    .imgs {
      width: 14.5%;
      margin: 1.2%;
    }

    .meet {
      color: white;
      font-family: "Deutschlander";
      font-style: normal;
      font-weight: 400;
      font-size: 12.5vw;
      src: local("Deutschlander"), url("/Deutschlander.woff") format("woff");
    }
    .theTeam {
      color: #e5ff53;
      font-family: "Deutschlander";
      font-style: normal;
      font-weight: 400;
      font-size: 12.5vw;
      src: local("Deutschlander"), url("/Deutschlander.woff") format("woff");
    }

    .missions {
      background-color: #1a1a1a;

      width: 60.8%;
      color: white;
      text-align: center;
      font-family: Deutschlander;
      font-size: 6.6vw;
      border: 1px solid white;
      line-height: 1 !important;
      padding: 7% 0 7% 0;
    }
    .vision {
      border-radius: 0 2vw 2vw 2vw;
    }
    .mission {
      border-radius: 2vw 2vw 0 2vw;
    }
    a {
      text-decoration: none;
    }
  </style>

  <script>
    import {
      Swiper,
      Navigation,
      Pagination,
      EffectCoverflow,
      Autoplay,
      EffectCreative,
    } from "swiper";
    let x = 3;
    var swiper = new Swiper(".mySwiper", {
      modules: [Navigation, Autoplay, EffectCreative],
      effect: "creative",
      grabCursor: true,
      centeredSlides: true,
      slidesPerView: 3,
      spaceBetween: 20,
      loop: true,
      navigation: {
        nextEl: ".swiper-next",
        prevEl: ".swiper-prev",
      },
      creativeEffect: {
        prev: {
          // will set `translateZ(-400px)` on previous slides
          rotate: [0, 0, -12],
          translate: ["-105%", "15%", 0],
          scale: 0.85,
        },
        next: {
          // will set `translateX(100%)` on next slides
          rotate: [0, 0, -12],
          translate: ["105%", "-6%", 0],
          scale: 0.85,
        },
      },

      autoplay: {
        delay: 2000,
      },

      // pagination: {
      //   el: ".swiper-pagination",
      //   clickable: true,
      // },
    });
  </script>
</Layout>
