---
import Layout from "../layouts/Layout.astro";
import awards from "../images/awards.png";
import hiringImg1 from "../images/hiringImg1.jpg";
import viewAwardsBtn from "../images/viewAwardsBtn.png";
import rotatingView from "../images/rotatingView.png";
import centerArrow from "../images/centerArrow.png";
import viewProjectBtn from "../images/viewProjectBtn.png";
import momento from "../images/momento.png";
import momentoIcon2 from "../images/momentoIcon2.png";
import awardsPrev from "../images/awardsPrev.png";
import awardsNext from "../images/awardsNext.png";
import dgplus from "../images/dgplus.png";
import awardsNew from "../images/awardsNew.jpg";

import foxglove from "../images/foxglove.png";
import kaleido from "../images/kaleido.png";
import futech from "../images/futech.png";
import futech2 from "../images/futech2.png";
import kaleido2 from "../images/kaleido2.png";
import edcaGold from "../images/edcaGold.png";
import digies from "../images/digies.png";
import digies2 from "../images/digies2.png";
import wowImage2 from "../images/wowImage2.png";
import wowImage from "../images/wowImage.png";
import wowBrand from "../images/wowBrandImg.png";

//import { Image, Picture } from "@astrojs/image/components";

import { gsap } from "gsap";
---

<Layout title="Awards" seoTitle="awards">
  <section style="padding-top: 3.5%;">
    <div class="row mob stickyDiv">
      <div class="col-lg-8 col-md-8 col-sm-12" style="overflow: hidden;">
        <span class="title title1">Awards &</span>
        <div class="makeInline">
          <div class="imgDiv">
            <img class="titleImg" src={awardsNew} alt="" />
          </div>

          <span class="title title2">Recognition</span>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <a
          href="#awardsList"
          style="width: fit-content; display:contents"
          aria-label="awards list"
          ><img src={rotatingView} class="viewAwardsBtn" alt="" />
          <img class="centerArrow" src={centerArrow} alt="" />
        </a>
      </div>
    </div>
    <img class="" style="width:100%;" src={awardsNew} alt="" />
  </section>

  <section style="padding: 5% 2%;">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="row desktopSlider">
            <div class="col-7 leftSide">
              <div class="award-name">
                <span> Marketers' excellence</span>
              </div>
              <div class="award-category">
                <span class="category-name">best brand activation</span>
                <span class="year">(gold) - 2022</span>
              </div>

              <div class="project">
                <div class="row">
                  <div class="col-1 projectNum">
                    <span class="index">01</span>
                    <span class="length">/22</span>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-5 projectName">
                    <p>PROJECT:</p>
                    <span>pro kabaddi league</span>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3">
                    <img
                      class="viewProject"
                      src={viewProjectBtn}
                      alt=""
                      loading="lazy"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4 awardImgDiv">
              <div class="awardImg">
                <img class="momento" src={momento} alt="" loading="lazy" /><br
                />
                <img
                  class="momentoIcon"
                  src={momentoIcon2}
                  alt=""
                  loading="lazy"
                />
              </div>
            </div>
          </div>

          <div class="onlyMob">
            <div class="mb-award-name">
              <span>Marketer's excellence</span>
            </div>
            <div class="d-flex">
              <div style="width: 45%;">
                <div class="mb-award-category">
                  <span class="category-name">best brand activation</span>
                  <span class="year">(gold) - 2022</span>
                </div>
              </div>
              <div style="width:50%">
                <div class="mb-awardImg">
                  <img
                    class="mb-momento"
                    src={momento}
                    alt=""
                    loading="lazy"
                  /><br />
                  <img
                    class="mb-momentoIcon"
                    src={momentoIcon2}
                    alt=""
                    loading="lazy"
                  />
                </div>
              </div>
            </div>

            <div>
              <div class="mb-project">
                <div class="d-flex">
                  <div style="width: 20%;">
                    <span class="mb-index">01</span>
                    <span class="mb-length">/22</span>
                  </div>
                  <div class="mb-projectName" style="width: 50%;">
                    <p>PROJECT:</p>
                    <span>pro kabaddi league</span>
                  </div>
                  <div style="width: 30%;">
                    <a href="" aria-label="view project">
                      <img
                        class="mb-viewProject"
                        src={viewProjectBtn}
                        alt=""
                        loading="lazy"
                      />
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="swiper-slide">
          <div class="row desktopSlider">
            <div class="col-7 leftSide">
              <div class="award-name">
                <span>India DigiPlus</span>
              </div>
              <div class="award-category">
                <span class="category-name">Media & Entertainment</span>
                <span class="year">2023</span>
              </div>

              <div class="project">
                <div class="row">
                  <div class="col-1 projectNum">
                    <span class="index">02</span>
                    <span class="length">/22</span>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-5 projectName">
                    <p>PROJECT:</p>
                    <span>pro kabaddi league</span>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3">
                    <a href="" aria-label="view project">
                      <img
                        class="viewProject  "
                        src={viewProjectBtn}
                        alt=""
                        loading="lazy"
                      />
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4 awardImgDiv">
              <div class="awardImg">
               <img
                  class="  momento"
                  src={dgplusNew}
                  alt=""
                  loading="lazy"
                /><br />
               <img
                  class="momentoIcon  "
                  src={momentoIcon2}
                  alt=""
                  loading="lazy"
                />
              </div>
            </div>
          </div>

          <div class="onlyMob">
            <div class="mb-award-name">
              <span>Media & Entertainment</span>
            </div>
            <div class="d-flex">
              <div style="width: 45%;">
                <div class="mb-award-category">
                  <span class="category-name">Media & Entertainment</span>
                  <span class="year">2023</span>
                </div>
              </div>
              <div style="width:50%">
                <div class="mb-awardImg">
                  <img
                    class="mb-momento   resize"
                    src={dgplusNew}
                    alt=""
                    loading="lazy"
                  /><br />
                  <img
                    class="mb-momentoIcon  "
                    src={momentoIcon2}
                    alt=""
                    loading="lazy"
                  />
                </div>
              </div>
            </div>

            <div>
              <div class="mb-project">
                <div class="d-flex">
                  <div style="width: 20%;">
                    <span class="mb-index">02</span>
                    <span class="mb-length">/22</span>
                  </div>
                  <div class="mb-projectName" style="width: 50%;">
                    <p>PROJECT:</p>
                    <span>pro kabaddi league</span>
                  </div>
                  <div style="width: 30%;">
                    <a href="" aria-label="view project">
                      <img
                        class="mb-viewProject  "
                        src={viewProjectBtn}
                        loading="lazy"
                        alt=""
                      />
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <!-- kaleido -->
        <div class="swiper-slide">
          <div class="row desktopSlider">
            <div class="col-7 leftSide">
              <div class="award-name">
                <span>Kaleido Awards</span>
              </div>
              <div class="award-category">
                <span class="category-name">Retail & E-Commerce</span>
                <span class="year">2023</span>
              </div>

              <div class="project">
                <div class="row">
                  <div class="col-1 projectNum">
                    <span class="index">02</span>
                    <span class="length">/22</span>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-5 projectName">
                    <p>PROJECT:</p>
                    <span>Nautica</span>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3">
                    <a href="" aria-label="view project">
                      <img
                        class="viewProject"
                        src={viewProjectBtn}
                        alt=""
                        loading="lazy"
                      />
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4 awardImgDiv">
              <div class="awardImg">
                <img
                  class="momento resize"
                  src={kaleido}
                  alt=""
                  loading="lazy"
                /><br />
                <img class="momentoIcon" src={kaleido2} alt="" loading="lazy" />
              </div>
            </div>
          </div>

          <div class="onlyMob">
            <div class="mb-award-name">
              <span>kaleido</span>
            </div>
            <div class="d-flex">
              <div style="width: 45%;">
                <div class="mb-award-category">
                  <span class="category-name">Retail & E-Commerce</span>
                  <span class="year">2023</span>
                </div>
              </div>
              <div style="width:50%">
                <div class="mb-awardImg">
                  <img
                    class="mb-momento resize"
                    src={kaleido}
                    alt=""
                    loading="lazy"
                  /><br />
                  <img
                    class="mb-momentoIcon kaleido"
                    src={kaleido2}
                    alt=""
                    loading="lazy"
                  />
                </div>
              </div>
            </div>

            <div>
              <div class="mb-project">
                <div class="d-flex">
                  <div style="width: 20%;">
                    <span class="mb-index">02</span>
                    <span class="mb-length">/23</span>
                  </div>
                  <div class="mb-projectName" style="width: 50%;">
                    <p>PROJECT:</p>
                    <span>Nautica</span>
                  </div>
                  <div style="width: 30%;">
                    <a href="" aria-label="view project">
                      <img
                        class="mb-viewProject"
                        src={viewProjectBtn}
                        loading="lazy"
                        alt=""
                      />
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- futech -->

        <div class="swiper-slide">
          <div class="row desktopSlider">
            <div class="col-7 leftSide">
              <div class="award-name">
                <span>Futech Awards</span>
              </div>
              <div class="award-category">
                <span class="category-name">Best use of AR/VR</span>
                <span class="year">(Silver) - 2023</span>
              </div>

              <div class="project">
                <div class="row">
                  <div class="col-1 projectNum">
                    <span class="index">03</span>
                    <span class="length">/22</span>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-5 projectName">
                    <p>PROJECT:</p>
                    <span>Rudra</span>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3">
                    <a href="" aria-label="view project">
                      <img
                        class="viewProject"
                        src={viewProjectBtn}
                        alt=""
                        loading="lazy"
                      />
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4 awardImgDiv">
              <div class="awardImg">
                <img
                  class="momento resize"
                  src={futech}
                  alt=""
                  loading="lazy"
                /><br />
                <img class="momentoIcon" src={futech2} alt="" loading="lazy" />
              </div>
            </div>
          </div>

          <div class="onlyMob">
            <div class="mb-award-name">
              <span>kaleido</span>
            </div>
            <div class="d-flex">
              <div style="width: 45%;">
                <div class="mb-award-category">
                  <span class="category-name">Best use of AR/VR</span>
                  <span class="year">(silver) - 2022</span>
                </div>
              </div>
              <div style="width:50%">
                <div class="mb-awardImg">
                  <img
                    class="mb-momento resize"
                    src={futech}
                    alt=""
                    loading="lazy"
                  /><br />
                  <img
                    class="mb-momentoIcon"
                    src={futech2}
                    alt=""
                    loading="lazy"
                  />
                </div>
              </div>
            </div>

            <div>
              <div class="mb-project">
                <div class="d-flex">
                  <div style="width: 20%;">
                    <span class="mb-index">03</span>
                    <span class="mb-length">/23</span>
                  </div>
                  <div class="mb-projectName" style="width: 50%;">
                    <p>PROJECT:</p>
                    <span>Rudra</span>
                  </div>
                  <div style="width: 30%;">
                    <a href="" aria-label="view project">
                      <img
                        class="mb-viewProject"
                        src={viewProjectBtn}
                        loading="lazy"
                        alt=""
                      />
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="row desktopSlider">
            <div class="col-7 leftSide">
              <div class="award-name">
                <span> Marketers' excellence</span>
              </div>
              <div class="award-category" style="font-size: 7vw;">
                <span class="category-name">best content marketing launch</span>
                <span class="year">(gold) - 2022</span>
              </div>

              <div class="project">
                <div class="row">
                  <div class="col-1 projectNum">
                    <span class="index">04</span>
                    <span class="length">/22</span>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-5 projectName">
                    <p>PROJECT:</p>
                    <span>ONLY - 2022</span>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3">
                    <img
                      class="viewProject"
                      src={viewProjectBtn}
                      alt=""
                      loading="lazy"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4 awardImgDiv">
              <div class="awardImg">
                <img class="momento" src={momento} alt="" loading="lazy" /><br
                />
                <img
                  class="momentoIcon"
                  src={momentoIcon2}
                  alt=""
                  loading="lazy"
                />
              </div>
            </div>
          </div>

          <div class="onlyMob">
            <div class="mb-award-name">
              <span>Marketer's excellence</span>
            </div>
            <div class="d-flex">
              <div style="width: 45%;">
                <div class="mb-award-category">
                  <span class="category-name"
                    >best content marketing launch</span
                  >
                  <span class="year">(gold) - 2022</span>
                </div>
              </div>
              <div style="width:50%">
                <div class="mb-awardImg">
                  <img
                    class="mb-momento"
                    src={momento}
                    alt=""
                    loading="lazy"
                  /><br />
                  <img
                    class="mb-momentoIcon"
                    src={momentoIcon2}
                    alt=""
                    loading="lazy"
                  />
                </div>
              </div>
            </div>

            <div>
              <div class="mb-project">
                <div class="d-flex">
                  <div style="width: 20%;">
                    <span class="mb-index">04</span>
                    <span class="mb-length">/22</span>
                  </div>
                  <div class="mb-projectName" style="width: 50%;">
                    <p>PROJECT:</p>
                    <span>ONLY - 2022</span>
                  </div>
                  <div style="width: 30%;">
                    <a href="" aria-label="view project">
                      <img
                        class="mb-viewProject"
                        src={viewProjectBtn}
                        alt=""
                        loading="lazy"
                      />
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="row desktopSlider">
            <div class="col-7 leftSide">
              <div class="award-name">
                <span> Marketers' excellence</span>
              </div>
              <div class="award-category">
                <span class="category-name">best use of vr</span>
                <span class="year">(silver) - 2022</span>
              </div>

              <div class="project">
                <div class="row">
                  <div class="col-1 projectNum">
                    <span class="index">05</span>
                    <span class="length">/22</span>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-5 projectName">
                    <p>PROJECT:</p>
                    <span>Rudra - 2022</span>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3">
                    <img
                      class="viewProject"
                      src={viewProjectBtn}
                      alt=""
                      loading="lazy"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4 awardImgDiv">
              <div class="awardImg">
                <img class="momento" src={momento} alt="" loading="lazy" /><br
                />
                <img
                  class="momentoIcon"
                  src={momentoIcon2}
                  alt=""
                  loading="lazy"
                />
              </div>
            </div>
          </div>

          <div class="onlyMob">
            <div class="mb-award-name">
              <span>Marketer's excellence</span>
            </div>
            <div class="d-flex">
              <div style="width: 45%;">
                <div class="mb-award-category">
                  <span class="category-name">best use of vr</span>
                  <span class="year">(silver) - 2022</span>
                </div>
              </div>
              <div style="width:50%">
                <div class="mb-awardImg">
                  <img
                    class="mb-momento"
                    src={momento}
                    alt=""
                    loading="lazy"
                  /><br />
                  <img
                    class="mb-momentoIcon"
                    src={momentoIcon2}
                    alt=""
                    loading="lazy"
                  />
                </div>
              </div>
            </div>

            <div>
              <div class="mb-project">
                <div class="d-flex">
                  <div style="width: 20%;">
                    <span class="mb-index">05</span>
                    <span class="mb-length">/22</span>
                  </div>
                  <div class="mb-projectName" style="width: 50%;">
                    <p>PROJECT:</p>
                    <span>Rudra - 2022</span>
                  </div>
                  <div style="width: 30%;">
                    <a href="" aria-label="view project">
                      <img
                        class="mb-viewProject"
                        src={viewProjectBtn}
                        alt=""
                        loading="lazy"
                      />
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="row desktopSlider">
            <div class="col-7 leftSide">
              <div class="award-name">
                <span> Marketers' excellence</span>
              </div>
              <div class="award-category">
                <span class="category-name">best use of technology</span>
                <span class="year">(bronze) - 2022</span>
              </div>

              <div class="project">
                <div class="row">
                  <div class="col-1 projectNum">
                    <span class="index">06</span>
                    <span class="length">/22</span>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-5 projectName">
                    <p>PROJECT:</p>
                    <span>Unmatched - Jack & Jones</span>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3">
                    <img
                      class="viewProject"
                      src={viewProjectBtn}
                      alt=""
                      loading="lazy"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4 awardImgDiv">
              <div class="awardImg">
                <img class="momento" src={momento} alt="" loading="lazy" /><br
                />
                <img
                  class="momentoIcon"
                  src={momentoIcon2}
                  alt=""
                  loading="lazy"
                />
              </div>
            </div>
          </div>

          <div class="onlyMob">
            <div class="mb-award-name">
              <span>Marketer's excellence</span>
            </div>
            <div class="d-flex">
              <div style="width: 45%;">
                <div class="mb-award-category">
                  <span class="category-name">best use of technology</span>
                  <span class="year">(bronze) - 2022</span>
                </div>
              </div>
              <div style="width:50%">
                <div class="mb-awardImg">
                  <img
                    class="mb-momento"
                    src={momento}
                    alt=""
                    loading="lazy"
                  /><br />
                  <img
                    class="mb-momentoIcon"
                    src={momentoIcon2}
                    alt=""
                    loading="lazy"
                  />
                </div>
              </div>
            </div>

            <div>
              <div class="mb-project">
                <div class="d-flex">
                  <div style="width: 20%;">
                    <span class="mb-index">06</span>
                    <span class="mb-length">/22</span>
                  </div>
                  <div class="mb-projectName" style="width: 50%;">
                    <p>PROJECT:</p>
                    <span>Unmatched - Jack & Jones</span>
                  </div>
                  <div style="width: 30%;">
                    <a href="" aria-label="view project">
                      <img
                        class="mb-viewProject"
                        src={viewProjectBtn}
                        alt=""
                        loading="lazy"
                      />
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- wow awards -->

        <div class="swiper-slide">
          <div class="row desktopSlider">
            <div class="col-7 leftSide">
              <div class="award-name">
                <span>WOW Awards Asia</span>
              </div>
              <div class="award-category">
                <span class="category-name"
                  >Promotion of the Year for Brand Awareness - Digital</span
                >
                <span class="year">(Gold) - 2022</span>
              </div>

              <div class="project">
                <div class="row">
                  <div class="col-1 projectNum">
                    <span class="index">07</span>
                    <span class="length">/22</span>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-5 projectName">
                    <p>PROJECT:</p>
                    <span>Unmatched - Jack & Jones</span>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3">
                    <img
                      class="viewProject"
                      src={viewProjectBtn}
                      alt=""
                      loading="lazy"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4 awardImgDiv">
              <div class="awardImg">
                <img
                  class="momento resize"
                  src={wowImage}
                  alt=""
                  loading="lazy"
                /><br />
                <img class="momentoIcon" src={wowBrand} alt="" loading="lazy" />
              </div>
            </div>
          </div>

          <div class="onlyMob">
            <div class="mb-award-name">
              <span>WOW Awards Asia</span>
            </div>
            <div class="d-flex">
              <div style="width: 45%;">
                <div class="mb-award-category">
                  <span class="category-name"
                    >Promotion of the Year for Brand Awareness - Digital</span
                  >
                  <span class="year">(Gold) - 2022</span>
                </div>
              </div>
              <div style="width:50%">
                <div class="mb-awardImg">
                  <img
                    class="mb-momento"
                    src={wowImage}
                    alt=""
                    loading="lazy"
                  /><br />
                  <img
                    class="mb-momentoIcon"
                    src={wowBrand}
                    alt=""
                    loading="lazy"
                  />
                </div>
              </div>
            </div>

            <div>
              <div class="mb-project">
                <div class="d-flex">
                  <div style="width: 20%;">
                    <span class="mb-index">07</span>
                    <span class="mb-length">/22</span>
                  </div>
                  <div class="mb-projectName" style="width: 50%;">
                    <p>PROJECT:</p>
                    <span>Unmatched - Jack & Jones</span>
                  </div>
                  <div style="width: 30%;">
                    <a href="" aria-label="view project">
                      <img
                        class="mb-viewProject"
                        src={viewProjectBtn}
                        alt=""
                        loading="lazy"
                      />
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="row desktopSlider">
            <div class="col-7 leftSide">
              <div class="award-name">
                <span>WOW Awards Asia</span>
              </div>
              <div class="award-category">
                <span class="category-name">Audience Engagement Technology</span
                >
                <span class="year">(Gold) - 2022</span>
              </div>

              <div class="project">
                <div class="row">
                  <div class="col-1 projectNum">
                    <span class="index">08</span>
                    <span class="length">/22</span>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-5 projectName">
                    <p>PROJECT:</p>
                    <span>Pro Kabaddi League</span>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3">
                    <img
                      class="viewProject"
                      src={viewProjectBtn}
                      alt=""
                      loading="lazy"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4 awardImgDiv">
              <div class="awardImg">
                <img
                  class="momento resize"
                  src={wowImage}
                  alt=""
                  loading="lazy"
                /><br />
                <img class="momentoIcon" src={wowBrand} alt="" loading="lazy" />
              </div>
            </div>
          </div>

          <div class="onlyMob">
            <div class="mb-award-name">
              <span>WOW Awards Asia</span>
            </div>
            <div class="d-flex">
              <div style="width: 45%;">
                <div class="mb-award-category">
                  <span class="category-name"
                    >Audience Engagement Technology</span
                  >
                  <span class="year">(Gold) - 2022</span>
                </div>
              </div>
              <div style="width:50%">
                <div class="mb-awardImg">
                  <img
                    class="mb-momento"
                    src={wowImage}
                    alt=""
                    loading="lazy"
                  /><br />
                  <img
                    class="mb-momentoIcon"
                    src={wowBrand}
                    alt=""
                    loading="lazy"
                  />
                </div>
              </div>
            </div>

            <div>
              <div class="mb-project">
                <div class="d-flex">
                  <div style="width: 20%;">
                    <span class="mb-index">08</span>
                    <span class="mb-length">/22</span>
                  </div>
                  <div class="mb-projectName" style="width: 50%;">
                    <p>PROJECT:</p>
                    <span>Pro Kabaddi League</span>
                  </div>
                  <div style="width: 30%;">
                    <a href="" aria-label="view project">
                      <img
                        class="mb-viewProject"
                        src={viewProjectBtn}
                        alt=""
                        loading="lazy"
                      />
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="row desktopSlider">
            <div class="col-7 leftSide">
              <div class="award-name">
                <span>WOW Awards Asia</span>
              </div>
              <div class="award-category">
                <span class="category-name"
                  >Innovation in Interactive Technology</span
                >
                <span class="year">(Bronze) - 2022</span>
              </div>

              <div class="project">
                <div class="row">
                  <div class="col-1 projectNum">
                    <span class="index">09</span>
                    <span class="length">/22</span>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-5 projectName">
                    <p>PROJECT:</p>
                    <span>Rudra</span>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3">
                    <img
                      class="viewProject"
                      src={viewProjectBtn}
                      alt=""
                      loading="lazy"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4 awardImgDiv">
              <div class="awardImg">
                <img
                  class="momento resize"
                  src={wowImage}
                  alt=""
                  loading="lazy"
                /><br />
                <img class="momentoIcon" src={wowBrand} alt="" loading="lazy" />
              </div>
            </div>
          </div>

          <div class="onlyMob">
            <div class="mb-award-name">
              <span>WOW Awards Asia</span>
            </div>
            <div class="d-flex">
              <div style="width: 45%;">
                <div class="mb-award-category">
                  <span class="category-name"
                    >Innovation in Interactive Technology</span
                  >
                  <span class="year">(Bronze) - 2022</span>
                </div>
              </div>
              <div style="width:50%">
                <div class="mb-awardImg">
                  <img
                    class="mb-momento"
                    src={wowImage}
                    alt=""
                    loading="lazy"
                  /><br />
                  <img
                    class="mb-momentoIcon"
                    src={wowBrand}
                    alt=""
                    loading="lazy"
                  />
                </div>
              </div>
            </div>

            <div>
              <div class="mb-project">
                <div class="d-flex">
                  <div style="width: 20%;">
                    <span class="mb-index">09</span>
                    <span class="mb-length">/22</span>
                  </div>
                  <div class="mb-projectName" style="width: 50%;">
                    <p>PROJECT:</p>
                    <span>Rudra</span>
                  </div>
                  <div style="width: 30%;">
                    <a href="" aria-label="view project">
                      <img
                        class="mb-viewProject"
                        src={viewProjectBtn}
                        alt=""
                        loading="lazy"
                      />
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <img class="swiper-button-prev" src={awardsPrev} loading="lazy" alt="" />
      <img class="swiper-button-next" src={awardsNext} loading="lazy" alt="" />
    </div>
  </section>

  <section class="bottomDiv" id="awardsList">
    <div style="margin-bottom: 2%; ">
      <span class="list">list of awards</span>
    </div>

    <div class="margins2">
      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <img
              src={dgplus}
              class="trial2 hoverImg foxdigi"
              alt=""
              loading="lazy"
            />2023 - Media & Entertainment</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>India DigiPlus Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <img
              src={kaleido}
              class="trial2 hoverImg"
              alt=""
              loading="lazy"
            />2023 - Retail & E-Commerce
          </span>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>Kaleido Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <img
              src={edcaGold}
              class="trial2 hoverImg"
              alt=""
              loading="lazy"
            />2023 - Best Visual Content- Special Events</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>EDCA Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <img
              src={edcaGold}
              class="trial2 hoverImg"
              alt=""
              loading="lazy"
            />2023 - Best technology engagement/interactivity</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>EDCA Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <img
              src={edcaGold}
              class="trial2 hoverImg"
              alt=""
              loading="lazy"
            />2023 - EDCA Tech Provider of the Year
          </span>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>EDCA Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <img
              src={edcaGold}
              class="trial2 hoverImg"
              alt=""
              loading="lazy"
            />2023 - Best Standalone Experience at a Brand Activation</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>EDCA Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <img
              src={edcaGold}
              class="trial2 hoverImg"
              alt=""
              loading="lazy"
            />2023 - Best Event Technology created for an event</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>EDCA Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <img
              src={edcaGold}
              class="trial2 hoverImg"
              alt=""
              loading="lazy"
            />2023 - Most Creative On Ground Marketing Campaign</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>EDCA Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <img
              src={futech}
              class="foxdigi trial2 hoverImg"
              alt=""
              loading="lazy"
            />2022 - Best Use of AR/VR (Silver)</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>FuTech Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <img
              src={momento}
              class="foxdigi trial2 hoverImg"
              alt=""
              loading="lazy"
            />2022 - Best Content Marketing Launch (Gold)</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>Marketers' Excellence Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <img
              src={momento}
              class="foxdigi trial2 hoverImg"
              alt=""
              loading="lazy"
            />2022 - Best Content Marketing Launch (Gold)</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>Marketers' Excellence Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <img
              src={momento}
              class="foxdigi trial2 hoverImg"
              alt=""
              loading="lazy"
            />2022 - Best Brand Activation (Gold)</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>Marketers' Excellence Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <img
              src={momento}
              class="foxdigi trial2 hoverImg"
              alt=""
              loading="lazy"
            />2022 - Best Use of VR (Silver)</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>Marketers' Excellence Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <img
              src={momento}
              class="foxdigi trial2 hoverImg"
              alt=""
              loading="lazy"
            />2022 - Best Use of Technology (Bronze)</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>Marketers' Excellence Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <img
              src={digies2}
              class="degies trial2 hoverImg"
              alt=""
              loading="lazy"
            />2022 - Best Use of Technology (Gold)</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>Afaqs Digies Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <img
              src={digies2}
              class="degies trial2 hoverImg"
              alt=""
              loading="lazy"
            />2022 - Best Use of Technology (Silver)</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>Afaqs Digies Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <img
              src={wowImage2}
              class="trial2 hoverImg"
              alt=""
              loading="lazy"
            />2022 - Promotion of the Year for Brand Awareness - Digital (Gold)</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>WOW Awards asia</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <img
              src={wowImage2}
              class="trial2 hoverImg"
              alt=""
              loading="lazy"
            />2022 - Audience Engagement Technology & Event App for the Year by
            Agencies (Gold)</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>WOW Awards asia</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <img
              src={wowImage2}
              class="trial2 hoverImg"
              alt=""
              loading="lazy"
            />2022 - Innovation in Interactive Technology (Bronze)</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>WOW Awards asia</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <img
              src={foxglove}
              class="foxglove trial2 hoverImg"
              alt=""
              loading="lazy"
            />2022 - Best Online Promotion (Silver)</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>Foxglove Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <img
              src={foxglove}
              class="foxglove trial2 hoverImg"
              alt=""
              loading="lazy"
            />2022 - Best Online Promotion (Bronze)</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>Foxglove Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <img
              src={foxglove}
              class="foxglove trial2 hoverImg"
              alt=""
              loading="lazy"
            />2022- Best Innovation in Digital (Bronze)</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>Foxglove Awards</span>
        </div>
      </div>

      <div class="row mobAward" style="border-bottom: 0;">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <img
              src={foxglove}
              class="foxglove trial2 hoverImg"
              alt=""
              loading="lazy"
            />2022 - Best Brand Activation (bronze)</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>Foxglove Awards</span>
        </div>
      </div>
    </div>
  </section>

  <style>
    /* .resize2 {
      aspect-ratio: 172/63;
      object-fit: cover;
    } */

    .resize {
      aspect-ratio: 879/1210;
      object-fit: cover;
    }
    .kaleido {
      width: 45%;
    }
    .degies {
      width: 10% !important;
    }

    . {
      height: auto;
    }
    .centerArrow {
      position: relative;
      top: 65%;
      width: 4%;
      left: 31.5%;
    }
    .foxdigi {
      width: 20% !important;
    }
    .foxglove {
      width: 15% !important;
    }
    @media screen and (max-width: 1050px) {
      .centerArrow {
        left: 30.5% !important;
      }
    }

    /* carousel css */

    .award-name span {
      font-family: "Deutschlander";
      font-size: 9.5vw;
      text-transform: uppercase;
      line-height: 1;
      text-shadow: 0.2vw 0.2vw 0px #e5ff35;
    }
    .award-category {
      background-color: #1a1a1a;
      font-family: "Deutschlander";
      font-size: 8vw;
      text-transform: uppercase;
      padding: 7% 5%;
      border-radius: 0 3rem 0 3rem;
    }

    .category-name {
      color: white;
      line-height: 0.9;
      display: block;
    }
    .year {
      color: #e5ff35;
      display: block;
      line-height: 0.9 !important;
    }
    .project {
      background-color: white;
      padding: 3% 4%;
      margin-top: 3%;
      border-radius: 0 3rem 0 3rem;
    }

    .index {
      font-family: "anek devanagari";
      font-size: 1.5vw;
      font-weight: 600;
      margin-top: 5%;
    }
    .length {
      font-family: "anek devanagari";
      font-size: 1.5vw;
      font-weight: 600;
      opacity: 60%;
    }
    .projectName p {
      font-family: "anek devanagari";
      text-transform: uppercase;
      font-size: 1.4vw;
      opacity: 60%;
      margin-bottom: 0 !important;
    }

    .projectName span {
      font-family: "anek devanagari";
      text-transform: uppercase;
      font-size: 1.8vw;
      font-weight: 600;
    }
    .viewProject {
      width: 100%;
    }

    .awardImg {
      background: linear-gradient(#f6f7f0 20%, #fff 80%) !important;
      border-radius: 2rem 0 2rem 0;
      text-align: center;
      padding-bottom: 9%;
    }
    .momento {
      width: 76%;
      margin-bottom: 3%;
    }
    .momentoIcon {
      width: 40%;
    }

    /*  */

    /* mobile view carousal */
    .mb-award-name {
      margin-left: 8%;
      margin-bottom: 1%;
    }
    .mb-award-name span {
      font-family: "Deutschlander";
      font-size: 12.5vw;
      text-transform: uppercase;
      line-height: 1;
      text-shadow: 0.2vw 0.2vw 0px #e5ff35;
    }
    .mb-award-category {
      background-color: #1a1a1a;
      font-family: "Deutschlander";
      font-size: 7vw;
      text-transform: uppercase;
      padding: 12% 7%;
      border-radius: 3vw 0 3vw 0;
      rotate: -90deg;
      transform: scale(1.3) translate(-32%, 5%);
    }

    .mb-category-name {
      color: white;
      line-height: 0.9;
      display: block;
    }
    .mb-year {
      color: #e5ff35;
      display: block;
      line-height: 0.9 !important;
    }
    .mb-project {
      background-color: white;
      padding: 3% 4%;
      margin-top: 3%;
      border-radius: 0 3vw 0 3vw;
      width: 78%;
      margin-left: 8%;
    }

    .mb-index {
      font-family: "anek devanagari";
      font-size: 2vw;
      font-weight: 600;
      margin-top: 5%;
    }
    .mb-length {
      font-family: "anek devanagari";
      font-size: 2vw;
      font-weight: 600;
      opacity: 60%;
    }
    .mb-projectName p {
      font-family: "anek devanagari";
      text-transform: uppercase;
      font-size: 2.2vw;
      opacity: 60%;
      margin-bottom: 0 !important;
    }

    .mb-projectName span {
      font-family: "anek devanagari";
      text-transform: uppercase;
      font-size: 2.4vw;
      font-weight: 600;
      display: block;
    }
    .mb-viewProject {
      width: 100%;
    }

    .mb-awardImg {
      background: linear-gradient(#f6f7f0 20%, #fff 80%) !important;
      border-radius: 2rem 0 2rem 0;
      text-align: center;
      padding-bottom: 9%;
    }
    .mb-momento {
      width: 70%;
      margin-bottom: 3%;
    }
    .mb-momentoIcon {
      width: 30%;
    }

    /*  */

    .swiper {
      width: 97%;
    }

    .swiper-slide {
      /* text-align: center; */
      /* font-size: 18px; */

      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 1.5%;
    }
    .swiper-button-next,
    .swiper-button-prev {
      width: 4%;
      height: 9%;
    }
    .desktopSlider {
      width: 98%;
    }

    @media screen and (max-width: 767px) {
      /* carousal css */

      .swiper-slide {
        margin-left: 0 !important;
      }
      .desktopSlider {
        display: none;
      }
      .swiper-button-next,
      .swiper-button-prev {
        width: 4%;
        height: 5%;
      }

      /*  */
      .viewProject {
        width: 80%;
      }
      .mob {
        margin-top: 4% !important;
      }
      .viewAwardsBtn,
      .centerArrow,
      .imgDiv,
      .titleImg {
        display: none !important;
      }
      .makeInline {
        display: inline;
      }
      .titleText {
        font-size: 3.5vw !important;
        display: inline-block !important;
        margin-top: 3%;
      }
      .title {
        margin-top: 3% !important;
        font-size: 17vw !important;
      }

      .mobAward {
        padding-bottom: 3.3%;
        border-bottom: 1.5px solid hsl(60, 1%, 25%);
        padding-top: 5%;
      }
      .mbAwardCat,
      .mbAwardName {
        font-family: "anek devanagari";
        font-size: 3.4vw;
        font-weight: 500;
        padding-right: 5%;
      }
      .mbAwardName {
        opacity: 50%;
      }
      .mbAwardName span,
      .mbAwardCat span {
        text-transform: capitalize;
        color: white !important;
      }
      .mobAward:hover,
      .mobAward:hover span {
        color: #1a1a1a !important;
        background-color: #e5ff35;
        font-weight: 600;
      }
    }
    /* hover image effect css */

    .titleText {
      font-size: 1.5vw;
      font-family: "anek devanagari";
      opacity: 60%;
      display: none;
    }
    .trial {
      position: relative;

      z-index: 1;
    }
    .trial2 {
      position: absolute;
      object-fit: cover;
      transform: translateX(-50%) translateY(-50%);
      top: 50%;
      left: 50%;
      z-index: -10;
      opacity: 0;

      visibily: hidden;
      pointer-events: none;
    }

    /*  */
    .title {
      font-family: "Deutschlander";
      font-size: 14.5vw;
      text-transform: uppercase;
      line-height: 0.8;
      display: inline-block;
    }
    .imgDiv {
      width: 28%;
      margin-right: 3%;
      display: inline-block;
    }

    .titleImg {
      vertical-align: baseline;
      width: 100%;
      border-radius: 12vw;
      aspect-ratio: 237/128;
      object-fit: cover;
    }

    .margins {
      margin: 0 8% 0 8%;
      margin-bottom: 6.8%;
    }
    .margins2 {
      margin: 0 8% 0 8%;
    }

    .viewAwardsBtn {
      width: 40%;
      position: relative;
      top: 65%;
      left: 55%;
    }

    .bottomDiv {
      background-color: #1a1a1a;
      border-radius: 4vw 4vw 0 0;
      padding-top: 5%;
    }

    .list {
      font-family: "Deutschlander";
      font-size: 14.5vw;
      text-transform: uppercase;
      line-height: 0.8;
      color: white;
      margin-left: 8%;
      margin-right: 8%;
    }

    .hoverImg {
      width: 40%;
    }

    .mobAward:hover,
    .mobAward:hover span {
      color: #1a1a1a;
      background-color: #e5ff35;
      font-weight: 600;
    }

    .stickyDiv {
      /* position: sticky;
      top: 0;
      background-color: #f6f7f0; */
      padding: 0 8%;
      padding-bottom: 6.8%;
    }

    /* award table css */

    @media screen and (min-width: 768px) {
      .onlyMob {
        display: none !important;
      }
      .mbAwardName {
        text-align: end;
      }
      .mobAward {
        padding-bottom: 2%;
        border-bottom: 1.5px solid hsl(60, 1%, 25%);
        padding-top: 2%;
        margin-right: 3%;
        margin-left: 0.5%;
      }
      .mbAwardCat,
      .mbAwardName {
        font-family: "anek devanagari";
        font-size: 1.2vw;
        font-weight: 500;
      }

      .mbAwardName span,
      .mbAwardCat span {
        text-transform: capitalize;
        color: white;
      }
      .hifen {
        display: none;
      }
    }

    /*animation css  */

    .imgDiv {
      position: relative;
    }
    .imgDiv:before {
      content: "";
      position: absolute;
      right: 0;
      left: -10%;
      top: -20%;
      bottom: 0;
      background: #f6f7f0;
      z-index: 2998;
      transition: left 1.2s ease;
      transition-delay: 1s;
      overflow: hidden;
    }
    .imgDiv-animate:before {
      left: 100%;
    }
  </style>

  <script>
    document.querySelector(".imgDiv").classList.add("imgDiv-animate");

    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    import Eases from "gsap";
    gsap.registerPlugin(ScrollTrigger);

    let tl = gsap.timeline();

    tl.from(".title1", {
      duration: 1,
      x: "-100%",
      opacity: 0.5,
      ease: "power1.out",
    })
      .from(".title2", {
        duration: 1,
        x: "-30%",
        opacity: 0,
        ease: "power1.out",
      })
      .from(".viewAwardsBtn, .centerArrow", {
        opacity: 0,
      })

      .from(".viewAwardsBtn", {
        rotate: "360",
        duration: 10,
        repeat: -1,
        ease: "none",
      });
    console.log("i m here", gsap.context());
    const items = document.querySelectorAll(".trial");

    items.forEach((el) => {
      const image = el.querySelector(".trial2");

      el.addEventListener("mouseenter", (e) => {
        gsap.to(image, { autoAlpha: 1 });
      });

      el.addEventListener("mouseleave", (e) => {
        gsap.to(image, { autoAlpha: 0 });
      });

      el.addEventListener("mousemove", (e: PointerEvent) => {
        gsap.to(image, { x: e.offsetX - 300 });
      });
    });

    import {
      Swiper,
      Navigation,
      Pagination,
      EffectCoverflow,
      Autoplay,
      EffectCreative,
    } from "swiper";
    let x = 3;
    var swiper = new Swiper(".swiper", {
      modules: [Navigation, EffectCreative],
      // effect: "creative",
      grabCursor: true,
      centeredSlides: true,
      slidesPerView: 1,
      spaceBetween: 20,
      loop: true,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },

      autoplay: {
        delay: 2000,
      },
    });
  </script>
</Layout>
