---
import Layout from "../layouts/Layout.astro";
import awards from "../images/awards.png";
import hiringImg1 from "../images/hiringImg1.jpg";
import viewAwardsBtn from "../images/viewAwardsBtn.png";
import { gsap } from "gsap";
---

<Layout title="Awards">
  <section style="padding-top: 3.5%;">
    <div class="row margins mob">
      <div class="col-lg-8 col-md-8 col-sm-12">
        <span class="title">Awards &</span>
        <div class="makeInline">
          <img class="titleImg" src={hiringImg1} alt="" />
          <span class="title">Recognition</span>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <a href="#awardsList"
          ><img src={viewAwardsBtn} class="viewAwardsBtn" alt="" /></a
        >
      </div>
    </div>
    <img class="" style="width:100%;" src={awards} alt="" />
  </section>

  <section class="bottomDiv" id="awardsList">
    <div style="margin-bottom: 2%; ">
      <span class="list">list of awards</span>
    </div>

    <div class="margins2">
      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <img src={hiringImg1} class="trial2 hoverImg" alt="" />2023 - Media
            & Entertainment Category</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>India DigiPlus Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <img src={hiringImg1} class="trial2 hoverImg" alt="" />2023 - Retail
            & E-Commerce Category</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>Kaleido Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <img src={hiringImg1} class="trial2 hoverImg" alt="" />2023 - Best
            Visual Content- Special Events</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>EDCA Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <img src={hiringImg1} class="trial2 hoverImg" alt="" />2023 - Best
            technology engagement/interactivity</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>EDCA Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <img src={hiringImg1} class="trial2 hoverImg" alt="" />2023 - EDCA
            Tech Provider of the Year
          </span>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>EDCA Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <img src={hiringImg1} class="trial2 hoverImg" alt="" />2023 - Best
            Standalone Experience at a Brand Activation</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>EDCA Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <img src={hiringImg1} class="trial2 hoverImg" alt="" />2023 - Best
            Event Technology created for an event</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>EDCA Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <img src={hiringImg1} class="trial2 hoverImg" alt="" />2023 - Most
            Creative On Ground Marketing Campaign</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>EDCA Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <img src={hiringImg1} class="trial2 hoverImg" alt="" />2022 - Best
            Use of AR/VR (Silver)</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>FuTech Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <img src={hiringImg1} class="trial2 hoverImg" alt="" />2022 - Best
            Content Marketing Launch (Gold)</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>Marketers' Excellence Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <img src={hiringImg1} class="trial2 hoverImg" alt="" />2022 - Best
            Content Marketing Launch (Gold)</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>Marketers' Excellence Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <img src={hiringImg1} class="trial2 hoverImg" alt="" />2022 - Best
            Brand Activation (Gold)</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>Marketers' Excellence Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <img src={hiringImg1} class="trial2 hoverImg" alt="" />2022 - Best
            Use of VR (Silver)</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>Marketers' Excellence Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <img src={hiringImg1} class="trial2 hoverImg" alt="" />2022 - Best
            Use of Technology (Bronze)</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>Marketers' Excellence Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <img src={hiringImg1} class="trial2 hoverImg" alt="" />2022 - Best
            Use of Technology (Gold)</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>Afaqs Digies Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <img src={hiringImg1} class="trial2 hoverImg" alt="" />2022 - Best
            Use of Technology (Silver)</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>Afaqs Digies Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <img src={hiringImg1} class="trial2 hoverImg" alt="" />2022 -
            Promotion of the Year for Brand Awareness - Digital (Gold)</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>WOW Awards asia</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <img src={hiringImg1} class="trial2 hoverImg" alt="" />2022 -
            Audience Engagement Technology & Event App for the Year by Agencies
            (Gold)</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>WOW Awards asia</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <img src={hiringImg1} class="trial2 hoverImg" alt="" />2022 -
            Innovation in Interactive Technology (Bronze)</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>WOW Awards asia</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <img src={hiringImg1} class="trial2 hoverImg" alt="" />2022 - Best
            Online Promotion (Silver)</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>Foxglove Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <img src={hiringImg1} class="trial2 hoverImg" alt="" />2022 - Best
            Online Promotion (Bronze)</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>Foxglove Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <img src={hiringImg1} class="trial2 hoverImg" alt="" />2022- Best
            Innovation in Digital (Bronze)</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>Foxglove Awards</span>
        </div>
      </div>

      <div class="row mobAward" style="border-bottom: 0;">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <img src={hiringImg1} class="trial2 hoverImg" alt="" />2022 - Best
            Brand Activation (bronze)</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>Foxglove Awards</span>
        </div>
      </div>
    </div>
  </section>
</Layout>

<style>
  @media screen and (max-width: 767px) {
    .mob {
      margin-top: 4% !important;
    }
    .viewAwardsBtn,
    .titleImg {
      display: none;
    }
    .makeInline {
      display: inline;
    }
    .titleText {
      font-size: 3.5vw !important;
      display: inline-block !important;
      margin-top: 3%;
    }
    .title {
      margin-top: 3% !important;
      font-size: 17vw !important;
    }

    .mobAward {
      padding-bottom: 3.3%;
      border-bottom: 1.5px solid hsl(60, 1%, 25%);
      padding-top: 5%;
    }
    .mbAwardCat,
    .mbAwardName {
      font-family: "anek devanagari";
      font-size: 3.4vw;
      font-weight: 500;
      padding-right: 5%;
    }
    .mbAwardName {
      opacity: 50%;
    }
    .mbAwardName span,
    .mbAwardCat span {
      text-transform: capitalize;
      color: white !important;
    }
    .mobAward:hover,
    .mobAward:hover span {
      color: #1a1a1a !important;
      background-color: #e5ff35;
      font-weight: 600;
    }
  }
  /* hover image effect css */

  .titleText {
    font-size: 1.5vw;
    font-family: "anek devanagari";
    opacity: 60%;
    display: none;
  }
  .trial {
    position: relative;

    z-index: 1;
  }
  .trial2 {
    position: absolute;
    object-fit: cover;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    z-index: -10;
    opacity: 0;
    visibily: hidden;
    pointer-events: none;
  }

  /*  */
  .title {
    font-family: "Deutschlander";
    font-size: 14.5vw;
    text-transform: uppercase;
    line-height: 0.8;
  }

  .titleImg {
    vertical-align: baseline;
    width: 28%;

    border-radius: 12vw;
    margin-right: 3%;
  }

  .margins {
    margin: 0 8% 0 8%;
    margin-bottom: 6.8%;
  }
  .margins2 {
    margin: 0 8% 0 8%;
  }

  .viewAwardsBtn {
    width: 40%;
    position: relative;
    top: 65%;
    left: 55%;
  }

  .bottomDiv {
    background-color: #1a1a1a;
    border-radius: 4vw 4vw 0 0;
    padding-top: 5%;
  }

  .list {
    font-family: "Deutschlander";
    font-size: 14.5vw;
    text-transform: uppercase;
    line-height: 0.8;
    color: white;
    margin-left: 8%;
    margin-right: 8%;
  }

  .hoverImg {
    width: 40%;
  }

  .mobAward:hover,
  .mobAward:hover span {
    color: #1a1a1a;
    background-color: #e5ff35;
    font-weight: 600;
  }

  /* award table css */

  @media screen and (min-width: 768px) {
    .mbAwardName {
      text-align: end;
    }
    .mobAward {
      padding-bottom: 2%;
      border-bottom: 1.5px solid hsl(60, 1%, 25%);
      padding-top: 2%;
      margin-right: 3%;
      margin-left: 0.5%;
    }
    .mbAwardCat,
    .mbAwardName {
      font-family: "anek devanagari";
      font-size: 1.2vw;
      font-weight: 500;
    }

    .mbAwardName span,
    .mbAwardCat span {
      text-transform: capitalize;
      color: white;
    }
    .hifen {
      display: none;
    }
  }
</style>

<script>
  import { gsap } from "gsap";
  console.log("i m here", gsap.context());
  const items = document.querySelectorAll(".trial");

  items.forEach((el) => {
    const image = el.querySelector(".trial2");

    el.addEventListener("mouseenter", (e) => {
      gsap.to(image, { autoAlpha: 1 });
    });

    el.addEventListener("mouseleave", (e) => {
      gsap.to(image, { autoAlpha: 0 });
    });

    el.addEventListener("mousemove", (e: PointerEvent) => {
      gsap.to(image, { x: e.offsetX - 300 });
    });
  });
</script>
