---
import Layout from "../layouts/Layout.astro";
import rotatingView from "../images/rotatingView.png";
import centerArrow from "../images/centerArrow.png";
import viewProjectBtn from "../images/viewProjectBtn.png";
import momento from "../images/momento.png";
import awardsPrev from "../images/awardsPrev.png";
import awardsNext from "../images/awardsNext.png";
import dgplus from "../images/dgplus.png";
import awardsNew from "../images/awardsNew.jpg";
import award from "../images/award-2.jpg";
import foxglove from "../images/foxglove.png";
import kaleido from "../images/kaleido.png";
import futech from "../images/futech.png";
import edcaGold from "../images/edcaGold.png";
import digies2 from "../images/digies2.png";
import wowImage2 from "../images/wowImage2.png";
import { contentfulClient } from "../lib/contentful";

import { Image } from 'astro:assets';


const awardsData: any = await contentfulClient.getEntries<any>({
  content_type: "awards",
});

console.log(awardsData.items[0].fields, "dataa");

import { gsap } from "gsap";

---

<Layout title="Ink In Caps: Celebrating Our Awards in MarTech" seoTitle="awards" description={null}>
  <section style="padding-top: 3.5%;">
    <div class="row mob stickyDiv">
      <div class="col-lg-8 col-md-8 col-sm-12" style="overflow: hidden;">
        <span class="title title1">Awards &</span>
        <div class="makeInline">
          <div class="imgDiv">
            <Image class="optimization titleImg" src={award} alt="" />
          </div>
   
          <span class="title title2">Recognition</span>
        </div> 
      </div>                            

      <div class="col-lg-4 col-md-4 col-sm-12">
        <a
          href="#awardsList"
          style="width: fit-content; display:contents"
          aria-label="awards list"
          ><Image src={rotatingView} class=" optimization viewAwardsBtn" alt="" />
          <Image class="optimization centerArrow" src={centerArrow} alt="" />
        </a>
      </div>
    </div>
    <Image class="optimization " style="width:100%;" src={awardsNew} alt="" />
  </section>

  <section style="padding: 5% 2%;">
    <div class="swiper">
      <div class="swiper-wrapper">
        {
          awardsData.items.map((awards, index) => (
            <div class="swiper-slide">
              <div class="row desktopSlider">
                <div class="col-7 leftSide">
                  <div class="award-name">
                    <span set:html={awards.fields.awardName} />
                  </div>
                  <div class="award-category">
                    <span
                      class="category-name"
                      set:html={awards.fields.category}
                    />
                    <span class="year" set:html={awards.fields.rankAndYear} />
                  </div>

                  <div class="project">
                    <div class="row">
                      <div class="col-1 projectNum">
                        <span class="index">{(index = index + 1)}</span>
                        <span class="length">/39</span>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-5 projectName">
                        {awards.fields.projectName &&
                        <p>PROJECT:</p>
                        <span set:html={awards.fields.projectName} />
                        }
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-3">
                        { awards.fields.projectReference?.fields?.heroTitle &&
                        
                        <a
                          href={
                            "/portfolio/" +
                            awards.fields.projectReference?.fields?.heroTitle
                          }
                        >
                          <Image
                            class="viewProject optimization"
                            src={viewProjectBtn}
                            alt=""
                            loading="lazy"
                          />
                        </a>
                      }
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 awardImgDiv ">
                  <div class="awardImg">
                   
                      <Image
                        class="momento resize optimization"
                        src={awards?.fields?.awardImage?.fields?.file.url}
                        alt=""
                        loading="lazy"
                        width={444}
                        height={610}
                      />
                      <br />
                  {awards?.fields?.awardBrandLogo && 
                  
                    <Image
                      class="momentoIcon optimization"
                      src={awards?.fields?.awardBrandLogo && awards?.fields?.awardBrandLogo?.fields?.file.url}
                      alt=""
                      loading="lazy"
                      width={330}
                        height={130}
                    />
                  }
                  </div>
                </div>
              </div>

              <div class="onlyMob">
                <div class="mb-award-name">
                  <span set:html={awards.fields.awardName} />
                </div>
                <div class="d-flex">
                  <div style="width: 45%;">
                    <div class="mb-award-category">
                      <span
                        class="category-name"
                        set:html={awards.fields.category}
                      />
                      <span class="year" set:html={awards.fields.rankAndYear} />
                    </div>
                  </div>
                  <div style="width:50%">
                    <div class="mb-awardImg">
                      <>
                        <Image
                          class="mb-momento resize optimization"
                          src={awards?.fields?.awardImage?.fields?.file.url}
                          alt=""
                          loading="lazy"
                          width={444}
                          height={610}
                        />
                        <br />
                      </>
                      {awards?.fields?.awardBrandLogo && 
                      <Image
                        class="mb-momentoIcon optimization"
                        src={awards?.fields?.awardBrandLogo && awards?.fields?.awardBrandLogo?.fields?.file.url}
                        alt=""
                        loading="lazy"
                        width={330}
                        height={130}
                      />
                      }
                    </div>
                  </div>
                </div>

                <div>
                  <div class="mb-project">
                    <div class="d-flex">
                      <div style="width: 20%;">
                        <span class="mb-index">{(index = index + 1)}</span>
                        <span class="mb-length">/22</span>
                      </div>
                      <div class="mb-projectName" style="width: 50%;">
                        {awards.fields.projectName &&
                        <p>PROJECT:</p>
                        <span set:html={awards.fields.projectName} />
                        }
                      </div>
                      <div style="width: 30%;">
                        {awards.fields.projectReference?.fields?.heroTitle &&
                        <a
                          href={
                            "/portfolio/" +
                            awards.fields.projectReference?.fields?.heroTitle
                          }
                          aria-label="view project"
                        >
                          <Image
                            class="mb-viewProject optimization"
                            src={viewProjectBtn}
                            alt=""
                            loading="lazy"
                          />
                        </a>
                      }
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          ))
        }

       
      </div>
      <Image class="optimization swiper-button-prev" src={awardsPrev} loading="lazy" alt="" />
      <Image class="optimization swiper-button-next" src={awardsNext} loading="lazy" alt="" />
    </div>
  </section>

  <section class="bottomDiv" id="awardsList">
    <div style="margin-bottom: 2%; ">
      <span class="list">list of awards</span>
    </div>

    <div class="margins2">
      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <Image
              src={dgplus}
              class="trial2 hoverImg foxdigi optimization"
              alt=""
              loading="lazy"
            />2023 - Media & Entertainment</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>India DigiPlus Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <Image
              src={kaleido}
              class="trial2 hoverImg optimization"
              alt=""
              loading="lazy"
            />2023 - Retail & E-Commerce
          </span>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>Kaleido Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <Image
              src={edcaGold}
              class="trial2 hoverImg optimization"
              alt=""
              loading="lazy"
            />2023 - Best Visual Content- Special Events</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>EDCA Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <Image
              src={edcaGold}
              class="trial2 hoverImg optimization"
              alt=""
              loading="lazy"
            />2023 - Best technology engagement/interactivity</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>EDCA Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <Image
              src={edcaGold}
              class="trial2 hoverImg optimization"
              alt=""
              loading="lazy"
            />2023 - EDCA Tech Provider of the Year
          </span>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>EDCA Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <Image
              src={edcaGold}
              class="trial2 hoverImg optimization"
              alt=""
              loading="lazy"
            />2023 - Best Standalone Experience at a Brand Activation</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>EDCA Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <Image
              src={edcaGold}
              class="trial2 hoverImg optimization"
              alt=""
              loading="lazy"
            />2023 - Best Event Technology created for an event</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>EDCA Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <Image
              src={edcaGold}
              class="trial2 hoverImg optimization"
              alt=""
              loading="lazy"
            />2023 - Most Creative On Ground Marketing Campaign</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>EDCA Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <Image
            src={foxglove}
              class="foxglove trial2 hoverImg optimization"
              alt=""
              loading="lazy"
            />2023 - Best Use of Technology in Brand Activation</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>Foxglove Awards</span>
        </div>
      </div>
 
      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <Image
              src={foxglove}
              class="foxglove trial2 hoverImg optimization"
              alt=""
              loading="lazy"
            />2023 - Best Use of Technology in Brand Activation</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>Foxglove Awards</span>
        </div>
      </div>


      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <Image
              src={foxglove}
              class="foxglove trial2 hoverImg optimization"
              alt=""
              loading="lazy"
            />2023 - Best Branded Content Campaign (National)</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>Foxglove Awards</span>
        </div>
      </div>
      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <Image
              src={foxglove}
              class="foxglove trial2 hoverImg optimization"
              alt=""
              loading="lazy"
            />2023 - Best Branded Content Campaign (Regional)</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>Foxglove Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <Image
              src={foxglove}
              class=" foxglove trial2 hoverImg optimization"
              alt=""
              loading="lazy"
            />2023 - Best Branded Integrtaion (National)</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>Foxglove Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <Image
              src={foxglove}
              class=" foxglove trial2 hoverImg optimization"
              alt=""
              loading="lazy"
            />2023 - Best Branded Integrtaion (Regional)</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>Foxglove Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <Image
              src={foxglove}
              class=" foxglove trial2 hoverImg optimization"
              alt=""
              loading="lazy"
            />2023 - Best Innovation in Dgital</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>Foxglove Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <Image
              src={foxglove}
              class=" foxglove trial2 hoverImg optimization"
              alt=""
              loading="lazy"
            />2023 - Best Microsite</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>Foxglove Awards</span>
        </div>
      </div>
      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <Image
              src={foxglove}
              class="foxglove trial2 hoverImg optimization"
              alt=""
              loading="lazy"
            />2023 - Best Branded Activation</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>Foxglove Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <Image
              src={wowImage2}
              class="trial2 hoverImg optimization"
              alt=""
              loading="lazy"
            />2023 - Innovation in Augmented Reality (Gold)</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>WOW Awards asia</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <Image
              src={wowImage2}
              class="trial2 hoverImg optimization"
              alt=""
              loading="lazy"
            />2023 - Innovation in Interactive Technology (Silver)</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>WOW Awards asia</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <Image
              src={wowImage2}
              class="trial2 hoverImg optimization"
              alt=""
              loading="lazy"
            />2023 - Sport Event Property of the Year (Bronze)</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>WOW Awards asia</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <Image
              src={wowImage2}
              class="trial2 hoverImg optimization"
              alt=""
              loading="lazy"
            />2023 - AR/VR Technologies & Content for the Year (Bronze)</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>WOW Awards asia</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <Image
              src={wowImage2}
              class="trial2 hoverImg optimization"
              alt=""
              loading="lazy"
            />2023 - Promotion/Activation for Branding Awareness (Bronze)</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>WOW Awards asia</span>
        </div>
      </div>


      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <Image
              src={momento}
              class="foxdigi trial2 hoverImg optimization"
              alt=""
              loading="lazy"
            />2023 - Best Brand Website (Gold)</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>Marketers' Excellence Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <Image
              src={momento}
              class="foxdigi trial2 hoverImg optimization"
              alt=""
              loading="lazy"
            />2023 - Best Use of Technology (Silver)</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>Marketers' Excellence Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <Image
              src={momento}
              class="foxdigi trial2 hoverImg optimization"
              alt=""
              loading="lazy"
            />2023 - Best Content Marketing for a Product Launch (Silver)</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>Marketers' Excellence Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <Image
              src={momento}
              class="foxdigi trial2 hoverImg optimization"
              alt=""
              loading="lazy"
            />2023 - Best Brand Activation</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>Marketers' Excellence Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <!-- <Image
              src={momento}
              class="foxdigi trial2 hoverImg optimization"
              alt=""
              loading="lazy"
            /> -->
            2023 - Best Brand Activation</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>E4M Maverick Awards</span>
        </div>
      </div>



      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <Image
              src={futech}
              class="foxdigi trial2 hoverImg optimization"
              alt=""
              loading="lazy"
            />2022 - Best Use of AR/VR (Silver)</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>FuTech Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <Image
              src={momento}
              class="foxdigi trial2 hoverImg optimization"
              alt=""
              loading="lazy"
            />2022 - Best Content Marketing Launch (Gold)</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>Marketers' Excellence Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <Image
              src={momento}
              class="foxdigi trial2 hoverImg optimization"
              alt=""
              loading="lazy"
            />2022 - Best Brand Activation (Gold)</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>Marketers' Excellence Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <Image
              src={momento}
              class="foxdigi trial2 hoverImg optimization"
              alt=""
              loading="lazy"
            />2022 - Best Use of VR (Silver)</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>Marketers' Excellence Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <Image
              src={momento}
              class="foxdigi trial2 hoverImg optimization"
              alt=""
              loading="lazy"
            />2022 - Best Use of Technology (Bronze)</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>Marketers' Excellence Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <Image
              src={digies2}
              class="degies trial2 hoverImg optimization"
              alt=""
              loading="lazy"
            />2022 - Best Use of Technology (Gold)</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>Afaqs Digies Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <Image
              src={digies2}
              class="degies trial2 hoverImg optimization"
              alt=""
              loading="lazy"
            />2022 - Best Use of Technology (Silver)</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>Afaqs Digies Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <Image
              src={wowImage2}
              class="trial2 hoverImg optimization"
              alt=""
              loading="lazy"
            />2022 - Promotion of the Year for Brand Awareness - Digital (Gold)</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>WOW Awards asia</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <Image
              src={wowImage2}
              class="trial2 hoverImg optimization"
              alt=""
              loading="lazy"
            />2022 - Audience Engagement Technology & Event App for the Year by
            Agencies (Gold)</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>WOW Awards asia</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <Image
              src={wowImage2}
              class="trial2 hoverImg optimization"
              alt=""
              loading="lazy"
            />2022 - Innovation in Interactive Technology (Bronze)</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>WOW Awards asia</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <Image
              src={foxglove}
              class="foxglove trial2 hoverImg optimization"
              alt=""
              loading="lazy"
            />2022 - Best Online Promotion (Silver)</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>Foxglove Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <Image
              src={foxglove}
              class="foxglove trial2 hoverImg optimization"
              alt=""
              loading="lazy"
            />2022 - Best Online Promotion (Bronze)</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>Foxglove Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <Image
              src={foxglove}
              class="foxglove trial2 hoverImg optimization"
              alt=""
              loading="lazy"
            />2022- Best Innovation in Digital (Bronze)</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>Foxglove Awards</span>
        </div>
      </div>

      <div class="row mobAward" style="border-bottom: 0;">
        <div class="col-sm-12 col-md-8 col-lg-8 trial mbAwardCat">
          <span>
            <Image
              src={foxglove}
              class="foxglove trial2 hoverImg optimization"
              alt=""
              loading="lazy"
            />2022 - Best Brand Activation (bronze)</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>Foxglove Awards</span>
        </div>
      </div>
    </div>
  </section>

  <style>
    /* .resize2 {
      aspect-ratio: 172/63;
      object-fit: cover;
    } */

    .resize {
      aspect-ratio: 444/610;
      object-fit: cover;
    }
    .kaleido {
      width: 45%;
    }
    .degies {
      width: 10% !important;
    }

    .optimization {
      height: auto;
    }
    .centerArrow {
      position: relative;
      top: 65%;
      width: 4%;
      left: 32.5%;
    }
    .foxdigi {
      width: 20% !important;
    }
    .foxglove {
      width: 15% !important;
    }
    @media screen and (max-width: 1050px) {
      .centerArrow {
        left: 32.5% !important;
      }
    }

    /* carousel css */

    .award-name span {
      font-family: "Deutschlander";
      font-size: 9.5vw;
      text-transform: uppercase;
      line-height: 1;
      text-shadow: 0.2vw 0.2vw 0px #e5ff35;
    }
    .award-category {
      background-color: #1a1a1a;
      font-family: "Deutschlander";
      font-size: 7vw;
      text-transform: uppercase;
      padding: 7% 5%;
      border-radius: 0 3rem 0 3rem;
    }

    .category-name {
      color: white;
      line-height: 0.9;
      display: block;
    }
    .year {
      color: #e5ff35;
      display: block;
      line-height: 0.9 !important;
    }
    .project {
      background-color: white;
      padding: 3% 4%;
      margin-top: 3%;
      border-radius: 0 3rem 0 3rem;
    }

    .index {
      font-family: "anek devanagari";
      font-size: 1.5vw;
      font-weight: 600;
      margin-top: 5%;
    }
    .length {
      font-family: "anek devanagari";
      font-size: 1.5vw;
      font-weight: 600;
      opacity: 60%;
    }
    .projectName p {
      font-family: "anek devanagari";
      text-transform: uppercase;
      font-size: 1.4vw;
      opacity: 60%;
      margin-bottom: 0 !important;
    }

    .projectName span {
      font-family: "anek devanagari";
      text-transform: uppercase;
      font-size: 1.8vw;
      font-weight: 600;
    }
    .viewProject {
      width: 100%;
    }

    .awardImg {
      background: linear-gradient(#f6f7f0 20%, #fff 80%) !important;
      border-radius: 2rem 0 2rem 0;
      text-align: center;
      padding-bottom: 9%;
    }
    .momento {
      width: 76%;
      margin-bottom: 3%;
    }
    .momentoIcon {
      width: 40%;
    }

    /*  */

    /* mobile view carousal */
    .mb-award-name {
      margin-left: 8%;
      margin-bottom: 1%;
    }
    .mb-award-name span {
      font-family: "Deutschlander";
      font-size: 12.5vw;
      text-transform: uppercase;
      line-height: 1;
      text-shadow: 0.2vw 0.2vw 0px #e5ff35;
    }
    .mb-award-category {
      background-color: #1a1a1a;
      font-family: "Deutschlander";
      font-size: 7vw;
      text-transform: uppercase;
      padding: 12% 7%;
      border-radius: 3vw 0 3vw 0;
      rotate: -90deg;
      transform: scale(1.3) translate(-32%, 5%);
    }

    .mb-category-name {
      color: white;
      line-height: 0.9;
      display: block;
    }
    .mb-year {
      color: #e5ff35;
      display: block;
      line-height: 0.9 !important;
    }
    .mb-project {
      background-color: white;
      padding: 3% 4%;
      margin-top: 3%;
      border-radius: 0 3vw 0 3vw;
      width: 78%;
      margin-left: 8%;
    }

    .mb-index {
      font-family: "anek devanagari";
      font-size: 2vw;
      font-weight: 600;
      margin-top: 5%;
    }
    .mb-length {
      font-family: "anek devanagari";
      font-size: 2vw;
      font-weight: 600;
      opacity: 60%;
    }
    .mb-projectName p {
      font-family: "anek devanagari";
      text-transform: uppercase;
      font-size: 2.2vw;
      opacity: 60%;
      margin-bottom: 0 !important;
    }

    .mb-projectName span {
      font-family: "anek devanagari";
      text-transform: uppercase;
      font-size: 2.4vw;
      font-weight: 600;
      display: block;
    }
    .mb-viewProject {
      width: 100%;
    }

    .mb-awardImg {
      background: linear-gradient(#f6f7f0 20%, #fff 80%) !important;
      border-radius: 2rem 0 2rem 0;
      text-align: center;
      padding-bottom: 9%;
    }
    .mb-momento {
      width: 70%;
      margin-bottom: 3%;
    }
    .mb-momentoIcon {
      width: 30%;
    }

    /*  */

    .swiper {
      width: 95%;
    }

    .swiper-wrapper{
      margin-left: 3%;
    }
    .swiper-slide {
      /* text-align: center; */
      /* font-size: 18px; */

      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
    }
    .swiper-button-next,
    .swiper-button-prev {
      width: 4%;
      height: 9%;
    }
    .desktopSlider {
      width: 98%;
    }

    @media screen and (max-width: 767px) {
      /* carousal css */
  .title2{
    margin-left:1%;
  }
      
    .stickyDiv {
     
      width:100%
    }

      .swiper-slide {
        margin-left: 0 !important;
      }
      .desktopSlider {
        display: none;
      }
      .swiper-button-next,
      .swiper-button-prev {
        width: 4%;
        height: 5%;
      }

      /*  */
      .viewProject {
        width: 80%;
      }
      .mob {
        margin-top: 4% !important;
      }
      .viewAwardsBtn,
      .centerArrow,
      .imgDiv,
      .titleImg {
        display: none !important;
      }
      .makeInline {
        display: inline;
      }
      .titleText {
        font-size: 3.5vw !important;
        display: inline-block !important;
        margin-top: 3%;
      }
      .title {
        margin-top: 3% !important;
        font-size: 17vw !important;
      }

      .mobAward {
        padding-bottom: 3.3%;
        border-bottom: 1.5px solid hsl(60, 1%, 25%);
        padding-top: 5%;
      }
      .mbAwardCat,
      .mbAwardName {
        font-family: "anek devanagari";
        font-size: 3.4vw;
        font-weight: 500;
        padding-right: 5%;
      }
      .mbAwardName {
        opacity: 50%;
      }
      .mbAwardName span,
      .mbAwardCat span {
        text-transform: capitalize;
        color: white !important;
      }
      .mobAward:hover,
      .mobAward:hover span {
        color: #1a1a1a !important;
        background-color: #e5ff35;
        font-weight: 600;
      }
    

   


    }
    /* hover image effect css */

    .titleText {
      font-size: 1.5vw;
      font-family: "anek devanagari";
      opacity: 60%;
      display: none;
    }
    .trial {
      position: relative;

      z-index: 1;
    }
    .trial2 {
      position: absolute;
      object-fit: cover;
      transform: translateX(-50%) translateY(-50%);
      top: 50%;
      left: 50%;
      z-index: -10;
      opacity: 0;

      visibily: hidden;
      pointer-events: none;
    }

    /*  */
    .title {
      font-family: "Deutschlander";
      font-size: 14.5vw;
      text-transform: uppercase;
      line-height: 0.8;
      display: inline-block;
    }
    .imgDiv {
      width: 28%;
      margin-right: 3%;
      display: inline-block;
    }

    .titleImg {
      vertical-align: baseline;
      width: 100%;
      border-radius: 12vw;
      aspect-ratio: 237/128;
      object-fit: cover;
    }

    .margins {
      margin: 0 8% 0 8%;
      margin-bottom: 6.8%;
    }
    .margins2 {
      margin: 0 8% 0 8%;
    }

    .viewAwardsBtn {
      width: 40%;
      position: relative;
      top: 65%;
      left: 55%;
    }

    .bottomDiv {
      background-color: #1a1a1a;
      border-radius: 4vw 4vw 0 0;
      padding-top: 5%;
    }

    .list {
      font-family: "Deutschlander";
      font-size: 14.5vw;
      text-transform: uppercase;
      line-height: 0.8;
      color: white;
      margin-left: 8%;
      margin-right: 8%;
    }

    .hoverImg {
      width: 40%;
    }

    .mobAward:hover,
    .mobAward:hover span {
      color: #1a1a1a;
      background-color: #e5ff35;
      font-weight: 600;
    }

    .stickyDiv {
      /* position: sticky;
      top: 0;
      background-color: #f6f7f0; */
      padding: 0 8%;
      padding-bottom: 6.8%;
      
    }

    /* award table css */

    @media screen and (min-width: 768px) {
      .onlyMob {
        display: none !important;
      }
      .mbAwardName {
        text-align: end;
      }
      .mobAward {
        padding-bottom: 2%;
        border-bottom: 1.5px solid hsl(60, 1%, 25%);
        padding-top: 2%;
        margin-right: 3%;
        margin-left: 0.5%;
      }
      .mbAwardCat,
      .mbAwardName {
        font-family: "anek devanagari";
        font-size: 1.2vw;
        font-weight: 500;
      }

      .mbAwardName span,
      .mbAwardCat span {
        text-transform: capitalize;
        color: white;
      }
      .hifen {
        display: none;
      }

      .awardImgDiv{
        flex-grow: 1;
      }
      .award-category {
      min-height: 11ch;
    display: flex;
    flex-direction: column;
   
    justify-content: center;
      }
    }

    /*animation css  */

    .imgDiv {
      position: relative;
    }
    .imgDiv:before {
      content: "";
      position: absolute;
      right: 0;
      left: -10%;
      top: -20%;
      bottom: 0;
      background: #f6f7f0;
      z-index: 2998;
      transition: left 1.2s ease;
      transition-delay: 1s;
      overflow: hidden;
    }
    .imgDiv-animate:before {
      left: 100%;
    }
  </style>

  <script>
    document.querySelector(".imgDiv").classList.add("imgDiv-animate");

    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    // import Eases from "gsap";
    gsap.registerPlugin(ScrollTrigger);

    let tl = gsap.timeline();

    tl.from(".title1", {
      duration: 1,
      x: "-100%",
      opacity: 0.5,
      ease: "power1.out",
    })
      .from(".title2", {
        duration: 1,
        x: "-30%",
        opacity: 0,
        ease: "power1.out",
      })
      .from(".viewAwardsBtn, .centerArrow", {
        opacity: 0,
      })

      .from(".viewAwardsBtn", {
        rotate: "360",
        duration: 10,
        repeat: -1,
        ease: "none",
      });
   
    const items = document.querySelectorAll(".trial");

    items.forEach((el) => {
      const image = el.querySelector(".trial2");

      el.addEventListener("mouseenter", (e) => {
        gsap.to(image, { autoAlpha: 1 });
      });

      el.addEventListener("mouseleave", (e) => {
        gsap.to(image, { autoAlpha: 0 });
      });

      el.addEventListener("mousemove", (e: PointerEvent) => {
        gsap.to(image, { x: e.offsetX - 300 });
      });
    });

    import {
      Swiper
    } from "swiper";
      //@ts-ignore it should fix later when swiper fixes its types
   import { Navigation,EffectCreative,} from "swiper/modules";
    let x = 3;
    var swiper = new Swiper(".swiper", {
      modules: [Navigation, EffectCreative],
      // effect: "creative",
      grabCursor: true,
       centeredSlides: true,
     
      slidesPerView: 1,
      spaceBetween: 20,
      
    observer: true,
    observeParents: true,
    freeMode: true,
    // @ts-ignore
    watchSlidesVisibility: true,
    watchSlidesProgress: true,
      loop: true,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },

      autoplay: {
        delay: 2000,
      },
    });
  </script>
</Layout>
