---
import Layout from "../layouts/Layout.astro";
import blogButton from "../images/blogButton.png";
import rotatingBlog from "../images/rotatingBlog.png";
import arrow from "../images/arrow.png";
import { contentfulClient } from "../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { Document } from "@contentful/rich-text-types";
import yellowGo from "../images/yellowGo2.png";
import blogsLeft from "../images/blogsLeft.png";
import blogsRight from "../images/blogsRight.png";
import readMore from "../images/readMore.png";
import { Image } from "astro:assets";
//import { Image, Picture } from "@astrojs/image/components";

const entries: any = await contentfulClient.getEntries<any>({
  content_type: "blogs",
});

// const { blogsData } = Astro.props;
---

<Layout title="Our Blogs - Ink In Caps, Mumbai" seoTitle="blog-gallery">
  <section
    style="background-color: #1a1a1a; border-radius: 0 0 6vw 6vw; padding-bottom: 4%; padding-top: 10vh;"
  >
    <div class="row margins mobView">
      <div class="col-lg-6 col-md-6 col-sm-12 heading">
        <div class="animate-title">
          <!-- <div style="display: inline-block;" class="title-animate"> -->
          <span>thinking out loud</span>
          <!-- </div> -->
          <a href="#blogsList" aria-label="blogs list" style="margin-left: 1%;">
            <Image class="btn blogbtn optimization" src={rotatingBlog} alt="" />
            <Image class="arrow optimization" src={arrow} alt="" />
          </a>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12 topText">
        <span
          >Newly minted articles that you can read if you are not abducted by
          the Aliens</span
        >
      </div>
    </div>

    <div class="swiper-animate" style="text-align: center;padding:2% 0 0% 0;">
      <div class="swiper mySwiper" style="padding:1.5% 0 5% 0 ;">
        <div class="swiper-wrapper">
          {
            entries.items.map((blogs) => (
              <div class="swiper-slide">
                <div class="card">
                  <div class="card-innerDiv">
                    <div class="card-header">
                      <div
                        class="headingStyle"
                        set:html={documentToHtmlString(blogs.fields.blogTitle)}
                      />
                    </div>

                    <div class="card-body">
                      <div class="card-text wrapper">
                        <div>
                          <span set:html={blogs.fields.genreNew} />
                        </div>
                      </div>
                      <div class="imgDiv">
                        <Image
                          class=" optimization carouselImg"
                          format="webp"
                          width={1552}
                          height={720}
                          quality={85}
                          src={blogs.fields?.heroImage?.fields?.file.url}
                          alt=""
                        />
                      </div>
                    </div>
                    <div class="card-footer">
                      <a
                        href={"/blogs/" + blogs.fields.params}
                        aria-label="read more"
                      >
                        <div>
                          <span> Read&nbsp; more</span>
                          <Image
                            class=" optimization readMoreArrow"
                            src={readMore}
                            alt=""
                          />
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            ))
          }
        </div>

        <div class="d-flex controls">
          <Image class="swiper-prev optimization" src={blogsLeft} alt="" />
          <Image class="swiper-next optimization" src={blogsRight} alt="" />
        </div>
      </div>
    </div>

    <div class="editors margins">
      <span>editor's&nbsp; pick</span>
    </div>

    <div style="margin-top: 1%; overflow:hidden" class="margins row">
      <div class="col-md-6 col-lg-6 col-sm-12 picks">
        <div class="animate-img">
          <Image
            width={2281}
            height={1057}
            class="editorImgs optimization"
            src={"//images.ctfassets.net/i7u70o31dp49/7dyu5mQVmtZnNzMVvPlssC/421d79adb861c9f778727e1d070a8e22/Mask_group.png"}
            alt=""
          />
        </div>
        <div class="animate-imgText" style="width: 95%;">
          <span class="imgText"
            >I Met Ravi shastri Live from My COuch, The New Wave of Sports
            Consumption</span
          >

          <a
            href="/blogs/i-met-ravi-shastri-live-from-my-couch"
            aria-label="open"
          >
            <Image class="btn goBtn optimization" src={yellowGo} alt="" />
          </a>

          <div class="info">
            <div class="border-box"><span>Design & Technology</span></div>
            <span class="authorName">By Pallavi.Jain</span>
            <span class="dot"></span>
            <span class="readTime">5 min read</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-sm-12 picks">
        <div class="animate-img2">
          <Image
            class="editorImgs optimization"
            width={2281}
            height={1057}
            src={"//images.ctfassets.net/i7u70o31dp49/jAKoXNdwpn9ICPENRR1wb/c0c86c5bf3bd06ea10fb5062d22e3510/Mask_group.png"}
            alt=""
          />
        </div>
        <div class="animate-imgText">
          <span class="imgText">The cycle of Analysis Paralysis</span>
          <a href="/blogs/the-cycle-of-analysis-paralysis" aria-label="open">
            <Image class="btn goBtn optimization" src={yellowGo} alt="" />
          </a>
          <div class="info">
            <div class="border-box"><span>Design & Technology</span></div>
            <span class="authorName">By Pallavi.Jain</span>
            <span class="dot"></span>
            <span class="readTime">5 min read</span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section style="margin-top: 4%; margin-bottom: 4%;" id="blogsList">
    <div class="margins row">
      <div class="col-lg-5 col-md-5 col-sm-12">
        <div class="titleDiv">
          <span class="whiteHeading">Explore</span>

          <span class="whiteHeading">more</span>
        </div>

        <div class="exploreBtns">
          <div class="makeInline">
            <button
              id="All"
              class="btn exploreBtn clicked"
              aria-label="all categories"
              style="margin-left: 0;">All</button
            >
            <button id="Design" class="btn exploreBtn" aria-label="design"
              >Design</button
            >
            <button
              id="Technology"
              class="btn exploreBtn"
              aria-label="technology">Technology</button
            >
          </div>

          <button
            id="Social"
            class="btn exploreBtn"
            aria-label="social"
            style="margin-left: 0;">Social</button
          >
          <button id="Culture" class="btn exploreBtn" aria-label="culture"
            >Culture</button
          >
        </div>
      </div>

      <div
        style="scroll-behavior: smooth; overflow:scroll;  height: 70vh;"
        class="col-lg-6 col-md-6 col-sm-12"
      >
        {
          entries.items.map((blogs) => (
            <a href={"/blogs/" + blogs.fields.params} aria-label="blogs">
              <div
                class={
                  "row list " +
                  blogs.fields.genreNew?.replaceAll(" ", "").toLowerCase()
                }
              >
                <div class="col-9">
                  <span class="listGenre" set:html={blogs.fields.genreNew} />
                  <br />
                  <div
                    class="listText"
                    set:html={documentToHtmlString(blogs.fields.blogTitle)}
                  />
                </div>

                <div class="col-3">
                  <Image
                    style="width:90%"
                    width={1552}
                    height={720}
                    class="blogImg  optimization"
                    src={blogs.fields?.heroImage?.fields?.file.url}
                    alt=""
                  />
                </div>
              </div>
            </a>
          ))
        }
      </div>
    </div>
  </section>
</Layout>
<style>
  .optimization {
    height: auto;
  }
  .btn:focus {
    outline: none !important;
    box-shadow: none !important;
  }
  .arrow {
    position: relative;
    right: 15%;
    width: 2.5%;
    margin-bottom: 20%;
  }

  .animate-img img,
  .animate-img2 img {
    width: 90%;
    object-fit: cover;
    aspect-ratio: 625/334;

    border: 0.62vw solid white;
    border-radius: 0.38vw;
  }

  @media screen and (max-width: 1300px) {
    .arrow {
      right: 14.2;

      margin-bottom: 21%;
    }
  }
  @media screen and (max-width: 992px) {
    .arrow {
      right: 14%;

      margin-bottom: 21%;
    }
  }
  /* cards css */

  p {
    margin-bottom: 0 !important;
  }
  .card {
    width: 35rem;
    padding: 1.4%;
    border-radius: 0.65vw;
  }
  .card-innerDiv {
    border: 2px solid #1a1a1a;
    border-radius: 0.5vw;
  }
  .card-body {
    padding: 0 !important;
  }
  .card-text {
    background-color: #e5ff53;
  }
  .card-text span {
    font-family: "Deutschlander";
    text-transform: uppercase;
    font-size: 2vw;
    display: block;
  }
  .card-header {
    padding: 2.5%;
  }
  .card-header div {
    border: 2px solid #1a1a1a;
    border-radius: 0.3vw 0.3vw 0 0;
  }
  .headingStyle {
    font-family: "Deutschlander";
    text-transform: uppercase;
    font-size: 2.5vw;
    display: block;
    min-height: 12ch;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-footer {
    padding: 2.5%;
  }
  .card-footer div {
    background-color: #1a1a1a;
    border-radius: 0 0 0.3vw 0.3vw;
  }
  .card-footer div span {
    font-family: "Deutschlander";
    text-transform: uppercase;
    font-size: 2.5vw;
    color: #e5ff53;
    /* display: block; */
  }
  .readMoreArrow {
    vertical-align: baseline;
    width: 5%;
    margin-left: 2%;
    margin-bottom: 1%;
  }
  .wrapper {
    overflow-x: hidden;
  }
  .swiper-slide-active .moving-text {
    animation: move-text 10s linear infinite;
  }
  @keyframes move-text {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .carouselImg {
    object-fit: cover;
    aspect-ratio: 15/14;
    width: 100%;
    transition: 0.7s ease;
  }
  .imgDiv {
    overflow: hidden;
  }
  .imgDiv:hover .carouselImg {
    transform: scale(1.2);
  }

  /* Caraousel css */

  .swiper {
    width: 100%;
  }

  .swiper-slide {
    text-align: center;
    /* font-size: 18px; */
    background: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-next,
  .swiper-prev {
    width: 4%;
  }
  .swiper-prev {
    margin-right: 3.5%;
  }
  .controls {
    transform: translate(44%, 100%);
  }
  p {
    margin-bottom: 0 !important;
  }
  @media screen and (max-width: 767px) {
    .blogbtn,
    .arrow {
      display: none !important;
    }
    .topText {
      margin-top: 0 !important;
      padding-top: 2% !important;
    }
    .topText span {
      font-size: 3vw !important;
      line-height: 1.5 !important;
    }
    .mobView {
      margin-top: 5%;
    }
    .heading span,
    .editors span {
      font-size: 15vw !important;
      word-spacing: 0.2rem;
      letter-spacing: 0.03rem;
    }
    .info {
      margin-top: 1% !important;
    }
    .imgText {
      font-size: 7.5vw !important;
    }
    .editorImgs {
      margin-bottom: 4.2% !important;
    }

    .border-box {
      background-color: #e5ff53;
      text-align: center;
      padding: 0.8vw !important;
      width: 20vw !important;
      border-radius: 1.5px;
      display: inline-block;
      vertical-align: middle;
      line-height: 1.65;
    }
    .border-box span {
      font-family: "anek devanagari";
      font-size: 2vw !important;

      font-weight: 500;

      vertical-align: middle;
    }

    .authorName {
      font-family: "anek devanagari";
      font-size: 2vw !important;

      font-weight: 400;
      color: white;
      margin-left: 2%;
    }
    .dot {
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: white;
      display: inline-block;
      margin-bottom: 0.2%;
      margin-left: 1%;
    }
    .readTime {
      font-family: "anek devanagari";
      font-size: 2vw !important
        ;

      font-weight: 400;
      color: white;
      margin-left: 1%;
      opacity: 50%;
    }
    .picks {
      margin-bottom: 7%;
    }
    .titleDiv {
      width: 100%;
      margin-top: 3%;
    }
    .titleDiv span {
      font-size: 15vw;
    }
    .makeInline {
      display: inline;
    }
    .exploreBtn {
      width: 16% !important;
      font-size: 2vw !important;
    }
    .listText {
      font-size: 3.3vw !important;
    }
    .listGenre {
      font-size: 2.3vw !important;
    }
    .blogImg {
      width: 110% !important;
      margin-right: 3%;
    }
    .card-header div span {
      font-size: 5.2vw !important;
    }
    .card-text span {
      font-size: 4.7vw;
    }
    .card-footer div span {
      font-size: 6vw;
    }
    .controls {
      transform: translate(38%, 80%);
      margin-bottom: 4%;
    }
    .swiper-next,
    .swiper-prev {
      width: 7.5%;
    }
    .swiper-prev {
      margin-right: 6.5%;
    }
  }

  .titleDiv {
    width: 60%;
  }
  .exploreBtns {
    margin-top: 3%;
    margin-bottom: 3%;
  }
  .info {
    margin-top: 3.4%;
  }
  a {
    text-decoration: none;
  }
  .heading {
    margin-top: 4%;
    overflow: hidden;
  }
  .heading span {
    font-family: "Deutschlander";
    text-transform: uppercase;
    font-size: 13vw;
    font-weight: 400;
    font-style: normal;
    color: white;
    line-height: 0.85;
    /* padding-top: 2%; */
  }

  .margins {
    margin-left: 7%;
    margin-right: 7%;
  }

  .blogbtn {
    vertical-align: top !important;
    width: 26%;
    opacity: 0;
    display: inline-block;
  }

  .topText {
    margin-top: 6%;
    padding-top: 6%;
  }
  .topText span {
    font-family: "anek devanagari";
    opacity: 65%;
    color: white;
    font-size: 2vw;
    font-weight: 300;
  }

  .editors {
    margin-top: 4%;
    overflow: hidden;
  }

  .editors span {
    font-family: "Deutschlander";
    text-transform: uppercase;
    font-size: 10vw;
    font-weight: 400;
    font-style: normal;
    color: white;
    line-height: 0.85;
    display: inline-block;
  }

  .editorImgs {
    width: 100%;

    margin-bottom: 6%;
  }

  .imgText {
    font-family: "Deutschlander";
    text-transform: uppercase;
    font-size: 4vw;
    font-weight: 400;
    font-style: normal;
    color: white;
    line-height: 0.85;
    word-spacing: 0.25rem;
  }

  .goBtn {
    width: 14%;
    vertical-align: top;
  }

  .border-box {
    background-color: #e5ff53;
    text-align: center;
    padding: 0.18vw;
    width: 8vw;
    border-radius: 1.5px;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.65;
  }
  .border-box span {
    font-family: "anek devanagari";
    font-size: 0.7vw;

    font-weight: 500;

    vertical-align: middle;
  }

  .authorName {
    font-family: "anek devanagari";
    font-size: 0.7vw;

    font-weight: 400;
    color: white;
    margin-left: 2%;
  }
  .dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    margin-bottom: 0.2%;
    margin-left: 1%;
  }
  .readTime {
    font-family: "anek devanagari";
    font-size: 0.7vw;

    font-weight: 400;
    color: white;
    margin-left: 1%;
    opacity: 50%;
  }

  .whiteHeading {
    font-family: "Deutschlander";
    text-transform: uppercase;
    font-size: 10vw;
    font-weight: 400;
    font-style: normal;
    /* color: white; */
    line-height: 0.85;
    display: inline-block;
  }

  .exploreBtn {
    background-color: #f6f7f0;
    color: black;
    font-weight: 500;
    font-size: 1vw;
    border-radius: 30px;
    width: 20%;
    /* height:35px; */
    border: 1.15px solid rgb(182, 181, 181);
    font-family: "anek devanagari";
    margin: 1.35%;
    padding: 2%;
  }

  .exploreBtn.clicked {
    background-color: black;
    color: white;
  }

  .list {
    padding-bottom: 2%;
    padding-top: 2%;
    border-bottom: 1.45px solid rgb(204, 202, 202);
  }

  .listGenre {
    font-size: 0.85vw;
    opacity: 50%;
    font-family: "anek devanagari";
    font-weight: 500;

    text-transform: uppercase;
  }

  .listText {
    width: 75%;
    font-family: "anek devanagari";
    font-weight: 600;
    font-size: 1.2vw;
    text-transform: capitalize;
    margin-top:;
  }

  .blogImg {
    object-fit: cover;
    aspect-ratio: 3/2;
    border-radius: 0 0.8vw 0 0.8vw;
  }
  .topText {
    position: relative;
    bottom: 100%;
  }
  .topText:before {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: #1a1a1a;
    z-index: 998;
    transition: bottom 1.2s ease;
    transition-delay: 0.8s;
    transition-duration: 2s;
    overflow: hidden;
  }
  .topText-animation:before {
    bottom: 100%;
  }

  .animate-img {
    position: relative;
  }
  .animate-img:after {
    content: "";
    position: absolute;
    right: 5%;
    left: -10%;
    top: 0;
    bottom: 0;
    background: #1a1a1a;
    z-index: 998;
    transition: left 1.2s ease;
    overflow: hidden;
  }
  .animate-img2 {
    position: relative;
  }
  .animate-img2:after {
    content: "";
    position: absolute;
    right: 5%;
    left: -10%;
    top: 0;
    bottom: 0;
    background: #1a1a1a;
    z-index: 998;
    transition: left 1.2s ease;
    overflow: hidden;
  }
  .animation-img:after {
    left: 100%;
  }
</style>

<style is:global>
  .logoWhite {
    display: block !important;
  }
  .logoBlack {
    display: none;
  }

  .listText,
  .listText * {
    /* width: 75%; */
    font-family: "anek devanagari";
    font-weight: 600;
    font-size: 1.2vw;
    text-transform: capitalize;
    margin: 0;
  }

  .headingStyle,
  .headingStyle * {
    font-family: "Deutschlander";
    text-transform: uppercase;
    font-size: 2.5vw;
    display: block;
    min-height: 12ch;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  @media screen and (max-width: 767px) {
    .listText * {
      font-size: 3.3vw !important;
    }

    .headingStyle,
    .headingStyle * {
      font-size: 5.7vw !important;
    }
  }
  .turnBlack {
    background: #1a1a1a !important;
    position: fixed !important;
    width: 100%;
  }

  .list ul li a {
    color: white !important;
    opacity: 50%;
  }
  path {
    fill: white !important;
  }

  .connect,
  .circles {
    fill: #1a1a1a !important;
  }
  .oval {
    fill: white !important;
  }

  .tele {
    fill: white !important;
  }
  .menu p {
    color: white !important;
  }
  .menu .s1,
  .menu .s2 {
    border: 1px solid white !important;
  }
</style>

<script>
  document.querySelector(".topText").classList.add("topText-animation");
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import Eases from "gsap";
  gsap.registerPlugin(ScrollTrigger);

  // swiper carousal script

  import {
    Swiper,
    Navigation,
    Pagination,
    EffectCoverflow,
    Autoplay,
    EffectCreative,
  } from "swiper";
  let x = 3;
  var swiper = new Swiper(".mySwiper", {
    modules: [Navigation, EffectCreative],
    effect: "creative",
    grabCursor: true,
    centeredSlides: true,
    slidesPerView: 4,
    spaceBetween: 0,
    loop: true,
    navigation: {
      nextEl: ".swiper-next",
      prevEl: ".swiper-prev",
    },
    creativeEffect: {
      prev: {
        rotate: [0, 0, -15],
        translate: ["-85%", "9%", 0],
        scale: 0.85,
      },
      next: {
        rotate: [0, 0, 15],
        translate: ["85%", "9%", 0],
        scale: 0.85,
      },

      limitProgress: 2,
    },

    breakpoints: {
      767: {
        slidesPerView: 4,
        spaceBetween: 0,
      },
      250: {
        slidesPerView: 1.7,
        spaceBetween: 10,
      },
    },

    autoplay: {
      delay: 2000,
    },
  });

  // Animation Script

  let tl = gsap.timeline();

  let mm = gsap.matchMedia();
  mm.add("(min-width: 768px)", () => {
    tl.from(".animate-title", {
      duration: 1,
      x: "-60%",
      opacity: 0.5,
      ease: "power1.out",
    })
      .to(".blogbtn", {
        duration: 1,

        opacity: 1,
      })
      .from(".blogbtn", {
        rotate: "360",
        duration: 10,
        repeat: -1,
        ease: "none",
      })
      .from(".swiper-animate", {
        opacity: 0,
        scrollTrigger: {
          trigger: ".swiper-animate",
          start: "top 66%",
          end: "bottom 90%",
          scrub: true,
        },
      })
      .from(".animate-img", {
        // opacity: 0,
        scrollTrigger: {
          trigger: ".animate-img",
          start: "top 50%",
          end: "bottom top",
          toggleClass: "animation-img",
          scrub: true,
        },
      })
      .from(".animate-img2", {
        // opacity: 0,
        scrollTrigger: {
          trigger: ".animate-img2",
          start: "top 50%",
          end: "bottom top",
          toggleClass: "animation-img",
          scrub: true,
        },
      })
      .from(".animate-imgText", 1, {
        x: "-30%",
        opacity: 0,
        scrollTrigger: {
          trigger: ".animate-imgText",
          start: "top 75%",
          end: "bottom 78%",
          scrub: true,
        },
      });
  });

  mm.add("(max-width: 767px)", () => {
    tl.from(".animate-title", {
      duration: 1,
      x: "-60%",
      opacity: 0.5,
      ease: "power1.out",
    })
      .to(".blogbtn", {
        duration: 1,

        opacity: 1,
      })

      .from(".swiper-animate", {
        opacity: 0,
      })
      .from(".editors span", {
        duration: 1,
        x: "-100%",
        opacity: 0.5,
        ease: "power1.out",
      })
      .from(".animate-img", {
        // opacity: 0,
        scrollTrigger: {
          trigger: ".animate-img",
          start: "top 60%",
          end: "bottom top",
          toggleClass: "animation-img",
          scrub: true,
        },
      })
      .from(".animate-img2", {
        // opacity: 0,
        scrollTrigger: {
          trigger: ".animate-img2",
          start: "top 60%",
          end: "bottom top",
          toggleClass: "animation-img",
          scrub: true,
        },
      })
      .from(".animate-imgText", 1, {
        x: "-30%",
        opacity: 0,
        scrollTrigger: {
          trigger: ".animate-imgText",
          start: "top 85%",
          end: "bottom 78%",
          scrub: true,
        },
      });
  });

  // filter for blogs based on Genre

  const myButton = document.querySelectorAll(".exploreBtn");

  for (let i = 0; i < myButton.length; i++) {
    console.log(myButton.length, "lennnngth");
    myButton[i].addEventListener("click", function () {
      const selectedGenre = myButton[i].id.replaceAll(" ", "-").toLowerCase();
      document.querySelectorAll(".list").forEach((blog) => {
        blog.classList.remove("d-none");
        if (selectedGenre === "all") {
          blog.classList.add("d-inline-block;");
        } else if (!blog.classList.contains(selectedGenre)) {
          blog.classList.add("d-none");

          console.log(blog.classList.contains(selectedGenre));
        }
      });
      for (let j = 0; j < myButton.length; j++) {
        if (i === j) {
          myButton[j].classList.add("clicked");
        } else {
          myButton[j].classList.remove("clicked");
        }
      }
    });
  }
</script>
