---
import Layout from "../layouts/Layout.astro";
import officeImg from "../images/officeImg.png";
import submitArrow from "../images/submitArrow.png";
import contactHand from "../images/contactHand.png";
import positionBtn from "../images/positionBtn.png";
import { Image } from 'astro:assets';
//import { Image, Picture } from "@astrojs/image/components";
---

<Layout title="Contact Us" seoTitle="contact-us">
  <section class="topSec">
    <div class="row topSecDiv">
      <div class="col-lg-5 col-md-5 col-sm-12 imgText">
        <div class="contact-animate">
          <span class="title title1"> Ready for a</span>

          <span class="title title2">Head Start?</span>
        </div>
        <div class="text-animate">
          <span class="text"
            >We can help you with all your questions except, how much calories
            does Mario burn in a day.</span
          >
        </div>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-12 imgDiv">
        <Image class="heroImg optimization" src={officeImg} alt="" />
      </div>
    </div>

    <form action="" class="margins" id="connect">
      <span class="mobTitles">Your Name :</span>
      <div class="input-group mb-3 input-group-lg">
        <div class="input-group-prepend" style="margin-bottom:  1.5%;">
          <span class="inp-title input-group-text">Your Name :</span>
        </div>
        <input
          type="text"
          style="margin-bottom:  1.5%; "
         
          class="input form-control"
          id="name2"
          name="name2"
          required
        />
      </div>

      <span class="mobTitles">Your Email :</span>

      <div style="margin-bottom: 3%;" class="input-group mb-3 input-group-lg">
        <div class="input-group-prepend" style="margin-bottom: 1.5%;">
          <span class="inp-title input-group-text">Your Email :</span>
        </div>
        <input
          type="text"
          style="margin-bottom:  1.5%; "
         
          class="input form-control"
          id="email2"
          name="email2"
          required
        />
      </div>
      <span class="mobTitles">Message :</span>

      <textarea
        class="textArea"
        rows="7"
        cols="50"
        id="message"
        name="message"
        required
      >
        Message : &nbsp;
      </textarea>
      <button
        class="submitBtn btn"
        type="submit"
        id="submitBtn"
        aria-label="submit"
      >
        <Image src={submitArrow} class="optimization" loading="lazy" alt="" />
        submit
      </button>
    </form>
  </section>

  <section style="margin-top: 3%; margin-bottom: 3%;">
    <div class="row table margins">
      <div class="col-lg-2 col-md-2 col-sm-12 col1">ADDRESS</div>
      <div class="col-lg-10 col-md-10 col-sm-12 col2">
        Lotus corporate park, E 802, Western Express Hwy, Geetanjali Railway
        Colony, Laxmi Nagar, Goregaon, Mumbai, Maharashtra 400063
      </div>
    </div>

    <div class="row table margins">
      <div class="col-lg-2 col-md-2 col-sm-12 col1">CONTACT</div>
      <div class="col-lg-10 col-md-10 col-sm-12 col2 d-flex justifyEnd">
        <div
          class="innerDivs"
          style="border-right: 1.2px solid rgb(202, 199, 199)"
        >
          <a
            href="mailto:mumbai@inkincaps.com"
            aria-label="mail"  style="padding-left: 0 !important;"
            target="_blank"><span>mumbai@inkincaps.com</span></a
          >
        </div>

        <div style="padding-left: 1.5%;">
          <a href="tel:+91-83032 29629" aria-label="phone">
            <span>+91-83032 29629</span>
          </a>
        </div>
      </div>
    </div>

    <div class="row table margins">
      <div class="col-lg-2 col-md-2 col-sm-12 col1">TIMING</div>
      <div class="col-lg-10 col-md-10 col-sm-12 col2">
        Mon-Sat : 10:30 - 19:30 IST
      </div>
    </div>

    <div class="row table margins" style="border-bottom: 0;">
      <div class="col-lg-2 col-md-2 col-sm-12 col1">SOCIAL</div>
      <div class="col-lg-10 col-md-10 col-sm-12 col2 d-flex justifyEnd">
        <div class="innerDivs">
          <a
            href="https://in.linkedin.com/company/ink-in-caps"
            target="_blank"
            style="padding-left: 0 !important;"
            aria-label="linkedin"><span>LinkedIn</span></a
          >
        </div>
        <div class="innerDivs">
          <a
            href="https://www.instagram.com/inkincaps/?hl=en"
            target="_blank"
            aria-label="instagram"><span>Instagram</span></a
          >
        </div>

        <div class="innerDivs">
          <a
            href="https://www.youtube.com/@InkInCaps"
            aria-label="youtube"
            target="_blank"><span>Youtube</span></a
          >
        </div>

        <div class="innerDivs">
          <a
            href="https://twitter.com/inkincaps?lang=en"
            aria-label="twitter"
            target="_blank"><span>Twitter</span></a
          >
        </div>

        <div style="padding-left: 1.5%;">
          <a
            href="https://www.facebook.com/inkincaps/"
            aria-label="facebook"
            target="_blank"><span>Facebook</span></a
          >
        </div>
      </div>
    </div>
  </section>

  <section class="bottomSec">
    <div class="joinClan row">
      <div class="col-8">
        <div class="clanDiv">
          <span class="clan">want to</span>
        </div>
        <div class="clanDiv">
          <span class="clan"> join our clan?</span>
        </div>
        <a class="btn-animate" href="/hiring"
          ><Image class="btn posBtn optimization" src={positionBtn} alt="" /></a
        >
      </div>
      <div class="col-4 hand-animate">
        <Image
          style="width: 80%;"
          src={contactHand}
          class="optimization"
          loading="lazy"
          alt=""
        />
      </div>
    </div>
  </section>
</Layout>

<script>
  import swal from "sweetalert";
  document
    .getElementById("connect")
    .addEventListener("submit", function (event) {
      event.preventDefault();

      var formData = new FormData(event.target as HTMLFormElement);

      var name = formData.get("name2");
      var email = formData.get("email2");
      var message = formData.get("message");

      const connectFormData = `
    <style>
    #customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    #customers td,
    #customers th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #customers tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #customers tr:hover {
        background-color: #ddd;
    }

    #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #04AA6D;
        color: white;
    }
</style>

<body>
    <table id="customers">

        <tr>
            <td style="font-weight:bold;">Name</td>
            <td >${name}</td>
        </tr>
        <tr>
          <td style="font-weight:bold;">Email</td>
          <td >${email}</td>
        </tr>
        <tr>
      <td style="font-weight:bold;">Message</td>
      <td >${message}</td>
      </tr>
    </table>
</body>
    `;

      const formData2 = new FormData();
      formData2.append("type", "contact-us");
      formData2.append("body", connectFormData);

      fetch("https://iiclab-backend.vtour.tech/mail", {
        method: "POST",
        body: formData2,
        redirect: "follow",
      })
        .then(function (response) {
          if (response.ok) {
            return response.text();
          }
          throw new Error("ERROR:" + response.status);
        })
        .then(function (data) {
          console.log(data);
          swal({
            title: "Thank You!",
            icon: "success",
            // text: "Thank you for showing interest, We will get back to you shortly.",
          });
        })
        .catch(function (error) {
          console.error("error:", error);
        });
      (event.target as HTMLFormElement).reset();
    });
</script>

<style>
  .optimization {
    height: auto;
  }
  .input:focus,
  .textArea:focus {
    outline: none !important;
    box-shadow: none !important;
  }
  a {
    text-decoration: none;
  }
  @media screen and (min-width: 768px) {
    .mobTitles {
      display: none;
    }
    .input-group input {
      border-left: 0 solid white !important;
    }
    .col2 {
      text-align: end;
    }

    .justifyEnd {
      text-align: end;
      justify-content: end;
    }
  }
  @media screen and (max-width: 767px) {
    .title2{
      margin-left: 2% !important;
    }
    .imgDiv {
      padding-left: 0 !important;
    }
    .text {
      font-size: 3vw !important;
      line-height: 1.8 !important;
    }
    .imgText {
      padding-right: 5% !important;
      margin-bottom: 4%;
    }
    .input-group-prepend {
      display: none !important;
    }
    .mobTitles {
      font-family: "anek devanagari";
      color: white;
      font-size: 3vw;
    }
    .input-group-lg,
    textarea {
      margin-top: 1.8%;
    }
    .input-group-lg > .btn,
    .input-group-lg > .form-control,
    .input-group-lg > .form-select,
    .input-group-lg > .input-group-text {
      padding: 1.5rem;
    }
    input::placeholder {
      font-size: 2.5vw !important;
    }
    input {
      border-left: 1px solid white !important;
    }

    .col1,
    .col2 {
      font-size: 3vw !important;
      line-height: 2 !important;
    }
    .innerDivs {
      padding-left: 0.75% !important;
      padding-right: 0.75% !important;
    }
    .table {
      padding-bottom: 2% !important;
    }

    .posBtn {
      width: 80% !important;
    }
    .col-4 img {
      width: 90% !important;
    }
    .topSecDiv {
      padding-top: 7% !important;
      margin-right: auto;
    }
    .textArea {
      font-size: 3vw !important;
    }
  }

  .imgDiv {
    padding-left: 4%;
    position: relative;
  }
  .topSec {
    background-color: #1a1a1a;
    padding-top: 7vw;
    padding-bottom: 5%;
    border-radius: 0 0 4vw 4vw;
    overflow: hidden;
  }
  .topSecDiv {
    margin-top: 1%;
    margin-left: 8%;
    margin-bottom: 3%;
  }
  @media screen and (max-width: 1400px) {
    .topSecDiv {
      margin-top: 2.5%;
    }
  }

  @media screen and (max-width: 1200px) {
    .topSecDiv {
      margin-top: 4.5%;
    }
  }

  @media screen and (max-width: 992px) {
    .topSecDiv {
      margin-top: 5.5%;
    }
  }
  @media screen and (max-width: 870px) {
    .topSecDiv {
      margin-top: 7.5%;
    }
  }
  @media screen and (max-width: 560px) {
    .topSecDiv {
      padding-top: 8% !important;
    }
    .topSec {
      padding-top: 12vw !important;
    }
  }
  @media screen and (max-width: 384px) {
    .topSecDiv {
      padding-top: 10.5% !important;
    }
    .topSec {
      padding-top: 15vw !important;
    }
  }

  @media screen and (max-width: 320px) {
    .topSecDiv {
      padding-top: 12% !important;
    }
    .topSec {
      padding-top: 17vw !important;
    }
  }

  .bottomSec {
    background-color: #1a1a1a;
    padding-top: 9vw;
    padding-bottom: 5%;
    border-radius: 4vw 4vw 0 0;
  }
  .margins {
    margin-left: 8%;
    margin-right: 8%;
  }
  .title {
    font-family: "Deutschlander";
    color: white;
    font-size: 14.5vw;
    text-transform: uppercase;
    line-height: 0.85;
  }
  @media screen and (min-width: 768px) {
    .title {
      display: block;
    }
  }
  .heroImg {
    width: 100%;
    border-radius: 4.5vw 0 4.5vw 0;
  }

  .text {
    font-family: "anek devanagari";
    font-size: 1.2vw;
    opacity: 60%;
    color: white;
    font-weight: 300;
    display: block;
  }

  .table {
    border-bottom: 1.15px solid hsl(60, 1%, 84%);
    padding-top: 1%;
    padding-bottom: 1%;
    width: 83%;
    overflow: hidden;
  }
  .col1,
  .col2 {
    font-family: "Anek Devanagari";
    font-style: normal;
    font-weight: 600;
    font-size: 1.1vw;
    line-height: 300%;

    text-transform: capitalize;

    color: #252525;

    opacity: 0.9;
  }

  .joinClan {
    margin-left: 10%;
    margin-right: 12%;
    margin-top: 4%;
  }

  .col-8 span {
    font-family: "Deutschlander";
    color: white;
    font-size: 14.5vw;
    text-transform: uppercase;
    line-height: 0.85;
    padding-right: 8%;
    display: block;
  }
  .clanDiv {
    overflow: hidden;
  }

  .posBtn {
    width: 40%;
    margin-top: 3%;
  }

  .innerDivs {
    border-right: 1.2px solid rgb(202, 199, 199);
    padding-right: 1.5%;
    padding-left: 1.5%;
  }

  /* form css */

  .input-group-prepend span {
    border-right: 0 solid white !important;
  }
  input {
    border-left: 0px solid white !important;
  }
  .inp-title,
  .input {
    background-color: #1a1a1a;
  }
  .input-group-text {
    padding: 2.55rem 2.75rem;
    color: white;
    font-family: "anek devanagari";
    text-transform: uppercase;
    font-size: 1.2vw;
    /* border-right: 0 !important; */
    border-radius: 0 0 0 0.7vw !important;
    border: 1.3px solid #575859 !important;
  }
  .form-control {
    color: #e5ff53 !important;
    font-weight: 500;
    font-family: "anek devanagari";
    font-size: 1.35vw !important;
    background-color: #1a1a1a !important;
    border-radius: 0 0.7vw 0 0 !important;
    border: 1.3px solid #575859 !important;
  }

  .textArea {
    background-color: #1a1a1a;
    width: 100%;
    color: white;
    font-size: 1.2vw;
    font-family: anek devanagari;
    padding-top: 4%;
    text-transform: uppercase;
    border-radius: 0 0.7vw 0.7vw 0.7vw !important;
  }
  .submitBtn {
    width: 100%;
    background-color: #e5ff53;
    text-align: center;
    padding: 3%;
    font-family: "anek devanagari";
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: 0 0 0.7vw 0.7vw;
  }

  /* animation css */

  .contact-animate {
    overflow: hidden;
  }
  .text-animate {
    overflow: hidden;
  }

  .imgDiv::before {
    content: "";
    position: absolute;
    right: 1.5%;
    left: 0;
    top: -1%;
    bottom: 0;
    background: #1a1a1a;
    z-index: 998;
    transition: right 1s ease;
    transition-delay: 2s;
    overflow: hidden;
  }
  .imgDiv-animation::before {
    right: 100%;
  }
  .btn-animate {
    display: block;
  }
  input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #e5ff53 !important;
    opacity: 1; /* Firefox */
  }

  input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #e5ff53 !important;
  }

  input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #e5ff53 !important;
  }
</style>s
<style is:global>
  .turnBlack {
    background: transparent !important; ;
    position: fixed !important;
    width: 100%;
    margin-bottom: 1%;

  }

  .list ul li a {
    color: white !important;
    opacity: 50%;
  }
  path {
    fill: white !important;
  }

  .connect,
  .circles {
    fill: #1a1a1a !important;
  }
  .oval {
    fill: white !important;
  }

  .tele {
    fill: white !important;
  }
  .menu p {
    color: white !important;
  }
  .menu .s1,
  .menu .s2 {
    border: 1px solid white !important;
  }
</style>

<script>
  document.querySelector(".imgDiv").classList.add("imgDiv-animation");

  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import Eases from "gsap";
  gsap.registerPlugin(ScrollTrigger);

  let tl = gsap.timeline();

  let mm = gsap.matchMedia();

  mm.add("(min-width: 768px)", () => {
    tl.from(".title1", {
      duration: 1,
      x: "-100%",

      ease: "power1.out",
    })
      .from(".title2", {
        duration: 1,
        x: "-100%",

        ease: "power1.out",
      })
      .from(".text", {
        duration: 1,
        y: "100%",
        ease: "power1.out",
      })
      .from(".input-group, .textArea, .submitBtn", 1, {
        y: "50%",
        opacity: 0,
      })
      .from(".col1, .col2", 1, {
        y: "50%",
        opacity: 0,
        stagger: 0.5,

        scrollTrigger: {
          trigger: ".col1, .col2",
          start: "top 50%",
          end: "bottom 30%",
          scrub: true,
        },
      })

      .from(".clan", 1, {
        y: "100%",

        scrollTrigger: {
          trigger: ".clan",
          start: "top 85%",
          end: "bottom 60%",

          scrub: true,
        },
      })
      .from(".hand-animate", 1, {
        opacity: 0,

        scrollTrigger: {
          trigger: ".hand-animate",
          start: "top 40%",
          end: "bottom 90%",

          scrub: true,
        },
      })

      .from(".hand-animate", 1, {
        x: "+=30",
        rotate: "-=10",
        yoyo: true,
        repeat: 10,
        scrollTrigger: {
          trigger: ".hand-animate",
          start: "top 55%",
          end: "bottom 50%",

          scrub: true,
        },
      })
      .from(".btn-animate", 1, {
        x: "-20%",
        opacity: 0,

        scrollTrigger: {
          trigger: ".hand-animate",
          start: "top 55%",
          end: "bottom 75%",

          scrub: true,
        },
      });
  });

  mm.add("(max-width: 767px)", () => {
    tl.from(".contact-animate", {
      duration: 1,
      x: "-100%",

      ease: "power1.out",
    })

      .from(".text", {
        duration: 1,
        y: "100%",
        ease: "power1.out",
      })
      .from(".input-group, .textArea, .submitBtn", 1, {
        y: "50%",
        opacity: 0,
      })
      .from("#connect span", {
        y: "50%",
        opacity: 0,
      })
      .from(".col1, .col2", 1, {
        y: "50%",
        opacity: 0,
        stagger: 0.5,

        scrollTrigger: {
          trigger: ".col1, .col2",
          start: "top 50%",
          end: "bottom 30%",
          scrub: true,
        },
      })

      .from(".clan", 1, {
        y: "100%",

        scrollTrigger: {
          trigger: ".clan",
          start: "top 70%",
          end: "bottom 60%",

          scrub: true,
        },
      })
      .from(".hand-animate", 1, {
        opacity: 0,

        scrollTrigger: {
          trigger: ".hand-animate",
          start: "top 55%",
          end: "bottom 90%",

          scrub: true,
        },
      })

      .from(".hand-animate", 1, {
        x: "+=30",
        rotate: "-=10",
        yoyo: true,
        repeat: 10,
        scrollTrigger: {
          trigger: ".hand-animate",
          start: "top 50%",
          end: "bottom 50%",

          scrub: true,
        },
      })
      .from(".btn-animate", 1, {
        x: "-20%",
        opacity: 0,

        scrollTrigger: {
          trigger: ".hand-animate",
          start: "top 50%",
          end: "bottom 60%",

          scrub: true,
        },
      });
  });
</script>
