---
import Layout from "../layouts/Layout.astro";
import hiringImg1 from "../images/hiringImg1.jpg";
import hiringHeroImg from "../images/hiringHeroImg.jpg";
import team from "../images/team.jpg";
import funLoving from "../images/funLoving.jpg";
import fun from "../images/fun.png";
import opportunity from "../images/opportunity.png";
import closeEye from "../images/closeEye.png";
import locIcon from "../images/locIcon.png";
import clock from "../images/clock.png";
import ps from "../images/ps.png";
import { contentfulClient } from "../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
// import jobProfiles from "../components/jobProfiles";
import { Image, Picture } from "@astrojs/image/components";

import viewOpenPositions from "../images/ViewOpenPosition.png";
const entries: any = await contentfulClient.getEntries<any>({
  content_type: "jobProfiles",
});
---

<Layout title="Hiring" seoTitle="hiring">
  <section>
    <div class="row sticky-div">
      <div class="col-lg-8 col-md-8 col-sm-12" style="overflow: hidden;">
        <span class="title">Join Our Team</span>
        <!-- <div>
           <Image alt="" format="webp"   class="titleImg" src={hiringImg1} alt="" />
          <span class="title">Join Our Team</span>
        </div> -->
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 titleText">
        <span>
          Join our team of creative thinkers if you are ready to make the Big
          Bold moves, Value Creativity over Hierarchy, and have what it takes to
          design the future of Technology
        </span>
      </div>
    </div>
    <Image
      alt=""
      format="webp"
      class="optimization"
      style="width:100%;"
      src={hiringHeroImg}
    />
  </section>

  <section class="blackSec">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 blackTitle">
        <span class="blackTitle-animate">Benefits of being an &nbsp;</span>

        <span class="blackTitle-animate" style="color:#e5ff53">IIC</span>
        <span class="blackTitle-animate" style="color:#f5ffbb">IAN</span>
      </div>
      <div
        class="col-lg-8 col-md-8 col-sm-12 row pointerDiv"
        style=" padding-top: 2.5%;"
      >
        <div class="col-6 pointersMob" style="padding-left: 10%;">
          <Image
            alt=""
            format="webp"
            src={team}
            class="optimization benefitsImg"
            alt=""
            loading="lazy"
          />
          <p class="benefitsText" style="margin-bottom: 15%;">
            Working with a highly experienced team.
          </p>
          <Image
            alt=""
            format="webp"
            src={opportunity}
            class="optimization benefitsImg"
            alt=""
            loading="lazy"
          />
          <p class="benefitsText">
            Get opportunities to work with major brands.
          </p>
        </div>
        <div class="col-6 pointersMob" style="padding-left: 10%;">
          <Image
            alt=""
            format="webp"
            src={funLoving}
            class="optimization benefitsImg"
            alt=""
            loading="lazy"
          />
          <p class="benefitsText" style="margin-bottom: 15%;">
            A fun-loving and creative environment.
          </p>
          <Image
            alt=""
            format="webp"
            src={fun}
            class="optimization benefitsImg"
            alt=""
            loading="lazy"
          />
          <p class="benefitsText">Creative & Fun activities every week.</p>
        </div>
      </div>
    </div>
  </section>

  <section style="padding-top: 4.5%;" class="margins">
    <div style="margin-bottom: 2%;">
      <span class="positionsTitle">Explore Positions</span>
      <!-- <span class="positionsTitle" style="opacity:40%">(03)</span> -->
    </div>

    <div class="row" style="margin-bottom: 3%;">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <span class="inputTitle">Search for a title...</span>
        <input
          class="inputCss"
          type="text"
          placeholder="Search for a job title..."
        />
      </div>
      <div class="col-4 onlyDesk">
        <span class="inputTitle">Location:</span>
        <br />

        <button
          id="Any"
          class="btn exploreBtn clicked"
          aria-label="any location"
          type="button"
          style="margin-left: 0;">Any</button
        >
        <button
          id="Mumbai"
          class="btn exploreBtn"
          type="button"
          aria-label="mumbai">Mumbai</button
        >
        <button
          id="Lucknow"
          class="btn exploreBtn"
          type="button"
          aria-label="lucknow">Lucknow</button
        >
      </div>
      <div class="col-4 onlyDesk" style="padding-left: 1.7%;">
        <span class="inputTitle">Category:</span>
        <br />
        <!-- <input
          style="width:80%"
          class="inputCss"
          type="text"
          placeholder="Design & Development"
        /> -->
        <label class="select" for="slct">
          <select id="slct2" required="required">
            <option value="Any">Any</option>
            <option value="Design and Development"
              >Design and Development</option
            >

            <option value="Business Development">Business Development</option>
            <option value="Content Writer">Content Writer</option>
            <option value="Graphic Designer">Graphic Designer</option>
          </select>
        </label>
      </div>
    </div>

    <div class="row onlyMob">
      <label class="select" for="slct">
        <select id="slct" required="required">
          <option value="Any" selected="selected">Location: Any</option>
          <option value="Mumbai">Mumbai</option>
          <option value="Lucknow">Lucknow</option>
          <!-- <option value="#">Three</option> -->
        </select>
      </label>
    </div>

    <div class="row onlyMob" style="margin-bottom: 4%;">
      <label class="select" for="slct">
        <select id="slct3" required="required">
          <option value="Any">Category: Any</option>

          <option value="Design and Development">Design and Development</option>
          <option value="Business Development">Business Development</option>
          <option value="Content Writer">Content Writer</option>
          <option value="Graphic Designer">Graphic Designer</option>
        </select>
      </label>
    </div>
    <div class="row">
      {
        entries.items.map((jobProfiles, index) => (
          <div
            class={
              "flip-card " +
              jobProfiles.fields.location +
              " col-4 profile-card " +
              jobProfiles.fields.category.replaceAll(" ", "-")
            }
          >
            <div class="flip-card-inner">
              <div class="card">
                <div class="eyeDiv btn">
                  <Image
                    alt=""
                    format="webp"
                    src={closeEye}
                    class="optimization eye"
                    loading="lazy"
                    alt=""
                  />
                </div>

                <div class="cardContent ">
                  <span>{jobProfiles.fields.jobProfile}</span>
                </div>
                <div class="bottomDiv">
                  <span>{jobProfiles.fields.experience}</span>
                </div>
              </div>
              <div class="flip-card-back">
                <div class="backContent">
                  <h3>{jobProfiles.fields.profileAndExperience}</h3>
                  <span>{jobProfiles.fields.shortDescription}</span>
                </div>
                <div class="location">
                  <Image
                    alt=""
                    format="webp"
                    class="locIcon optimization"
                    src={locIcon}
                    alt=""
                  />
                  <span style="margin-right: 10%;">
                    {jobProfiles.fields.location}
                  </span>
                  <Image
                    alt=""
                    format="webp"
                    style="width: 8%;"
                    class="optimization"
                    src={clock}
                    alt=""
                    loading="lazy"
                  />
                  <span>{jobProfiles.fields.jobType}</span>
                </div>
                <div class="bottomDivBack row">
                  <div class="col-6 blackBottom">
                    <Image
                      alt=""
                      format="webp"
                      class="optimization"
                      src={ps}
                      alt=""
                    />
                  </div>

                  <div class="col-5 btn">
                    <a
                      href={"/hiring-application/" + jobProfiles.fields.params}
                      aria-label="apply now"
                    >
                      Apply Now
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </section>
  <style>
    .optimization {
      height: auto;
    }
    a {
      text-decoration: none;
    }
    .exploreBtn:focus {
      outline: none !important;
      box-shadow: none !important;
    }
    select {
      padding: 2% 10% 2% 3% !important;

      width: 140% !important;
      border: 1.25px solid rgba(26, 26, 26, 0.25) !important;
      font-family: "anek devanagari";
      background: rgba(255, 255, 255, 0.7);
      opacity: 60%;
      border-radius: 0 0.6vw 0 0.6vw !important;
      font-size: 1.1vw;
    }
    .sticky-div {
      padding: 3.5% 8% 4% 8%;
      position: sticky;
      top: 0%;
      margin-right: auto;
      background-color: #f6f7f0;
    }
    @media screen and (max-width: 767px) {
      .blackTitle-animate {
        transform: translate3d(0, 0, 0) !important;
      }
      select {
        padding: 2% 10% 2% 3% !important;
        margin-bottom: 3% !important;
        width: 100% !important;
        border: 1.25px solid rgba(26, 26, 26, 0.25) !important;
        font-family: "anek devanagari";
        background: rgba(255, 255, 255, 0.7);
        opacity: 60%;
        border-radius: 0.6vw !important;
        font-size: 2.3vw;
      }
      .titleText {
        font-size: 2.2vw !important;
        /* display: block !important; */
        margin-top: 2%;
      }
      .title {
        font-size: 18vw !important;
      }
      .titleImg {
        width: 31% !important;
        margin-top: 2%;
      }
      .blackTitle span {
        font-size: 18vw !important;
        word-spacing: 0.13rem !important;
      }
      .pointersMob {
        padding-left: 1.5% !important;
      }
      .benefitsText {
        font-size: 3vw !important;
        width: 80% !important;
      }
      .positionsTitle {
        font-size: 18vw !important;
      }
      .pointerDiv {
        margin-left: 0 !important;
        margin-top: 3% !important;
      }
      .onlyDesk {
        display: none !important;
      }
      .inputCss {
        border-radius: 0.6vw !important;
        padding: 4.5%;
        font-size: 2.3vw !important;
        width: 100% !important;
      }
      .inputTitle {
        display: none !important;
      }

      /* Cards CSS */
      .flip-card {
        width: 100% !important;
        height: 100vw !important ;
      }
      .card {
        width: 100% !important;
        margin-bottom: 5% !important;
      }

      .cardContent span {
        font-size: 14.5vw !important;
      }
      .bottomDiv span {
        font-size: 8vw !important;
      }
      .eyeDiv {
        border-radius: 0 0 0 16vw !important;
      }
      .backContent h3 {
        font-size: 5vw !important;
      }
      .flip-card-back span {
        font-size: 3vw !important;

        min-height: 10vw !important;
      }
      .locIcon {
        width: auto !important;
      }
      .clock {
        width: 6% !important;
      }
      .bottomDivBack .col-5 {
        font-size: 6vw !important;
      }
      .backContent,
      .location {
        padding: 0 7% !important;
      }
      .flip-card-back {
        padding: 19% 0 0 0 !important;
        width: 100% !important;
        margin-left: 0 !important;
      }

      /* cards css ends */
    }

    @media screen and (min-width: 768px) {
      .onlyMob {
        display: none !important;
      }
      .flip-card {
        margin-bottom: 3%;
      }
    }
    @media screen and (max-width: 500px) {
      .flip-card {
        height: 105vw !important;
      }
    }

    @media screen and (max-width: 820px) {
      .exploreBtn {
        width: 6.7vw !important;
      }
      .title {
        word-spacing: 0.13rem !important;
      }
    }

    .title {
      font-family: "Deutschlander";
      font-size: 14.5vw;
      text-transform: uppercase;
      line-height: 0.8;
      word-spacing: 0.22rem;
      display: block;
    }

    .titleImg {
      vertical-align: baseline;
      width: 32%;

      border-radius: 12vw;
      margin-right: 3%;
    }

    .margins {
      margin: 0 8% 0 8%;
      margin-bottom: 4%;
    }

    .titleText {
      font-family: "anek devanagari";
      opacity: 60%;
      font-size: 1.2vw;
      line-height: 1.9;
      padding-top: 1%;
    }

    .blackSec {
      background-color: #1a1a1a;
      padding: 11% 8% 8% 8%;
      border-radius: 0 0 5vw 5vw;
    }
    .blackTitle {
      overflow: hidden;
    }
    .blackTitle span {
      font-family: "Deutschlander";
      font-size: 12.5vw;
      text-transform: uppercase;
      line-height: 0.8;
      color: white;
      opacity: 100%;
      display: inline-block;
      word-spacing: 0.2rem;
    }

    .benefitsImg {
      border-radius: 0 0.8vw 0 0.8vw;
      width: 21%;
      margin-bottom: 4%;
      display: inline-block;
    }
    .benefitsText {
      font-family: "anek devanagari";
      color: white;
      font-size: 2vw;
      display: inline-block;
    }

    .positionsTitle {
      font-family: "Deutschlander";
      font-size: 12.5vw;
      text-transform: uppercase;
      line-height: 0.8;
      word-spacing: 0.25rem;
    }

    .inputCss {
      height: 3vw;
      border-radius: 0 10px 0 10px;
      border: 1.25px solid rgba(26, 26, 26, 0.25);
      background: rgba(255, 255, 255, 0.7);
      font-size: calc(8px + 0.390625vw);
      width: 90%;
      padding-left: 3%;
      font-family: "anek devanagari";
      font-weight: 500;
      opacity: 80%;
    }

    .inputTitle {
      opacity: 60%;
      font-size: 1.2vw !important;
      font-family: "anek devanagari";
    }

    .exploreBtn {
      background: rgba(255, 255, 255, 0.7);
      /* opacity: 60%; */
      color: grey;
      font-weight: 400;
      font-size: 1vw;
      border-radius: 0 0.7vw 0 0.7vw;
      width: 7.7vw;
      /* height:35px; */
      border: 1.25px solid rgba(26, 26, 26, 0.25);
      font-family: "anek devanagari";
      margin: 1.35%;
      padding: 2.35%;
      margin-top: 0 !important;
    }
    .exploreBtn.clicked {
      background-color: black;
      color: white;
      opacity: 100%;
    }

    .eyeDiv {
      background-color: #e5ff53;
      width: 30%;
      padding: 10%;
      align-self: end;
      border-radius: 0 0 0 6vw;
      border-radius: ;
    }
    .card {
      background-color: #fefff9;
      border: 1.43px solid #1a1a1a;
      border-radius: 0.65vw;
      margin-right: 8%;
      min-width: 24vw;
    }
    .eye {
      width: 90%;
    }
    .cardContent span {
      font-family: "Deutschlander";
      font-size: 5.5vw;
      text-transform: uppercase;
      line-height: 0.8;
      opacity: 100%;
      display: block;
    }
    .cardContent {
      margin: 15% 10% 33% 10%;
      text-align: center;
    }
    @media screen and (min-width: 768px) {
      .cardContent {
        height: 18vw !important;
        margin-bottom: 0 !important ;
      }
    }
    .bottomDiv {
      background-color: #1a1a1a;
      text-align: center;
      align-self: baseline;
      padding: 3%;
      margin-left: 1%;
      margin-right: 2%;
      margin-bottom: 1%;
      width: 98%;

      border-radius: 0 0 0.5vw 0.5vw;
    }

    .bottomDiv span {
      font-family: "Deutschlander";
      font-size: 2.5vw;
      text-transform: uppercase;
      line-height: 0.8;
      opacity: 100%;
      color: white;
      display: block;
    }
    /* card css */

    .flip-card {
      perspective: 1000px;
      position: relative;
      width: 33%;
      height: 32vw;
    }

    .flip-card-inner {
      transition: transform 0.6s;
      transform-style: preserve-3d;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      position: relative;
    }
    .flip-card:hover .flip-card-inner {
      transform: rotateY(180deg);
    }
    .card,
    .flip-card-back {
      position: absolute;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }

    .flip-card-back {
      background-color: #1a1a1a;
      padding: 15% 7% 0 7%;
      color: white;
      transform: rotateY(180deg);
      width: 90%;
      margin-left: 10%;

      border-radius: 0.65vw;
    }
    .flip-card-back h3 {
      font-family: "anek devanagari";
      font-weight: 500;
      font-size: 1.6vw;
      margin-bottom: 7%;
    }
    .flip-card-back span {
      font-family: "anek devanagari";
      opacity: 50%;
      line-height: 1.5;
      font-size: 1vw;
      letter-spacing: 1px;
      min-height: 5.5vw;
    }
    @media screen and (min-width: 1400px) {
      .flip-card-back span {
        min-height: 7vw;
      }
    }
    .backContent span {
      display: block;
    }
    .location span {
      font-family: "anek devanagari";
      opacity: 50%;
      display: inline-block;
    }
    .backContent {
      margin-bottom: 10%;
    }
    .location {
      margin-bottom: 10%;
    }

    .bottomDivBack {
      /* text-align: center; */
      align-self: baseline;

      margin-bottom: 2%;

      border-radius: 0 0 0.5vw 0.5vw;
    }
    .col-5 {
      background-color: #e5ff53;
      padding: 5%;
      padding-bottom: 0% !important;
      text-align: center;
      font-family: "Deutschlander";
      font-size: 2.3vw;
      text-transform: uppercase;
      line-height: 0.8;
      opacity: 100%;
      color: black;
      display: block;
    }

    /* .col-5 span {
      font-family: "Deutschlander";
      font-size: 2.3vw;
      text-transform: uppercase;
      line-height: 0.8;
      opacity: 100%;
      color: black;
      display: block;
    } */
    .blackBottom {
      background-color: white;
      padding: 3%;
      padding-bottom: 4%;
      margin-left: 3%;
    }
    .col-6 img {
      width: 20%;
    }
    .locIcon {
      width: 9%;
    }
    .clock {
      width: 8%;
    }

    /* animation css */

    .titleText {
      position: relative;
    }
    .titleText:before {
      content: "";
      position: absolute;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      background: #f6f7f0;
      z-index: 998;
      transition: top 1.2s ease;
      transition-delay: 1s;
      overflow: hidden;
    }
    .titleText-animation:before {
      top: 100%;
    }
  </style>

  <script>
    // animation script
    document.querySelector(".titleText").classList.add("titleText-animation");

    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    import Eases from "gsap";
    gsap.registerPlugin(ScrollTrigger);

    let tl = gsap.timeline();

    tl.from(".title", {
      duration: 1,
      x: "-100%",
      opacity: 0.5,
      ease: "power1.out",
    })
      .from(".blackTitle-animate", 1, {
        x: "-200%",
        opacity: 0,
        scrollTrigger: {
          trigger: ".blackTitle-animate",
          start: "top 60%",
          end: "bottom 60%",
          scrub: true,
        },
      })
      .from(".benefitsText", {
        x: "-50%",
        opacity: 0,
        scrollTrigger: {
          trigger: ".benefitsText",
          start: "top 60%",
          end: "bottom 50%",
          scrub: true,
        },
      })
      .from(".benefitsImg", {
        opacity: 0,
        scrollTrigger: {
          trigger: ".benefitsImg",
          start: "top 60%",
          end: "bottom 50%",
          scrub: true,
        },
      });

    // color change on location button click
    // Filter for location buttons
    const myButton = document.querySelectorAll(".exploreBtn");

    for (let i = 0; i < myButton.length; i++) {
      myButton[i].addEventListener("click", function () {
        document.querySelectorAll(".profile-card").forEach((profile) => {
          profile.classList.remove("d-none");
          if (myButton[i].id === "Any") {
            profile.classList.add("d-block");
          } else if (!profile.classList.contains(myButton[i].id)) {
            profile.classList.add("d-none");

            console.log(profile.classList.contains(myButton[i].id));
          }
        });
        for (let j = 0; j < myButton.length; j++) {
          if (i === j) {
            myButton[j].classList.add("clicked");
          } else {
            myButton[j].classList.remove("clicked");
          }
        }
      });
    }

    // Filter for category dropdown in desktop view
    const category = document.getElementById("slct2");

    category.addEventListener("change", function () {
      const selectedOption = category.value.replaceAll(" ", "-").toLowerCase();
      console.log("Selected option:", selectedOption);

      document.querySelectorAll(".profile-card").forEach((profile) => {
        console.log(profile.classList);
        profile.classList.remove("d-none");
        if (selectedOption === "any") {
          profile.classList.add("d-block");
        } else if (!profile.classList.contains(selectedOption)) {
          profile.classList.add("d-none");
        }
      });
    });

    // Filter for category dropdown in mobile view

    const categoryMob = document.getElementById("slct3");

    categoryMob.addEventListener("change", function () {
      const selectedOption = categoryMob.value
        .replaceAll(" ", "-")
        .toLowerCase();
      console.log("Selected option:", selectedOption);

      document.querySelectorAll(".profile-card").forEach((profile) => {
        console.log(profile.classList);
        profile.classList.remove("d-none");
        if (selectedOption === "any") {
          profile.classList.add("d-block");
        } else if (!profile.classList.contains(selectedOption)) {
          profile.classList.add("d-none");
        }
      });
    });

    // Filter for location dropdown in mobile view

    const locationMob = document.getElementById("slct");

    locationMob.addEventListener("change", function () {
      const selectedOption = locationMob.value;

      console.log("Selected option:", selectedOption);

      document.querySelectorAll(".profile-card").forEach((profile) => {
        console.log(profile.classList);
        profile.classList.remove("d-none");
        if (selectedOption === "Any") {
          profile.classList.add("d-block");
        } else if (!profile.classList.contains(selectedOption)) {
          profile.classList.add("d-none");
        }
      });
    });
  </script>
</Layout>
