---
import Layout from "../layouts/Layout.astro";
import blogsLeft from "../images/blogsLeft.png";
import blogsRight from "../images/blogsRight.png";
import hiringHeroImg from "../images/hiringHeroImg.jpg";
import officeImg from "../images/officeImg.png";
import values from "../images/values.jpg";
import values3 from "../images/values3.png";
import carousalNext from "../images/carousalNext.png";
import carousalPrev from "../images/carousalPrev.png";
import { Image, Picture } from "@astrojs/image/components";
---

<Layout title="life-at-iic" seoTitle="life-at-iic">
  <section style="padding-top: 3.5%; background-color: #1a1a1a;">
    <div class="margins">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12" style="overflow:hidden">
          <span class="title title1">life at iic</span>
          <span class="title title2" style="color: #e5ff53;">.</span>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 animate-text">
          <span class="titleText">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummy nibh euismod tincidunt ut laoreet.
          </span>
          <span class="watermark">life at iic</span>
        </div>
      </div>
    </div>

    <div class="margins animate-swiper">
      <div class="mySwiper" style="padding:1.5% 0 5% 0 ; ">
        <div class="swiper-wrapper">
          <div class="swiper-slide imgWidth">
            <Image
              alt=""
              format="webp"
              class="optimization"
              src={hiringHeroImg}
              alt=""
            />
          </div>
          <div class="swiper-slide imgWidth">
            <Image
              alt=""
              format="webp"
              class="optimization"
              src={officeImg}
              alt=""
            />
          </div>
          <div class="swiper-slide imgWidth">
            <Image
              alt=""
              format="webp"
              class="optimization"
              src={officeImg}
              alt=""
            />
          </div>
        </div>

        <div class="d-flex controls">
          <Image
            alt=""
            format="webp"
            class="optimization swiper-prev"
            src={blogsLeft}
            alt=""
          />
          <Image
            alt=""
            format="webp"
            class="optimization swiper-next"
            src={blogsRight}
            alt=""
          />
        </div>
      </div>
    </div>

    <div class="carousal2">
      <div class="swiper" style="padding:1.5% 0 0 0 ; ">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div style="position: relative;">
              <Image
                alt=""
                format="webp"
                class="optimization top-right-img"
                src={values3}
                alt=""
              />
              <Image
                alt=""
                format="webp"
                class="optimization main-img"
                src={values}
                alt=""
              />
              <Image
                alt=""
                format="webp"
                class="optimization bottom-left-img"
                src={values3}
                alt=""
              />
            </div>
            <div class="imgCaption">
              <span>our values</span>
              <ul class="a">
                <li>Scenario Mapping Brand Audits</li>
                <li>Brand Identity</li>
                <li>Competitor Mapping</li>
                <li>Graphic Design & Prototype</li>
              </ul>
            </div>
          </div>
          <div class="swiper-slide">
            <div style="position: relative;">
              <Image
                alt=""
                format="webp"
                class="optimization top-right-img"
                src={values3}
                alt=""
              />
              <Image
                alt=""
                format="webp"
                class="optimization main-img"
                src={values}
                alt=""
              />
              <Image
                alt=""
                format="webp"
                class="optimization bottom-left-img"
                src={values3}
                alt=""
              />
            </div>
            <div class="imgCaption">
              <span>our beleives</span>
              <ul class="a">
                <li>Scenario Mapping Brand Audits</li>
                <li>Brand Identity</li>
                <li>Competitor Mapping</li>
                <li>Graphic Design & Prototype</li>
              </ul>
            </div>
          </div>
          <div class="swiper-slide">
            <div style="position: relative;">
              <Image
                alt=""
                format="webp"
                class="optimization top-right-img"
                src={values3}
                alt=""
              />
              <Image
                alt=""
                format="webp"
                class="optimization main-img"
                src={values}
                alt=""
              />
              <Image
                alt=""
                format="webp"
                class="optimization bottom-left-img"
                src={values3}
                alt=""
              />
            </div>
            <div class="imgCaption">
              <span>our Initiatives</span>
              <ul class="a" style="left: 73%;">
                <li>Scenario Mapping Brand Audits</li>
                <li>Brand Identity</li>
                <li>Competitor Mapping</li>
                <li>Graphic Design & Prototype</li>
              </ul>
            </div>
          </div>
        </div>

        <Image
          alt=""
          format="webp"
          class="optimization swiper-button-prev"
          src={carousalPrev}
          alt=""
        />
        <Image
          alt=""
          format="webp"
          class="optimization swiper-button-next"
          src={carousalNext}
          alt=""
        />
      </div>
    </div>
  </section>
</Layout>

<style>
  .optimization {
    height: auto;
  }
  .a {
    list-style-type: disc;
    color: white;
    font-family: "anek devanagari";
    font-size: 1.2vw;
    font-weight: 300;
    opacity: 50%;
    text-align: left;
    text-transform: capitalize;
    letter-spacing: 0.03rem;
    line-height: 2;
    width: 50%;
    position: absolute;
    left: 69%;
    bottom: 6%;
  }
  .imgCaption {
    position: relative;
  }
  .row {
    width: 100%;
  }
  .margins {
    margin-left: 7%;
    margin-bottom: 4%;
  }
  .title {
    font-family: "Deutschlander";
    text-transform: uppercase;
    color: white;
    font-size: 12.5vw;
    line-height: 1;
    display: inline-block;
    word-spacing: 0.2rem;
  }

  .watermark {
    font-family: "Deutschlander";
    text-transform: uppercase;
    color: white;
    opacity: 3%;
    font-size: 12.5vw;
    line-height: 1;
    word-spacing: 0.2rem;
    position: absolute;
    right: 17%;
  }

  .titleText {
    font-family: "anek devanagari";
    color: white;
    opacity: 60%;
    font-size: 1.5vw;
    display: inline-block;
    width: 55%;
    font-weight: 300;
    padding-top: 4%;
    padding-left: 4%;
    line-height: 1.8;
  }

  .carousal2 {
    text-align: center;
    padding-bottom: 2%;
  }

  .main-img {
    width: 40%;
  }
  .top-right-img {
    width: 15%;
    position: absolute;
    right: 18%;
    rotate: 31deg;
    top: 6%;
  }
  .bottom-left-img {
    width: 15%;
    position: absolute;
    left: 19.5%;
    rotate: -25deg;
    bottom: -18%;
  }
  .imgCaption {
    margin-top: 4%;
  }
  .imgCaption span {
    font-family: "Deutschlander";
    text-transform: uppercase;
    color: white;
    font-size: 13.5vw;
    line-height: 1;
    word-spacing: 0.2rem;
  }

  /* carousal css */
  .swiper {
    width: 90%;
  }
  .mySwiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;
  }

  .swiper-slide {
    text-align: center;
    /* font-size: 18px; */
    background: #1a1a1a;

    justify-content: center;
    align-items: center;
  }
  .imgWidth img {
    width: 100%;
  }

  .swiper-next,
  .swiper-prev {
    width: 4%;
  }
  .swiper-prev {
    margin-right: 3.5%;
  }
  .controls {
    transform: translate(44%, 140%);
  }

  /* carousal2 css */
  .swiper-button-prev,
  .swiper-button-next {
    width: 5.5% !important;
    height: 11%;
  }

  /* mob view css */

  @media screen and (max-width: 767px) {
    .watermark {
      display: none;
    }
    .title {
      font-size: 20vw;
    }
    .titleText {
      padding-left: 0;
      font-size: 4vw;
      width: 100%;
    }
    .controls {
      transform: translate(34%, 140%);
      margin-bottom: 4%;
    }
    .swiper-next,
    .swiper-prev {
      width: 8%;
    }
    .swiper-prev {
      margin-right: 10.5%;
    }
    .swiper {
      padding-bottom: 17% !important;
    }
    .a {
      font-size: 2.2vw;
      top: 95%;
      bottom: 0;
      left: 28% !important;
    }
  }
</style>

<style is:global>
  .turnBlack {
    background: #1a1a1a;

    width: 100%;
  }

  .list ul li a {
    color: white;
    opacity: 50%;
  }
  path {
    fill: white;
  }

  .connect,
  .circles {
    fill: #1a1a1a;
  }
  .oval {
    fill: white;
  }

  .tele {
    fill: white;
  }
  .menu p {
    color: white;
  }
  .menu .s1,
  .menu .s2 {
    border: 1px solid white;
  }
</style>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import Eases from "gsap";
  gsap.registerPlugin(ScrollTrigger);

  let tl = gsap.timeline();
  tl.from(".title1", {
    duration: 1,
    x: "-60%",
    opacity: 0.1,
    ease: "power1.out",
  })
    .from(".animate-text, .title2", {
      opacity: 0,
      ease: "power1.out",
    })
    .from(".animate-swiper", {
      opacity: 0,
      ease: "power1.out",
    });
  import {
    Swiper,
    Navigation,
    Pagination,
    EffectCoverflow,
    Autoplay,
    EffectCreative,
  } from "swiper";
  let x = 3;
  var swiper = new Swiper(".mySwiper", {
    modules: [Navigation, EffectCreative],
    //   effect: "creative",
    grabCursor: true,
    centeredSlides: true,
    slidesPerView: 1.1,

    spaceBetween: 10,
    loop: true,
    navigation: {
      nextEl: ".swiper-next",
      prevEl: ".swiper-prev",
    },

    breakpoints: {
      767: {
        slidesPerView: 1.2,

        spaceBetween: 30,
      },
      250: {
        slidesPerView: 1.15,
        spaceBetween: 20,
      },
    },

    autoplay: {
      delay: 2000,
    },
  });

  let y = 3;
  var swiper2 = new Swiper(".swiper", {
    modules: [Navigation, EffectCreative],
    //   effect: "creative",
    grabCursor: true,
    centeredSlides: true,
    slidesPerView: 1,

    spaceBetween: 10,
    loop: true,
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },

    // breakpoints: {
    //   767: {
    //     slidesPerView: 1,

    //     spaceBetween: 30,
    //   },
    //   250: {
    //     slidesPerView: 1,
    //     spaceBetween: 20,
    //   },
    // },

    autoplay: {
      delay: 2000,
    },
  });
</script>
