---
import Layout from "../layouts/Layout.astro";
import portfolio1 from "../images/portfolio1.jpg";
import featuredWorksbtn from "../images/featuredWorksbtn.jpg";
import { contentfulClient } from "../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
//import { Image, Picture } from "@astrojs/image/components";
import { Image } from 'astro:assets';
const entries: any = await contentfulClient.getEntries<any>({
  content_type: "caseStudy",
});
---

<Layout title="Our Portfolio | Abstract of work at Ink In Caps Mumbai" seoTitle="portfolio" description={null}>
  <section style="padding-top: 4.5%;">
    <div class="wrapper" id="top">
      <div id="main4" class="moving-text" style="width: max-content; color: #1a1a1a">
        <span class="zoomIn">Our Work</span>
        <Image src={portfolio1} class="movingImg optimization" alt="" />
        <span>our work &nbsp; &nbsp; &nbsp;</span>
        <span>Our Work</span>
        <Image src={portfolio1} class="movingImg optimization" alt="" />
        <span>our work &nbsp; &nbsp; &nbsp;</span>
        <span>Our Work</span>
        <Image src={portfolio1} class="movingImg optimization" alt="" />
        <span>our work &nbsp; &nbsp; &nbsp;</span>
        <span>Our Work</span>
        <Image src={portfolio1} class="movingImg optimization" alt="" />
        <span>our work &nbsp; &nbsp; &nbsp;</span>
        <span>Our Work</span>
        <Image src={portfolio1} class="movingImg optimization" alt="" />
        <span>our work &nbsp; &nbsp; &nbsp;</span>
        <span>Our Work</span>
        <Image src={portfolio1} class="movingImg optimization" alt="" />
        <span>our work &nbsp; &nbsp; &nbsp;</span>
        <span>Our Work</span>
        <Image src={portfolio1} class="movingImg optimization" alt="" />
        <span>our work</span>
        <span>Our Work</span>
        <Image src={portfolio1} class="movingImg optimization" alt="" />
        <span>our work</span>
      </div>
    </div>

    <!-- carousel -->
    <div style="padding:7% 0 ; " class="swiper mySwiper">
      <div class="swiper-wrapper">
        {
          entries.items.map((caseStudy, index) => (
            <div class="swiper-slide">
              <div>
                <a
                  href={"/portfolio/" + caseStudy.fields.heroTitle}
                  aria-label="case-study"
                >
                  <div class="animate-swiper">
                    <Image
                      src={caseStudy.fields?.heroBanner?.fields?.file.url}
                      alt=""
                      class="optimization "
                      width={1528}
                      height={720}
                    />
                  </div>
                </a>
                <div class="imgCaptionDiv">
                  <span
                    class="caption1"
                    set:html={caseStudy.fields.singleClient}
                  />
                  <p
                    class="caption2"
                    set:html={caseStudy.fields?.whichTechnology}
                  />
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </div>
    <!--  -->

    <!--  <Image   src={featuredWorksbtn} alt=""> -->
  </section>

  <section class="bttTrial">
    {
      entries.items.map((caseStudy, index) => (
        <a
          href={"/portfolio/" + caseStudy.fields.heroTitle}
          aria-label="case study"
        >
          <div class="titles">
            <span class="index">{(index = index + 1)}</span>
            <span class="name" set:html={caseStudy.fields.singleClient} />
          </div>
          <div class="imgDiv">
            <Image
              src={caseStudy.fields?.heroBanner?.fields?.file.url}
              style="width: 100%;"
              alt=""
              class="optimization "
              loading="lazy"
              width={1527}
            height={720}
            />
          </div>
          <div class="row info">
            <div class="csName col-lg-6 col-md-6 col-sm-12">
              <span
                set:html={documentToHtmlString(caseStudy.fields.heroTitleMain)}
              />
            </div>
            <div class="tech col-lg-6 col-md-6 col-sm-12">
              <div
                class="capitalize"
                set:html={caseStudy.fields?.whichTechnology}
              />

              {
                caseStudy.fields?.whichTechnology2 && 

                <span>, &nbsp;</span>
              <div
                class="capitalize"
                set:html={caseStudy.fields?.whichTechnology2}
              />

              }
             
            </div>
          </div>
        </a>
      ))
    }
  </section>

  <a href="#top">
    <div class="backToTop">Back To Top</div>
  </a>
  <style>
    .backToTop {
      position: fixed; /* Fixed/sticky position */
      bottom: 20px; /* Place the button at the bottom of the page */
      right: 30px; /* Place the button 30px from the right */
      z-index: 99; /* Make sure it does not overlap */
      border: none; /* Remove borders */
      outline: none; /* Remove outline */
      background-color: #e5ff53; /* Set a background color */
      color: black; /* Text color */
      cursor: pointer; /* Add a mouse pointer on hover */
      padding: 15px; /* Some padding */
      border-radius: 10vw; /* Rounded corners */
      font-size: 18px;
      scroll-behavior: smooth;
      display: block;
      font-family: "anek devanagari";
    }

    .toggle {
      display: none !important;
    }

    .optimization {
      height: auto;
    }
    a {
      text-decoration: none;
    }
    .imgDiv img {
      position: relative;
   
    }
    .imgDiv {
      box-shadow: inset 0vw 3.1vw 5.5vw black;
    }

    #main4 span {
      font-family: "Deutschlander";
      padding: 3vw;
      font-size: 16vw;
      text-transform: uppercase;
      display: inline-block;
      line-height: 1;
    }

    .moving-text {
      animation: move-text 45s linear infinite;
      /* transition-delay: 5s; */
    }
    .wrapper {
      overflow-x: hidden;
    }

    @keyframes move-text {
      0% {
        transform: translateX(10%);
      }
      100% {
        transform: translateX(-50%);
      }
    }

    .movingImg {
      width: 12vw;
      vertical-align: baseline;
    }

    .titles {
      background-color: #1a1a1a;
      position: sticky;
      top: 0;
      padding: 2% 2% 2% 10%;
      z-index: 90;
    }
    .index,
    .name {
      font-family: "Deutschlander";
      text-transform: uppercase;
      color: white;
    }

    .index {
      font-size: 4.2vw;
      line-height: 0.8 !important;
      opacity: 50%;
      vertical-align: top;
      margin-right: 2%;
    }
    .name {
      font-size: 9.5vw;
      line-height: 0.8 !important;
    }

    .info {
      background-color: #1a1a1a;
      padding: 2.5% 10% 2.5% 10%;
      border-bottom: 1px solid rgb(108, 106, 106);
      margin-right: 0.025%;
    }
    .csName,
    .tech {
      font-family: "anek devanagari";
      color: white;

      font-size: 1.5vw;
    }
    .csName div,
    .tech div {
      display: inline-block;

     
    }

    .capitalize {
      text-transform: capitalize;
    }

    @media screen and (min-width: 768px) {
      .tech {
        text-align: center !important;
      }
    }
    @media screen and (max-width: 880px) {
      .csName,
      .tech {
        font-size: 2vw;
      }
    }

    @media screen and (max-width: 767px) {
      .backToTop {
        font-size: 12px;
        padding: 12px;
        right: 18px;
      }
      .csName,
      .tech {
        font-size: 3vw;
      }
      .csName {
        padding-top: 3% !important;
        margin-bottom: 0 !important;
        line-height: 1 !important;
      }
      #main4 span {
        font-size: 14vw;
      }
      .swiper-slide img {
        width: 100% !important;
      }
      .caption1 {
        font-size: 4.8vw !important;
      }
      .caption2 {
        font-size: 2.75vw !important;
      }
    }

    /* carousel css */

    .swiper {
      width: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #f6f7f0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .swiper-slide-active .imgCaptionDiv {
      display: block !important;
    }

    .swiper-slide img {
      display: block;
      width: 90%;
      height: 100%;
      object-fit: cover;
      aspect-ratio: 4/5;
      margin: auto;
    }

    .imgCaptionDiv {
      margin-top: 5%;
      display: none;
    }

    .caption1 {
      text-transform: uppercase;
      color: black;
      font-size: 1.8vw;
      font-family: "anek devanagari";
      font-weight: 500;
      letter-spacing: 0.7px;
    }
    .caption2 {
      text-transform: uppercase;
      font-family: "anek devanagari";
      font-size: 1.75vw;
      opacity: 0.4;
      font-weight: 500;
      letter-spacing: 0.7px;
    }
  </style>

  <script>
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    import Eases from "gsap";
    gsap.registerPlugin(ScrollTrigger);
    import {
      Swiper,
      Navigation,
      Pagination,
      EffectCoverflow,
      Autoplay,
      EffectCreative,
    } from "swiper";
    let x = 3;
    var swiper = new Swiper(".mySwiper", {
      modules: [Navigation, Autoplay, EffectCreative],
      effect: "creative",
      grabCursor: true,
      centeredSlides: true,
      slidesPerView: 3,
      spaceBetween: 30,
      loop: true,
      creativeEffect: {
        prev: {
          // will set `translateZ(-400px)` on previous slides
          rotate: [0, 0, -8],
          translate: ["-120%", "8%", 0],
          scale: 0.98,
        },
        next: {
          // will set `translateX(100%)` on next slides
          rotate: [0, 0, 8],
          translate: ["120%", "8%", 0],
          scale: 0.98,
        },
      },
      breakpoints: {
        767: {
          slidesPerView: 3,
          spaceBetween: 30,
        },
        250: {
          slidesPerView: 1.65,
          spaceBetween: 30,
        },
      },

      autoplay: {
        delay: 2000,
      },

      // pagination: {
      //   el: ".swiper-pagination",
      //   clickable: true,
      // },
    });

    let tl = gsap.timeline();
    tl.from(".zoomIn", {
      scale: 3.5,
      duration: 2,
      ease: "power1.out",
    }).from(".bttTrial", 1, {
      scrollTrigger: {
        trigger: ".backToTop",
        start: "top bottom",
        end: "bottom -90%",
        toggleClass: "toggle",
        scrub: true,
      },
    });
  </script>
</Layout>
