---
import { Image } from "astro:assets";
import products2 from "../images/products2.png";
import Layout from "../layouts/Layout.astro";
import awardsPrev from "../images/awardsPrev.png";
import awardsNext from "../images/awardsNext.png";
import vretail from "../images/products1-min.png";
import vverse from "../images/svsvsv_2-min.png";
import converse from "../images/ac_1-min.png";
import vestate from "../images/vestate4-min.png";
---

<Layout title="Products" seoTitle="products">
  <section class="pb-align">
    <div class="heroSwiper position-relative">
      <div class="swiper-wrapper">
        <div class="swiper-slide imgWidth position-relative">
          <Image class="resizeImg optimization" src={vretail} alt="" />
          <span class="position-absulote productu-content">
            <h2 class="title-p">Our Products</h2>
          </span>
        </div>

        <div class="swiper-slide imgWidth">
          <Image class="resizeImg optimization" src={vverse} alt="" />
          <span class="position-absulote productu-content">
            <h2 class="title-p">Our Products</h2>
          </span>
        </div>
        <div class="swiper-slide imgWidth">
          <Image class="resizeImg optimization" src={products2} alt="" />
          <span class="position-absulote productu-content">
            <h2 class="title-p">Our Products</h2>
          </span>
        </div>
        <div class="swiper-slide imgWidth">
          <Image class="resizeImg optimization" src={converse} alt="" />
          <span class="position-absulote productu-content">
            <h2 class="title-p">Our Products</h2>
          </span>
        </div>
        <div class="swiper-slide imgWidth">
          <Image class="resizeImg optimization" src={vverse} alt="" />
          <span class="position-absulote productu-content">
            <h2 class="title-p">Our Products</h2>
          </span>
        </div>
        <div class="swiper-slide imgWidth">
          <Image class="resizeImg optimization" src={vestate} alt="" />
          <span class="position-absulote productu-content">
            <h2 class="title-p">Our Products</h2>
          </span>
        </div>
      </div>
      <Image
        class="optimization swiper-button-prev"
        src={awardsPrev}
        loading="lazy"
        alt=""
      />
      <Image
        class="optimization swiper-button-next"
        src={awardsNext}
        loading="lazy"
        alt=""
      />
    </div>
  </section>
  <style>
    .heroSwiper {
      overflow: hidden;
    }
    /* .pb-align {
      padding-bottom: 4%;
      background: #1a1a1a;
    } */
    .title-p {
      position: absolute;
      color: white;
      font-family: "Deutschlander";
      text-transform: uppercase;
      font-size: 13vw;
      font-weight: 400;
      font-style: normal;
      line-height: 0.85;
      overflow: hidden;
      width: 48%;
      bottom: 3vw;
    }
    .productu-content {
      background: linear-gradient(
        0deg,
        #1a1a1a -0.77%,
        rgba(26, 26, 26, 0) 98.21%
      );

      bottom: -10px;
      width: 100%;
      height: 43vh;
      color: #ffffff;
    }
    .position-relative {
      position: relative;
    }

    .position-absulote {
      position: absolute;
    }
    .swiper {
      width: 100%;
    }

    .imgWidth img {
      max-height: 80vh !important;
      width: 100%;
      object-fit: cover;
      aspect-ratio: 5/3;
    }

    .swiper-slide {
      /* height: 100vh !important; */
    }

    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      /* margin-left: 1.5%; */
    }

    .swiper-button-prev {
      width: 4%;
      height: 9%;
      background-color: #ffffff;
      border-radius: 50%;

      top: unset !important;
      left: unset !important;
      right: 17%;
      bottom: 6vw;
    }
    .swiper-button-next {
      width: 4%;
      height: 9%;
      background-color: #ffffff;
      border-radius: 50%;

      top: unset !important;
      left: unset !important;
      right: 10%;
      bottom: 6vw;
    }
    .desktopSlider {
      width: 100%;
    }

    /* hover image effect css */
  </style>
  <script>
    import { Swiper, Navigation, Autoplay, EffectCreative } from "swiper";
    let x = 3;
    // var swiper = new Swiper(".heroSwiper", {
    //   modules: [Navigation, EffectCreative, Autoplay],
    //   grabCursor: true,
    //   centeredSlides: true,
    //   slidesPerView: 1,

    //   spaceBetween: 30,
    //   loop: true,
    //   speed: 1700,
    //   breakpoints: {
    //     767: {
    //       slidesPerView: 1,

    //       spaceBetween: 100,
    //     },
    //     250: {
    //       slidesPerView: 1,
    //       spaceBetween: 30,
    //     },
    //   },

    //   autoplay: {
    //     delay: 2000,
    //   },

    //   navigation: {
    //     nextEl: ".swiper-button-prev",
    //     prevEl: ".swiper-button-next",
    //   },
    // });
  </script>

  <section>
    <div class="d-flex">
      <a
        href="products/v-retail"
        id="v-retail"
        class="tabs"
        style="border-left: 0 !important;"
        aria-label="v-retail"
      >
        v-retail
      </a>
      <a href="products/v-verse" id="v-verse" class="tabs" aria-label="v-verse">
        v-verse
      </a>

      <a href="products/v-tour" id="v-tour" class="tabs" aria-label="v-tour">
        V-Tour
      </a>
      <a
        href="products/v-conference"
        id="v-conference"
        class="tabs"
        aria-label="v-conference"
      >
        v-conference
      </a>
      <a
        href="products/v-stages"
        id="v-stages"
        class="tabs"
        aria-label="v-stages"
      >
        v-stages
      </a>
      <a
        href="products/v-estate"
        id="v-estate"
        class="tabs"
        aria-label="v-estate"
      >
        v-estate
      </a>
    </div>
  </section>

  <script>
    if (window.location.pathname.includes("v-retail")) {
      document.getElementById("v-retail").classList.add("clicked");
    } else if (window.location.pathname.includes("v-verse")) {
      document.getElementById("v-verse").classList.add("clicked");
    } else if (window.location.pathname.includes("v-tour")) {
      document.getElementById("v-tour").classList.add("clicked");
    } else if (window.location.pathname.includes("v-conference")) {
      document.getElementById("v-conference").classList.add("clicked");
    } else if (window.location.pathname.includes("v-stages")) {
      document.getElementById("v-stages").classList.add("clicked");
    }
    if (window.location.pathname.includes("v-estate")) {
      document.getElementById("v-estate").classList.add("clicked");
    }
  </script>
</Layout>

<style>
  .optimization {
    height: auto;
  }
  a {
    text-decoration: none;
  }
  .clicked:hover {
    color: #e5ff53 !important;
  }
  .tabs {
    width: 16.666%;
    border: 1px solid rgb(200, 199, 199);
    border-right: 0 !important;
    border-bottom: 0 !important;

    font-family: "anek devanagari";
    font-weight: 600;
    font-size: 1.3vw;
    text-transform: uppercase;
    text-align: center;
    padding: 2% 0;
  }

  .tabs:hover {
    font-size: 1.6vw;
    padding-top: 2%;
    padding-bottom: 1%;
    color: #e5ff53;
    background-color: #1a1a1a;
    transition: 0.3s linear;
  }

  .clicked {
    background-color: #1a1a1a;
    color: #ffffff;
  }
  .waterMark {
    font-family: "Deutschlander";
    font-size: 27vw;
    text-transform: uppercase;
    line-height: 0.85;
    color: black;
    opacity: 5%;
    display: inline-block;
    width: 100%;
    word-spacing: 0.27rem;
    position: absolute;
    top: 5%;
    text-align: center;
  }

  .title {
    font-family: "Deutschlander";
    font-size: 8vw;
    text-transform: uppercase;
    line-height: 0.85;
    color: white;
    display: inline-block;
    width: 80%;
    word-spacing: 0.27rem;
  }
  .text {
    font-family: "anek devanagari";
    font-weight: 300;
    color: white;
    opacity: 60%;
    font-size: 1.7vw;
    width: 85%;
    display: inline-block;
    word-spacing: 0.2rem;
    margin-top: 1%;
  }
  .iconsDiv {
    margin-right: 9%;
    margin-top: 3%;
    padding-bottom: 6%;
  }
  .icons {
    width: 20%;
    border: 1px solid rgb(78, 77, 77);
    padding: 3%;

    display: flex;
  }
  .icons img {
    width: 65%;
    margin: auto;
    display: block;
  }

  .yellowDiv {
    background-color: #e5ff53;
    border-radius: 1.5vw;

    padding: 3%;
    margin: 0 9%;
    text-align: center;
  }
  .yellowDiv span {
    font-family: "Deutschlander";
    font-size: 12vw;
    text-transform: uppercase;
    line-height: 0.85;
  }
  /* swiper css */
  .swiper {
    width: 80%;
  }
  /* .mySwiper {
    width: 80%;
  } */

  .swiper-slide {
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 1.5%; */
  }
  .swiper-button-next,
  .sliderImg {
    width: 100%;
    aspect-ratio: 23.5/9;
    object-fit: cover;
  }

  /* carousal 2 css */

  .mySwiper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;
  }

  .swiper-slide-active .imgCaptionDiv {
    display: block !important;
  }

  .swiper2Img {
    display: block;
    width: 90%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 4/5;
  }

  .imgCaptionDiv {
    margin-top: 5%;
    display: none;
  }

  .caption1 {
    text-transform: uppercase;
    color: white;
    font-size: 1.8vw;
    font-family: "anek devanagari";
    font-weight: 500;
    letter-spacing: 0.7px;
  }
  .caption2 {
    text-transform: uppercase;
    font-family: "anek devanagari";
    font-size: 1.75vw;
    opacity: 0.4;
    font-weight: 500;
    letter-spacing: 0.7px;
    color: white;
  }
</style>
<style is:global>
  .sticky-header {
    position: fixed !important;
  }
  .turnBlack {
    background: transparent !important;
    position: absolute;
    width: 100%;
    margin-bottom: 1%;
  }

  .list ul li a {
    color: white !important;
    opacity: 100% !important;
  }
  path {
    fill: white !important;
  }

  /* connect button css */

  .connect,
  .circles {
    fill: #1a1a1a !important;
  }
  .oval {
    fill: white !important;
  }

  .tele {
    fill: white !important;
  }
  .menu p {
    color: white !important;
  }
  .menu .s1,
  .menu .s2 {
    border: 1px solid white !important;
  }
</style>
