---
import Layout from "../layouts/Layout.astro";

import solutionbtn from "../images/solution-rotateBtn.png";
import newArrow from "../images/newArrow.png";
import solutionImg1 from "../images/solutionImg1.png";
import experimental from "../images/exp.jpg";
import interactiveSoln from "../images/interactiveSoln.png";
import content from "../images/contentDev.jpg"
import mobileWeb from "../images/mobileWeb.png";
import strategy from "../images/strategy.png";
import yellowGo from "../images/yellowGo2.png";
import knowMoreBtn from "../images/knowMoreBtn.png";
import diamond from "../images/whiteDiamond.png";
import { Image } from 'astro:assets';
//import { Image, Picture } from "@astrojs/image/components";
---

<Layout title="Solutions" seoTitle="solutions">
  <section>
    <div class="gradient">
      <div class="bgImage">
        <div class="title">
          <span class="animate-title">What are we good at</span>
          <a class="btnDiv" href="#soln" aria-label="know more">
            <Image class="btn btn-animate optimization" src={solutionbtn} alt="" />
            <Image class="arrow optimization" src={newArrow} alt="" />
          </a>
        </div>
      </div>
    </div>
  </section>

  <section style="padding: 5% 1% 0 1%; background-color: #1a1a1a;" id="soln">
    <div class="swiper mySwiper swiper-animate">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="swiperDiv">
            <Image class="carousalImg optimization" src={solutionImg1} alt="" loading="lazy" />
            <!-- <div class="overlay"></div> -->
            <div class="techList">
              <ul class="a">
                <li>metaverse</li>
                <li>virtual Reality</li>
                <li>Augmented Reality</li>
                <li>Projection Mapping</li>
              </ul>
            </div>
            <div class="overlapDiv">
              <span class="overlapTitle">Immersive Technology</span>
              <div class="mobTechlist">
                <ul class="a">
                  <li>metaverse</li>
                  <li>virtual Reality</li>
                  <li>Augmented Reality</li>
                  <li>Projection Mapping</li>
                  <a href="/solutions/immersive-technology">
                  <Image
                    class="knowMoreBtn optimization"
                    src={knowMoreBtn}
                    alt=""
                    loading="lazy"
                  />
                </a>
                </ul>
              </div>
              <a
                href="/solutions/immersive-technology"
                aria-label="immersive technology"
                class="desktopKnowMore"
              >
                <Image class="optimization" src={yellowGo} alt="" loading="lazy" /></a
              >
            </div>
            <div class="captionDiv">
              <span class="captionIndex">01</span>
              <span class="captionTitle">&nbsp; Immersive Technology</span>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="swiperDiv">
            <Image
              class="carousalImg optimization"
              src={interactiveSoln}
              alt=""
              loading="lazy"
            />
            <div class="techList">
              <ul class="a">
                <li>Interactive Wall/Screen</li>
                <li>Interactive Table/Interactive Book</li>
                <li>Engagement Experts</li>
                <li>Object Recognition Table</li>
              </ul>
            </div>
            <div class="overlapDiv interactive">
              <span class="overlapTitle">Interactive Solution</span>
              <div class="mobTechlist">
                <ul class="a">
                  <li>Interactive Wall/Screen</li>
                  <li>Interactive Table/Interactive Book</li>
                  <li>Engagement Experts</li>
                  <li>Object Recognition Table</li>
                  <a href="/solutions/interactive-solution">
                  <Image
                    class="knowMoreBtn optimization"
                    src={knowMoreBtn}
                    alt=""
                    loading="lazy"
                  />
                </a>
                </ul>
              </div>
              <a
                href="/solutions/interactive-solution"
                aria-label="interactive solution"
                class="desktopKnowMore"
              >
                <Image src={yellowGo} class="optimization" alt="" loading="lazy" /></a
              >
            </div>
            <div class="captionDiv">
              <span class="captionIndex">02</span>
              <span class="captionTitle"> &nbsp;Interactive Solution</span>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="swiperDiv">
            <Image class="carousalImg optimization" src={mobileWeb} alt="" loading="lazy" />
            <div class="techList">
              <ul class="a">
                <li>Web Development</li>
                <li>App Development</li>
                <li>Gaming Solutions</li>
              </ul>
            </div>
            <div class="overlapDiv mobweb">
              <span class="overlapTitle">Mobile & Web</span>
              <div class="mobTechlist">
                <ul class="a">
                  <li>Web Development</li>
                  <li>App Development</li>
                  <li>Gaming Solutions</li>
                  <a href="/solutions/mobile-and-web">
                  <Image
                    class="knowMoreBtn optimization"
                    src={knowMoreBtn}
                    alt=""
                    loading="lazy"
                  />
                </a>
                </ul>
              </div>
              <a href="/solutions/mobile-and-web" aria-label="mobile and web" class="desktopKnowMore">
                <Image src={yellowGo} class=" optimization" alt="" loading="lazy" /></a
              >
            </div>
            <div class="captionDiv">
              <span class="captionIndex">03</span>
              <span class="captionTitle"> &nbsp; Mobile & Web</span>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiperDiv">
            <Image class="carousalImg optimization" src={content} alt="" loading="lazy" />
            <div class="techList">
              <ul class="a">
                <li>3D/2D Animations</li>
                <li>Motion Graphics</li>
                <li>Architectural Visualization</li>
                <li>Expainer Videos</li>
              </ul>
            </div>
            <div class="overlapDiv content">
              <span class="overlapTitle">Content Development</span>
              <div class="mobTechlist">
                <ul class="a">
                  <li>3D/2D Animations</li>
                  <li>Motion Graphics</li>
                  <li>Architectural Visualization</li>
                  <li>Expainer Videos</li>
                  <a href="/solutions/content-development">
                  <Image
                    class="knowMoreBtn optimization"
                    src={knowMoreBtn}
                    alt=""
                    loading="lazy"
                  />
                </a>
                </ul>
              </div>
              <a
                href="/solutions/content-development"
                aria-label="content development"
                class="desktopKnowMore"
              >
                <Image src={yellowGo} class=" optimization" alt="" loading="lazy" /></a
              >
            </div>
            <div class="captionDiv">
              <span class="captionIndex">04</span>
              <span class="captionTitle">&nbsp; Content Development</span>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="swiperDiv">
            <Image class="carousalImg optimization" src={experimental} alt="" loading="lazy" />
            <div class="techList">
              <ul class="a">
                <li>Motion Gesture</li>
                <li>Interactive Campaign</li>
                <li>Photobooth</li>
                <li>Kiosk/Vending Machine</li>
              </ul>
            </div>
            <div class="overlapDiv">
              <span class="overlapTitle">Experiential Marketing</span>
              <div class="mobTechlist">
                <ul class="a">
                  <li>Motion Gesture</li>
                  <li>Interactive Campaign</li>
                  <li>Photobooth</li>
                  <li>Kiosk/Vending Machine</li>
                  <a href="/solutions/experiential-marketing">
                  <Image
                    class="knowMoreBtn optimization"
                    src={knowMoreBtn}
                    alt=""
                    loading="lazy"
                  />
                </a>
                </ul>
              </div>
              <a
                href="/solutions/experiential-marketing"
                aria-label="experiential marketing"
                class="desktopKnowMore"
              >
                <Image src={yellowGo} class=" optimization" alt="" loading="lazy" /></a
              >
            </div>
            <div class="captionDiv">
              <span class="captionIndex">05</span>
              <span class="captionTitle">&nbsp; Experiential Marketing</span>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="swiperDiv">
            <Image class="carousalImg optimization" src={strategy} alt="" loading="lazy" />
            <div class="techList">
              <ul class="a">
                <li>Scenario Mapping Brand Audits</li>
                <li>Brand Identity</li>
                <li>Competitor Mapping</li>
                <li>Graphic Design & Prototype</li>
              </ul>
            </div>
            <div class="overlapDiv strategy">
              <span class="overlapTitle">Strategy & Design</span>
              <div class="mobTechlist">
                <ul class="a">
                  <li>Scenario Mapping Brand Audits</li>
                  <li>Brand Identity</li>
                  <li>Competitor Mapping</li>
                  <li>Graphic Design & Prototype</li>
                  <a href="solutions/strategy-and-design">

                    <Image class="knowMoreBtn optimization" src={knowMoreBtn} loading="lazy" alt="" />
                  </a>
                </ul>
              </div>

              <a
                href="/solutions/strategy-and-design"
                aria-label="strategy and design"
                class="desktopKnowMore"
              >
                <Image src={yellowGo} class=" optimization" alt=""/></a
              >
            </div>
            <div class="captionDiv">
              <span class="captionIndex">06</span>
              <span class="captionTitle">&nbsp; strategy & design</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="movingTextSec">
    <div style="overflow-x: hidden;">
      <div class="moving-text" style="display: flex; width:max-content;  ">
        <span class="wallHonor">metaverse</span>
        <div style="text-align: center; margin:3vw 3vw 3vw 3vw">
          <Image
            style="width:3.5vw"
            class=" optimization"
            src={diamond}
            alt=""
            loading="lazy"
          />
        </div>

        <span class="wallHonor">ui/ux Design</span>
        <div style="text-align: center; margin:3vw 3vw 3vw 3vw">
          <Image style="width:3.5vw" class=" optimization" src={diamond} loading="lazy" alt="" />
        </div>

        <span class="wallHonor">Augmented Reality</span>
        <div style="text-align: center; margin:3vw 3vw 3vw 3vw">
          <Image style="width:3.5vw" class=" optimization" src={diamond} loading="lazy" alt="" />
        </div>
        <span class="wallHonor">XR</span>
        <div style="text-align: center; margin:3vw 3vw 3vw 3vw">
          <Image style="width:3.5vw" class=" optimization" src={diamond} loading="lazy" alt="" />
        </div>
        <span class="wallHonor">Interactive Technology</span>
        <div style="text-align: center; margin:3vw 3vw 3vw 3vw">
          <Image style="width:3.5vw" class=" optimization" src={diamond} loading="lazy" alt="" />
        </div>
        <span class="wallHonor">Experiential Marketing</span>
        <div style="text-align: center; margin:3vw 3vw 3vw 3vw; opacity:0">
          <Image style="width:3.5vw" class=" optimization" src={diamond} loading="lazy" alt="" />
        </div>
      </div>
    </div>
  </section>
</Layout>

<style>
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .optimization {
    height: auto;
  }
  .btnDiv {
    position: relative;
  }
  .arrow {
    position: absolute;
    left: 78.5%;
    width: 3.5%;
    top: 42.5%;
  }
  /* carousal css */
  ul.a {
    list-style-type: disc;
    color: white;
    font-family: "anek devanagari";
    line-height: 1.7;
  }

  .carousalImg {
    width: 20%;
  }

  .overlapDiv {
    position: absolute;
    top: 37%;
    left: -5%;
    display: none;
  }
  .overlapDiv img {
    width: 17%;
  }
  .overlapTitle {
    color: white;
    font-family: "Deutschlander";
    text-transform: uppercase;
    font-size: 6.8vw;
    font-weight: 400;
    font-style: normal;
    line-height: 1.2;
    display: block;
    word-spacing: 0.25rem;
  }
  .captionDiv {
    display: none;
  }
  .captionIndex,
  .captionTitle {
    color: white;
    font-family: "Deutschlander";
    text-transform: capitalize;
    font-size: 4.5vw;
    font-weight: 400;
    word-spacing: 0.25rem;
  }

  .captionIndex {
    opacity: 60%;
  }

  .techList {
    width: 50%;
    position: absolute;
    left: 84%;
    bottom: -6%;
    font-size: 1vw;
    text-align: initial;
    display: none;
    text-transform: capitalize;
  }
  .mobTechlist {
    display: none;
  }

  /*  */

  /* swiper css */
  .swiper {
    width: 100%;
    padding-bottom: 5%;
  }
  .swiperDiv {
    position: relative;
    text-align: center;
  }

  .swiper-slide {
    text-align: center;
    /* font-size: 18px; */
    /* background: #f6f7f0; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-slide .carousalImg {
    display: block;
    width: 90%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 4/5;
  }
  .swiper-slide-active .overlapDiv,
  .swiper-slide-active .techList {
    display: block;
  }

  .swiper-slide-active .carousalImg {
    scale: 0.8;
    opacity: 75%;
  }
  .swiper-slide-next .captionDiv,
  .swiper-slide-prev .captionDiv {
    display: block;
  }
  .swiper-slide-next .carousalImg,
  .swiper-slide-prev .carousalImg {
    aspect-ratio: 3/2;
    /* transform: translateY(50%); */
  }

  .swiper-slide-next .swiperDiv,
  .swiper-slide-prev .swiperDiv {
    transform: translateY(45%) !important;
  }
  .swiper-slide-next,
  .swiper-slide-prev {
    scale: 0.5;
  }

  @media screen and (min-width: 768px) {
    .interactive {
      left: 0%;
    }
    .mobweb {
      left: 18%;
    }
    .content {
      left: 0%;
    }
    .strategy {
      left: 7%;
    }
  }

  @media screen and (max-width: 767px) {
    .swiper {
      padding-bottom: 38%;
      padding-top: 7%;
    }
    .swiper-slide-active .carousalImg {
      scale: 1.1;
    }

    .captionDiv,
    .techList {
      display: none !important;
    }
    .mobTechlist {
      display: block;
      text-align: initial;
      font-size: 2.2vw;
      width: 90%;
      text-transform: capitalize;
      margin-top: 3%;
      margin-left: 4%;
    }
    .overlapDiv {
      position: absolute;
      top: 98%;
      left: -20%;
      display: none;
      width: 130%;
    }
    .overlapDiv .desktopKnowMore {
      display: none;
    }
    .overlapTitle {
      font-size: 10.8vw;
      line-height: 0.8;
    }
    .knowMoreBtn {
      width: 45% !important;
      padding-top: 4%;
    }
    .swiper-slide-next .carousalImg,
    .swiper-slide-prev .carousalImg {
      aspect-ratio: 1;
      /* transform: translateY(50%); */
    }
    .swiper-slide-next,
    .swiper-slide-prev {
      scale: 0.95;
    }
    .swiper-slide-next .swiperDiv,
    .swiper-slide-prev .swiperDiv {
      transform: translateY(25%) !important;
    }

    .btnDiv,
    .btn-animate,
    .arrow {
      display: none;
    }
    .animate-title {
      margin-bottom: 3%;
    }
  }

  .bgImage {
    background-image: url(../images/Hand_Holding_Smartphone2.jpg),
      linear-gradient(rgba(243, 243, 243, 0.82), rgba(0, 0, 0, 0.9));

    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;

    object-fit: cover;
    padding-left: 10%;
    padding-top: 33%;
  }

  .title {
    color: white;
    font-family: "Deutschlander";
    text-transform: uppercase;
    font-size: 13vw;
    font-weight: 400;
    font-style: normal;
    line-height: 0.85;
    overflow: hidden;
    width: 90%;
    margin-top: 6%;
  }
  .animate-title {
    display: inline-block;
  }
  .btn-animate {
    width: 13%;
    margin-bottom: 3%;
    margin-left: 20%;
    display: inline-block;
  }

  /* moving text css */

  .moving-text {
    animation: move-text 30s linear infinite;
    overflow: hidden;
  }

  .wallHonor {
    font-family: "Deutschlander";
    font-size: 13vw;
    text-transform: uppercase;
    line-height: 11vw;
    font-size: 14vw;
    color: white;
  }
  @keyframes move-text {
    0% {
      transform: translateX(32%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .movingTextSec {
    padding-top: 2.5%;
    padding-bottom: 2%;
    background-color: #1a1a1a;
  }
  /* animation css */

  .swiper-animate {
    position: relative;
  }
  .swiper-animate:before {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: #1a1a1a;
    z-index: 998;
    transition: bottom 1.4s ease;
    overflow: hidden;
  }
  .swiper-animation::before {
    bottom: 100%;
  }
</style>

<style is:global>


.sticky-header{
  position: fixed !important;
}
  .turnBlack {
    background: transparent !important;
    position: absolute;
    width: 100%;
    margin-bottom: 1%;
  }

  .list ul li a {
    color: white !important;
    opacity: 100% !important;
  }
  path {
    fill: white !important;
  }

  /* connect button css */

  .connect,
  .circles {
    fill: #1a1a1a !important;
  }
  .oval {
    fill: white !important;
  }

  .tele {
    fill: white !important;
  }
  .menu p {
    color: white !important;
  }
  .menu .s1,
  .menu .s2 {
    border: 1px solid white !important;
  }
</style>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import Eases from "gsap";
  gsap.registerPlugin(ScrollTrigger);

  import {
    Swiper,
    Navigation,
    Pagination,
    EffectCoverflow,
    Autoplay,
    EffectCreative,
  } from "swiper";
  let x = 3;
  var swiper = new Swiper(".mySwiper", {
    modules: [Navigation, EffectCreative, Autoplay],

    grabCursor: true,
    centeredSlides: true,
    slidesPerView: 3,
    spaceBetween: 30,
    loop: true,

    autoplay: {
      delay: 3000,
    },
    breakpoints: {
      767: {
        slidesPerView: 3,
        spaceBetween: 30,
      },
      250: {
        slidesPerView: 2,
        spaceBetween: 50,
      },
    },
  });

  let tl = gsap.timeline();

  let mm = gsap.matchMedia();

  mm.add("(min-width: 768px)", () => {
    tl.from(".animate-title", {
      duration: 0.7,
      y: "60%",

      ease: "power1.out",
    })
      .from(".btn-animate, .arrow", {
        opacity: 0,

        ease: "power1.out",
      })
      .from(".btn-animate", {
        rotate: "360",
        duration: 10,
        repeat: -1,
        ease: "none",
      })
      .from(".swiper-animate", {
        scrollTrigger: {
          trigger: ".swiper-animate",
          start: "top 50%",
          end: "bottom 30%",
          toggleClass: "swiper-animation",
          scrub: true,
        },
      })
      .from(".overlapDiv", {
        y: "50%",
        opacity: 0,
        scrollTrigger: {
          trigger: ".overlapDiv",
          start: "top 75%",
          end: "bottom 80%",

          scrub: true,
        },
      })
      .from(".captionDiv", {
        opacity: 0,
        scrollTrigger: {
          trigger: ".overlapDiv",
          start: "top 60%",
          end: "bottom 65%",

          scrub: true,
        },
      })
      .from(".techList", {
        opacity: 0,
        scrollTrigger: {
          trigger: ".overlapDiv",
          start: "top 58%",
          end: "bottom 73%",

          scrub: true,
        },
      });
  });

  mm.add("(max-width: 767px)", () => {
    tl.from(".animate-title", {
      duration: 0.7,
      y: "60%",

      ease: "power1.out",
    })
      .from(".btn-animate, .arrow", {
        opacity: 0,

        ease: "power1.out",
      })
      .from(".btn-animate", {
        rotate: "360",
        duration: 10,
        repeat: -1,
        ease: "none",
      })
      .from(".swiper-animate", {
        scrollTrigger: {
          trigger: ".swiper-animate",
          start: "top 50%",
          end: "bottom 30%",
          toggleClass: "swiper-animation",
          scrub: true,
        },
      })
      .from(".overlapDiv", {
        y: "50%",
        opacity: 0,
        scrollTrigger: {
          trigger: ".overlapDiv",
          start: "top 70%",
          end: "bottom 75%",

          scrub: true,
        },
      })
      .from(".captionDiv", {
        opacity: 0,
        scrollTrigger: {
          trigger: ".overlapDiv",
          start: "top 55%",
          end: "bottom 60%",

          scrub: true,
        },
      })
      .from(".techList", {
        opacity: 0,
        scrollTrigger: {
          trigger: ".overlapDiv",
          start: "top 48%",
          end: "bottom 66%",

          scrub: true,
        },
      });
  });
</script>
