---
import { Image } from "astro:assets";
import realEstate from "../images/realEstate.jpg";
import government from "../images/government.jpg";
import automobile from "../images/automobile.jpg";
import sports from "../images/sports.jpg";
import retail from "../images/retail.jpg";
import awardsPrev from "../images/awardsPrev.png";
import awardsNext from "../images/awardsNext.png";
import Layout from "../layouts/Layout.astro";

const props = Astro.props;
---

<Layout
  title={props?.metaTitle || "Use cases"}
  description={props?.description || null}
  seoTitle={props?.metaTitle || "use cases"}
>
  <section>
    <div class="heroSwiper position-relative">
      <div class="swiper-wrapper">
        <div class="swiper-slide imgWidth position-relative">
          <Image class="resizeImg optimization" src={automobile} alt="" />
        </div>

        <div class="swiper-slide imgWidth">
          <Image class="resizeImg optimization" src={realEstate} alt="" />
        </div>
        <div class="swiper-slide imgWidth">
          <Image class="resizeImg optimization" src={sports} alt="" />
        </div>
        <div class="swiper-slide imgWidth">
          <Image class="resizeImg optimization" src={retail} alt="" />
        </div>
        <div class="swiper-slide imgWidth">
          <Image class="resizeImg optimization" src={government} alt="" />
        </div>
      </div>
      <span class="position-absulote productu-content">
        <h2 class="title-p">
          <span class="explore">Explore</span>
          <span class="explore" style="color: #e5ff53;">&nbsp; Industries</span>
        </h2>
      </span>

      <Image
        class="optimization swiper-button-prev"
        src={awardsNext}
        loading="lazy"
        alt=""
      />
      <Image
        class="optimization swiper-button-next"
        src={awardsPrev}
        loading="lazy"
        alt=""
      />
    </div>
  </section>
  <style>
    .heroSwiper {
      overflow: hidden;
    }
    .title-p {
      width: 65%%;
      /* margin-top: 11%; */
      margin-left: 7%;
      bottom: 3vw;
      position: absolute;
    }
    .productu-content {
      background: linear-gradient(
        0deg,
        #1a1a1a -0.77%,
        rgba(26, 26, 26, 0) 98.21%
      );

      bottom: -10px;
      width: 100%;
      height: 43vh;
      color: #ffffff;
      z-index: 2;
    }
    .position-relative {
      position: relative;
    }

    .position-absulote {
      position: absolute;
    }
    .swiper {
      width: 100%;
    }

    .imgWidth img {
      max-height: 80vh !important;
      width: 100%;
      object-fit: cover;
      aspect-ratio: 5/3;
    }

    .swiper-slide {
      /* height: 100vh !important; */
    }

    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      /* margin-left: 1.5%; */
    }

    .swiper-button-prev {
      width: 4%;

      background-color: #ffffff;
      border-radius: 50%;

      top: unset !important;
      left: unset !important;
      right: 10%;
      bottom: 6vw;
    }
    .swiper-button-next {
      width: 4%;

      background-color: #ffffff;
      border-radius: 50%;

      top: unset !important;
      left: unset !important;
      right: 17%;
      bottom: 6vw;
    }
    .desktopSlider {
      width: 100%;
    }

    /* hover image effect css */
  </style>
  <script>
    import { Swiper } from "swiper";
      //@ts-ignore it should fix later when swiper fixes its types
   import { Navigation,Autoplay,EffectCreative,} from "swiper/modules";
    let x = 3;
    var swiper = new Swiper(".heroSwiper", {
      modules: [Navigation, EffectCreative, Autoplay],
      grabCursor: true,
      centeredSlides: true,
      slidesPerView: 1,

      spaceBetween: 0,
      loop: true,
      speed: 1700,
      breakpoints: {
        767: {
          slidesPerView: 1,

          spaceBetween: 30,
        },
        250: {
          slidesPerView: 1,
          spaceBetween: 20,
        },
      },

      autoplay: {
        delay: 2000,
      },

      navigation: {
        nextEl: ".swiper-button-prev",
        prevEl: ".swiper-button-next",
      },
    });
  </script>

  <section id="redirect" class="blackSection">
    <!-- <span class="explore">Explore</span>
    <span class="explore" style="color: #e5ff53;">&nbsp; Industries</span> -->

    <div class="d-flex">
      <a href="/use-cases/automobile#redirect" class="tabs" id="automobile">
        automobile</a
      >
      <a href="/use-cases/real-estate#redirect" class="tabs" id="real-estate">
        real estate</a
      >
      <a
        href="/use-cases/sports-and-media#redirect"
        class="tabs"
        id="sports-and-media"
      >
        sports & media</a
      >
      <a href="/use-cases/retail#redirect" class="tabs" id="retail"> retail</a>
      <a
        href="/use-cases/government#redirect"
        class="tabs"
        id="government"
        style=" border-right: 1px solid #8a8a8a !important"
      >
        government</a
      >
    </div>
    <script>
      if (window.location.pathname.includes("automobile")) {
        document.getElementById("automobile").classList.add("clicked");
      } else if (window.location.pathname.includes("real-estate")) {
        document.getElementById("real-estate").classList.add("clicked");
      } else if (window.location.pathname.includes("sports-and-media")) {
        document.getElementById("sports-and-media").classList.add("clicked");
      } else if (window.location.pathname.includes("retail")) {
        document.getElementById("retail").classList.add("clicked");
      }
      if (window.location.pathname.includes("government")) {
        document.getElementById("government").classList.add("clicked");
      }
    </script>
  </section>
</Layout>

<style>
  .optimization {
    height: auto;
  }

  /* related projects css */
  .relatedProjectHeading span {
    font-family: Deutschlander;
    text-transform: uppercase;
    font-size: 10vw;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    line-height: 0.85;
    margin-bottom: 1% !important;
  }

  .workImg-section-soln {
    padding-bottom: 7.3%;
  }

  .hoverImg:hover .image-overlay {
    opacity: 1;
  }
  .hoverImg {
    margin-right: 2%;
  }

  .work-animation {
    position: relative;
    overflow: hidden;
    border-radius: 0 4vw 4vw 4vw;
  }
  .work-animation:after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: #f6f7f0;
    z-index: 998;
    transition: left 1.2s ease;
  }
  .workAnimate-active:after {
    left: 100%;
  }
  .movingImgs {
    display: block;
    width: 100%;
    aspect-ratio: 4/5;
    object-fit: cover;
    width: 25vw;
    border-radius: 0 4vw 4vw 4vw;
  }

  .image-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    /* backdrop-filter: blur(5px); */
    background: rgba(0, 0, 0, 0.7);
    padding: 7% 0 7% 9%;
    opacity: 0;
    border-radius: 0 0 4vw 4vw;
  }
  .image-overlay img {
    width: 16%;
    position: absolute;
    left: 82%;
    bottom: 70%;
  }

  .workTech {
    font-family: "anek devanagari";
    font-size: 1.5vw;
    font-weight: 200;
    display: block;
    text-transform: capitalize;
  }
  .workName {
    font-family: "anek devanagari";
    font-size: 1.8vw;
    font-weight: 500;
    line-height: 1;
    display: block;
    text-transform: capitalize;
    width: 79%;
  }

  .moving-text2 {
    animation: move-text2 10s linear infinite;
  }
  @keyframes move-text2 {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-680%);
    }
  }

  /*  */
  .margins {
    margin: 0 7%;
  }

  .clicked {
    background-color: #e5ff53;
    color: #1a1a1a !important;
    font-weight: 600 !important;
  }

  .pointerTextDiv {
    line-height: 1.9vw;
  }
  a {
    text-decoration: none;
  }
  .tabs {
    width: 20%;
    border: 1px solid #8a8a8a;
    border-right: 0 !important;
    font-family: anek devanagari;
    font-weight: 500;
    font-size: 1.32vw;
    text-transform: uppercase;
    text-align: center;
    padding: 2% 0;
    color: #ffffff;
  }

  .tabs:hover {
    font-size: 1.6vw;
    padding-top: 2%;
    padding-bottom: 1%;
    color: #1a1a1a;
    background-color: #e5ff53;
    transition: 0.3s linear;
  }

  .blackSection {
    padding: 4% 7%;
    background-color: #1a1a1a;
    padding-bottom: 3% !important;
  }

  .explore {
    font-family: "Deutschlander";
    text-transform: uppercase;
    font-size: 14vw;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
    line-height: 0.8;
    /* word-spacing: 1vw; */
    color: white;
  }

  .numbers {
    background-color: #e5ff53;
    border-radius: 0 0.6vw 0 0.6vw;
    width: 11%;
    text-align: center;
    font-family: Deutschlander;
    font-size: 4.5vw;
    line-height: 1;
    height: fit-content;
    margin-right: 3%;
    margin-top: 0.8%;
  }
  .pointersDiv {
    margin-top: 3%;
    border-bottom: 1.5px solid rgb(74, 72, 72);
  }
  .pointerRow {
    border-top: 1.5px solid rgb(74, 72, 72);
    padding: 4% 0;
  }
  .pointerText {
    font-family: anek devanagari;
    font-size: 1.3vw;
    color: white;
    font-weight: 300;
    width: 90%;
    display: inline-block;
    word-spacing: 0.08rem;
  }
  @media screen and (max-width: 450px) {
    .pointerText {
      width: 100%;
    }
  }
  .rightsidePointers {
    padding-left: 4.5%;
  }

  /* swiper css */
  .swiper1-section {
    margin-bottom: 4%;
  }

  /* .swiper {
    width: 90%;
  } */

  .swiper-slide {
    /* font-size: 18px; */
    /* 
    justify-content: center;
    align-items: center; */
  }
  .imgWidth img {
    width: 100%;
  }

  .animate-swiper {
    margin-left: 7%;
  }

  /* swiper 2 css */

  .swiperImg {
    width: 88%;
    border-radius: 4.5vw 0;
  }
  .imgInfo {
    position: relative;
    top: 25%;
    left: 8%;
  }

  .imgTitle {
    font-family: "Deutschlander";
    text-transform: uppercase;
    font-size: 10vw;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
    line-height: 0.8;
    /* word-spacing: 1vw; */
    color: white;
  }
  .imgText {
    color: white;
    font-family: "anek devanagari";
    width: 85%;
    font-size: 1.3vw;
    display: inline-block;
    margin-top: 2%;
    opacity: 90%;
    font-weight: 300;
  }
  .swiper-prev,
  .swiper-next {
    width: 15%;
  }
  .controls {
    margin-top: 6%;
  }
  .swiper-prev {
    margin-right: 20%;
    margin-bottom: 6.7%;
  }
  .swiper-next {
    margin-left: 20%;
    margin-bottom: 6.7%;
  }

  .swiper-index {
    font-family: "Deutschlander";
    text-transform: uppercase;
    font-size: 7vw;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
    line-height: 0;
    /* word-spacing: 1vw; */
    color: white;
  }

  @media screen and (max-width: 767px) {
    .movingImgs {
      aspect-ratio: 4/5;
      width: 30vw;
      border-radius: 0 4vw 4vw 4vw;
      margin-right: 5%;
      object-fit: cover;
    }
    .imgInfo {
      position: relative;
      top: 0;
      left: 0;
      margin-top: 6%;
    }
    .imgText {
      font-size: 3.3vw;
    }
    .imgTitle {
      font-size: 12vw;
    }
    .rightsidePointers {
      padding-left: 2%;
    }
    .pointerText {
      font-size: 3.2vw !important;
    }
    .pointerTextDiv {
      line-height: 4.9vw;
    }
    .numbers {
      width: 10%;

      font-size: 6.5vw;
      line-height: 1.2;
    }
    .rightsidePointers {
      margin-top: 5%;
    }
    .tabs {
      font-size: 2.25vw;
    }
  }
</style>

<script>

  import { Swiper } from "swiper";
      //@ts-ignore it should fix later when swiper fixes its types
   import { Navigation,EffectCreative,} from "swiper/modules";
  let y = 3;
  var swiper2 = new Swiper(".swiper", {
    modules: [Navigation, EffectCreative],
    //   effect: "creative",
    grabCursor: true,
    centeredSlides: true,
    slidesPerView: 1,

    spaceBetween: 10,
    loop: true,
    navigation: {
      nextEl: ".swiper-next",
      prevEl: ".swiper-prev",
    },

    // breakpoints: {
    //   767: {
    //     slidesPerView: 1,

    //     spaceBetween: 30,
    //   },
    //   250: {
    //     slidesPerView: 1,
    //     spaceBetween: 20,
    //   },
    // },

    autoplay: {
      delay: 2000,
    },
  });

  import { gsap, TimelineMax } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  const movingImgs = document.querySelectorAll(".hoverImg");
  gsap.from(".workImg-section-soln", 1, {
    scrollTrigger: {
      trigger: ".workImg-section-soln",
      start: "top 55%",
      end: "bottom top",

      toggleClass: "move-upper-white-bg",
      scrub: true,
    },
  });
</script>

<style is:global>
  .sticky-header {
    position: fixed !important;
  }
  .turnBlack {
    background: transparent !important;
    position: absolute;
    width: 100%;
    margin-bottom: 1%;
  }

  .list ul li a {
    color: white !important;
    opacity: 100% !important;
  }
  path {
    fill: white !important;
  }

  /* connect button css */

  .connect,
  .circles {
    fill: #1a1a1a !important;
  }
  .oval {
    fill: white !important;
  }

  .tele {
    fill: white !important;
  }
  .menu p {
    color: white !important;
  }
  .menu .s1,
  .menu .s2 {
    border: 1px solid white !important;
  }
</style>
