---
import footerDiamond from "../images/footerDiamond.png";
import contactUs from "../images/contactUs.png";
import subscribe from "../images/subscribe.png";
import goArrow from "../images/goArrow.png";
import instaLogo from "../images/instaLogo.png";
import youtubeLogo from "../images/youtubeIcon.png";
import linkedinlogo from "../images/linkedinLogo.png";
import twitterX from "../images/twitterX.png";
import fbLogo from "../images/fbLogo.png";
import whatsappLogo from "../images/whatsappLogo.png";
import subscribeBtn from "../images/subscribeBtn.png";
import footerHand from "../images/footerHand.png";
import threads from "../images/threads.png";
import { Image } from "astro:assets";
//import { Image, Picture } from "@astrojs/image/components";
---

<section
  style="background-color: #1a1a1a;  padding-left: 9%; padding-top: 3%; overflow: hidden"
>
  <div class="div1 footerReady">
    <Image
      class="diamond optimization"
      src={footerDiamond}
      alt=""
      style="margin-right:0.6%"
      loading="lazy"
    />
    <span class="footerFont"
      >&nbsp; READY TO ACTIVATE STRATEGIC GROWTH? &nbsp;</span
    >
    <Image
      class="diamond optimization"
      src={footerDiamond}
      alt=""
      style="margin-left:0.6%"
      loading="lazy"
    />
  </div>

  <div class="div2 row footerYellow">
    <div class="col-6 footerText">
      <p class="content">
        Share an idea for a new project, apply for your dream job, or join us
        for a foosball match.
      </p>
    </div>
    <div class="col-6">
      <div class="d-flex contact-animate">
        <a href="/contact-us" aria-label="contact">
          <Image class="contactUsImg optimization" src={contactUs} alt="" /></a
        >
        <div class="footerHand">
          <Image class="optimization" src={footerHand} alt="" />
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12 MobileNoneTop">
    <p class="headings IICInsider">Become An IIC Insider</p>
    <div class="row allTopInputs">
      <form action="" id="subscribeForm2">
        <div class="col-12">
          <input
            type="text"
            class="topInput"
            placeholder="Your Name"
            name="name"
          />
        </div>
        <div class="col-12 mt-3">
          <input
            type="email"
            class="topInput"
            placeholder="Your Email"
            name="email"
          />
        </div>
      </form>

      <div class="button mt-3 text-center">
        <button class="btn" type="submit" aria-label="subscribe newsletter">
          <Image
            class="mobSubscribe optimization"
            src={subscribeBtn}
            alt=""
            loading="lazy"
          />
        </button>
      </div>
    </div>
  </div>

  <div class="col-12 TopSocialIcons">
    <a
      href="https://www.instagram.com/inkincaps/?hl=en"
      aria-label="instagram"
      target="_blank"
    >
      <Image
        class="socialIcons optimization"
        src={instaLogo}
        alt=""
        loading="lazy"
      /></a
    >
    <a
      href="https://in.linkedin.com/company/ink-in-caps"
      aria-label="linkedin"
      target="_blank"
    >
      <Image
        class="socialIcons optimization"
        src={linkedinlogo}
        alt=""
        loading="lazy"
      /></a
    >
    <a
      href="https://twitter.com/inkincaps?lang=en"
      aria-label="twitter"
      target="_blank"
    >
      <Image
        class="socialIcons optimization"
        src={twitterX}
        alt=""
        loading="lazy"
      /></a
    >
    <a
      href="https://www.facebook.com/inkincaps/"
      aria-label="facebook"
      target="_blank"
    >
      <Image
        class="socialIcons optimization"
        src={fbLogo}
        alt=""
        loading="lazy"
      /></a
    >

    <a
      href="https://www.threads.net/@inkincaps"
      aria-label="threads"
      target="_blank"
    >
      <Image
        class="socialIcons optimization"
        src={threads}
        alt=""
        loading="lazy"
      /></a
    >

    <a
      href="https://www.youtube.com/inkincaps/"
      aria-label="youtube"
      target="_blank"
    >
      <Image
        class="socialIcons optimization"
        src={youtubeLogo}
        alt=""
        loading="lazy"
      /></a
    >
    <a class="d-none" href="" aria-label="whatsapp" target="_blank">
      <Image
        class="socialIcons optimization"
        src={whatsappLogo}
        alt=""
        loading="lazy"
      /></a
    >
  </div>

  <div class="div3 row">
    <div class="col-md-3 footerContact">
      <p class="headings">Location</p>
      <a
        class=""
        href="https://www.google.com/maps/place/Ink+In+Caps+IIC/@19.1452727,72.8534323,15z/data=!4m6!3m5!1s0x3be7b6f12d81c5a5:0xa441e0453e9b6c63!8m2!3d19.1452727!4d72.8534323!16s%2Fg%2F11cm_46d_f?entry=ttu"
        target="_blank"
      >
        <p class="address yello-hover">
          Lotus Corporate Park, E-Wing 802 Ram Mandir Lane, Jay Coach Junction,
          off Western Express Highway Goregaon, Mumbai, 400063
        </p>
      </a>
      <a class="yello-hover" href="tel:022-6849-3501" target="_blank"
        >022-6849-3501</a
      ><br />

      <a class="yello-hover" href="mailto:mumbai@inkincaps.com" target="_blank"
        >mumbai@inkincaps.com</a
      >
    </div>
    <div class="col-md-2 col-6">
      <p class="headings">Quick Links</p>
      <div class="spacings">
        <a href="/" aria-label="home"><p style="color:grey;  ">Home</p></a>
        <a href="/solutions" aria-label="solutions"
          ><p style="color:grey">Solutions</p></a
        >
        <a href="/portfolio" aria-label="our work"
          ><p style="color:grey">Our Work</p></a
        >
        <a href="/blogs" aria-label="Articles"
          ><p style="color:grey">Articles</p></a
        >
        <a href="/contact-us" aria-label="connect"
          ><p style="color:grey">Connect</p></a
        >
        <a href="/career" aria-label="career"
          ><p style="color:grey">Career</p></a
        >
      </div>
    </div>
    <div class="col-md-2 col-6">
      <p class="headings" style="color: rgba(255, 255, 255, 1);
        ">
        Our IPs
      </p>
      <div class="spacings">
        <a href="/products/v-estate" aria-label="v-estate">
          <p style="color:grey">V-Estate</p></a
        >
        <a href="/products/v-retail" aria-label="v-retail"
          ><p style="color:grey">V-Retail</p></a
        >
        <a href="/products/v-verse" aria-label="v-verse">
          <p style="color:grey">V-Verse</p></a
        >
        <a href="/products/v-tour" aria-label="v-tour"
          ><p style="color:grey">V-Tour</p></a
        >

        <a href="/products/v-stages" aria-label="v-stages"
          ><p style="color:grey">V-Stages</p></a
        >
        <a href="/products/v-conference" aria-label="v-conference">
          <p style="color:grey">V-Conference</p></a
        >
      </div>
    </div>
    <div class="col-md-5 MobileNone">
      <p class="headings">Become An IIC Insider</p>
      <form action="" id="subscribeForm">
        <input
          class="inputCss"
          type="text"
          placeholder="Your Name"
          name="name"
        />
        <input
          class="inputCss"
          style="margin-left: 14px;"
          type="email"
          placeholder="Your Email"
          name="email"
        />
        <br />
        <br />
        <button class="btn" type="submit" aria-label="subscribe to newsletter">
          <Image
            class="optimization"
            style="width: 13.5vw;"
            src={subscribe}
            alt=""
          />
        </button>
      </form>
      <div class="desktopOnly" style="margin-top: 8%; padding-top: 1.5%;">
        <a
          href="https://www.instagram.com/inkincaps/?hl=en"
          aria-label="instagram"
          target="_blank"
          ><Image
            class="icons optimization"
            src={instaLogo}
            alt=""
            loading="lazy"
          /></a
        >
        <a
          href="https://in.linkedin.com/company/ink-in-caps"
          aria-label="linkedin"
          target="_blank"
          ><Image
            class="icons optimization"
            src={linkedinlogo}
            alt=""
            loading="lazy"
          /></a
        >
        <a
          href="https://twitter.com/inkincaps?lang=en"
          aria-label="twitter"
          target="_blank"
          ><Image
            class="icons optimization"
            src={twitterX}
            alt=""
            loading="lazy"
          /></a
        >
        <a
          href="https://www.facebook.com/inkincaps/"
          aria-label="facebook"
          target="_blank"
          ><Image
            class="icons optimization"
            src={fbLogo}
            alt=""
            loading="lazy"
          /></a
        >

        <a
          href="https://www.threads.net/@inkincaps"
          aria-label="whatsapp"
          target="_blank"
        >
          <Image
            class="icons optimization"
            src={threads}
            alt=""
            loading="lazy"
          /></a
        >
        <a
          href="https://www.youtube.com/inkincaps/"
          aria-label="youtube"
          target="_blank"
          ><Image
            class="icons optimization"
            src={youtubeLogo}
            alt=""
            loading="lazy"
          /></a
        >

        <a class="d-none" href="" aria-label="whatsapp" target="_blank"
          ><Image class="icons optimization" src={whatsappLogo} alt="" /></a
        >
      </div>
      <a
        href="https://www.designrush.com/agency/profile/ink-in-caps"
        target="_blank"
      >
        <p class="address yello-hover mt-2">Review INK IN CAPS on DesignRush</p>
      </a>
    </div>
  </div>
</section>
<section
  class="d-none"
  style="border-top: 1.15px solid  grey;   background-color: #1a1a1a; "
>
  <div class="row ParentSocial" style="margin: 0 10% 0 10%; ">
    <div
      class="col-lg-8 col-md-8 col-sm-12 row"
      style="justify-content:space-evenly;"
    >
      <span class="collab col-4 d-flex"
        >Performance &nbsp; <button
          class="btn"
          style="
      
        height: 0%;  margin-top: 3%;"
        >
          <Image
            class="goArrow optimization"
            src={goArrow}
            alt=""
            loading="lazy"
          /></button
        >
      </span>
      <span class="collab col-3 d-flex">
        &nbsp;Passion &nbsp; <button
          class="btn"
          style="
      
        height: 0%;  margin-top: 3%;"
        >
          <Image
            class="goArrow optimization"
            src={goArrow}
            alt=""
            loading="lazy"
          /></button
        >
      </span>
      <span style="margin-left: 5%;" class="collab col-4 d-flex"
        >Collaboration &nbsp; <button
          class="btn"
          style="
      
        height: 0%;  margin-top: 3%;"
        >
          <Image
            class="goArrow optimization"
            src={goArrow}
            alt=""
            loading="lazy"
          /></button
        >
      </span>
    </div>
    <!-- <div
      class="col-lg-4 col-md-4 desktopOnly"
      style="text-align: center; padding-top: 1.5%;"
    >
      <a href="https://www.instagram.com/inkincaps/?hl=en"
        ><Image   class="icons" src={instaLogo} alt="" loading="lazy" /></a
      >
      <a href="https://in.linkedin.com/company/ink-in-caps"
        ><Image   class="icons" src={linkedinlogo} alt="" loading="lazy" /></a
      >
      <a href="https://twitter.com/inkincaps?lang=en"
        ><Image   class="icons" src={twitterX} alt="" loading="lazy" /></a
      >
      <a href="https://www.facebook.com/inkincaps/"
        ><Image   class="icons" src={fbLogo} alt="" loading="lazy" /></a
      >-->
  </div>
</section>

<section
  style="border-top: 1.15px solid  grey;   background-color: #1a1a1a;padding:2% 0 2% 0"
>
  <div style="text-align: center;">
    <span class="bottomDiv" id="copyright" style=" opacity:70%"></span>
    <span class="bottomDiv"> &nbsp; Ink In Caps</span>
  </div>
</section>

<script>
  import Swal from "sweetalert2";

  document.getElementById("copyright").innerHTML =
    "&copy Copyright " + new Date().getFullYear();
  import { gsap } from "gsap";

  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);
  document
    .getElementById("subscribeForm")
    .addEventListener("submit", function (event) {
      event.preventDefault();

      var formData = new FormData(event.target as HTMLFormElement);

      var name = formData.get("name");
      var email = formData.get("email");

      const connectFormData = `
    <style>
    #customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    #customers td,
    #customers th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #customers tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #customers tr:hover {
        background-color: #ddd;
    }

    #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #04AA6D;
        color: white;
    }
</style>

<body>
    <table id="customers">

        <tr>
            <td style="font-weight:bold;">Name</td>
            <td >${name}</td>
        </tr>
        <tr>
          <td style="font-weight:bold;">Email</td>
          <td >${email}</td>
        </tr>
        <tr>
      </tr>
    </table>
</body>
    `;

      const formData2 = new FormData();
      formData2.append("type", "subscribe-newsletter");
      formData2.append("body", connectFormData);

      fetch("https://backend.iiclab.com/mail", {
        method: "POST",
        body: formData2,
        redirect: "follow",
      })
        .then(function (response) {
          if (response.ok) {
            return response.text();
          }
          throw new Error("ERROR:" + response.status);
        })
        .then(function (data) {
          Swal.fire({
            title: "Welcome to the tribe!",
            icon: "success",
            text: `Your details have landed safely in our creative hub, so keep an eye on your inbox for a newsletter of all things MarTech!`,

            confirmButtonText: "CLOSE",
            customClass: {
              confirmButton: "sweet-close-btn",
              icon: "sweet-icon",
              popup: "sweet-container",
              title: "sweet-title",
            },
          });
        })
        .catch(function (error) {
          console.error("error:", error);
        });
      (event.target as HTMLFormElement).reset();
    });

  let tl = gsap.timeline();
  (window as any).ScrollTrigger = ScrollTrigger;

  tl.from(".footerFont", {
    duration: 1,
    y: "30%",
    opacity: "0",
    ease: "power1.out",
    scrollTrigger: {
      trigger: ".footerFont",
      start: "top 80%",
      end: "bottom 35%",
      scrub: true,
    },
  })
    .from(".footerText", {
      duration: 1,
      y: "30%",
      opacity: "0",
      ease: "power1.out",
      scrollTrigger: {
        trigger: ".footerText",
        start: "top 85%",
        end: "bottom 70%",
        scrub: true,
      },
    })
    .from(".contact-animate", {
      duration: 1.5,

      opacity: "0",

      ease: "power1.out",
      scrollTrigger: {
        trigger: ".contact-animate",
        start: "top 75%",
        end: "bottom 70%",
        scrub: true,
      },
    })
    .from(".contact-animate", {
      duration: 1.5,
      x: "30%",

      ease: "power1.out",
      scrollTrigger: {
        trigger: ".contact-animate",
        start: "top 65%",
        end: "bottom 50%",
        scrub: true,
      },
    })
    .to(".footerHand", {
      duration: 1,
      x: "30%",
      ease: "power1.out",

      scrollTrigger: {
        trigger: ".footerHand",
        start: "top 42%",
        end: "bottom 40%",
        scrub: true,
      },
    });
</script>

<style>
  .optimization {
    height: auto;
  }
  a {
    text-decoration: none;
  }
  .footerFont {
    color: white;
    font-family: "Deutschlander";
    font-style: normal;
    font-weight: 400;
    font-size: 7.5vw;
    display: inline-block;
    word-spacing: 0.3rem;
    src:
      local("Deutschlander"),
      url("/Deutschlander.woff") format("woff");
  }
  .footerText {
    padding-top: 2%;
  }
  .footerContact a {
    color: rgba(255, 255, 255, 1);
    font-size: calc(11px + 0.390625vw);
    font-family: anek devanagari;
  }

  .div1 {
    border: 1px solid rgba(255, 255, 255, 0.35);
    border-radius: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.05);
    width: 90%;
  }

  .div2 {
    /* border: 1px solid rgba(255, 255, 255, 0.35); */
    margin-top: 3%;
    border-radius: 2vw;
    padding: 2.5% 0 2.5% 4%;
    background: rgba(229, 255, 83, 1);

    width: 90%;
  }

  .div3 {
    margin-top: 3%;
    margin-left: 3%;
    padding-bottom: 2%;
  }
  .goArrow {
    width: 2.25vw;
  }
  .contactUsImg {
    width: 18vw;
    margin-top: 3.5%;
  }
  .div2 {
    margin-left: 0 !important;
  }
  .address {
    color: grey;
    width: 70%;
    line-height: 200%;
    font-size: calc(13px + 0.390625vw);
    min-width: 160px;
    font-family: anek devanagari;
  }
  .yello-hover:hover {
    /* color: #e5ff53 !important; */
    text-decoration: underline;
  }
  .footerHand img {
    width: 85%;
  }

  @media only screen and (max-width: 767px) {
    .footerHand img {
      width: 100%;
    }
    .footerHand {
      margin-top: 10%;
    }

    .footerFont {
      word-spacing: 0.2rem;
    }
    .div1 {
      border-radius: 1.3vw !important;
    }
    .MobileNone {
      display: none;
    }
    .socialIcons {
      margin-top: 6%;
      margin-bottom: 3%;
      width: 7vw !important;
      margin-right: 1%;
    }

    .topInput {
      background-color: #1a1a1a;
      height: 9vw;
      border-radius: 0 10px 0 10px;
      color: rgba(255, 255, 255, 1);
      font-size: calc(11px + 0.390625vw);
      width: 88%;
      border: 0.5px solid #a9a9a987;
      padding-left: 4%;
    }
    .allTopInputs {
      width: 100% !important;
    }
    .IICInsider {
      margin-top: 40px;
    }
    .footerContact {
      margin-bottom: 50px;
    }
    .goArrow {
      width: 3.25vw;
    }
    .ParentSocial {
      margin: 0 3% 0 3% !important;
    }
    .collab {
      text-align: center;
    }
    .content {
      font-size: 3vw !important;
      line-height: 1.3 !important;
    }
    .contactUsImg {
      width: 23vw;
      margin-top: 12.5%;
    }
    .div3,
    .div2 {
      margin-left: 0 !important;
    }
    .div3 {
      width: 100% !important;
    }
    .address {
      color: grey;
      width: 70%;
      line-height: 200%;
      font-size: calc(14px + 0.390625vw) !important;
      min-width: 160px;
    }
    .headings {
      font-size: calc(13px + 0.390625vw) !important;
    }
    .spacings {
      font-size: calc(11px + 0.390625vw) !important;
    }
    a {
      font-size: calc(14px + 0.390625vw) !important;
    }
    .button {
      margin-right: 6%;
      width: 90%;
    }
    .newsletter {
      display: none;
    }
    .mobSubscribe {
      width: 27vw;
    }
    .bottomDiv {
      font-size: 2.5vw !important;
    }
  }

  @media screen and (min-width: 768px) {
    .MobileNoneTop {
      display: none;
    }
    .TopSocialIcons {
      display: none;
    }
    .mobSubscribe {
      display: none;
    }
    .div3 {
      width: 98% !important;
      margin-left: 2% !important;
    }
  }

  .diamond {
    width: 3vw;
    height: 0%;
    margin-bottom: 4.3%;
  }

  .content {
    font-family: Anek Devanagari;
    font-size: 1.8vw;
    font-weight: 500;
    line-height: 2.35vw;
    letter-spacing: 0px;

    color: black;
  }

  .inputCss {
    background-color: #1a1a1a;
    height: 3vw;
    border-radius: 0 10px 0 10px;
    color: rgba(255, 255, 255, 1);
    font-size: calc(7px + 0.390625vw);
    padding-left: 1.5%;
    width: 37%;
  }

  @media screen and (min-width: 768px) and (max-width: 1060px) {
    .inputCss {
      width: 14vw;
    }
  }

  .headings {
    color: rgba(255, 255, 255, 1);
    font-size: calc(10px + 0.390625vw);
  }
  .spacings {
    line-height: 115%;
    font-size: calc(11px + 0.390625vw);
    font-family: anek devanagari;
  }

  .collab {
    color: white;
    font-family: "Deutschlander";
    font-style: normal;
    font-weight: 400;
    font-size: 2.6rem;
    margin: 2% 0 2% 0;
  }

  .bottomDiv {
    color: white;
    font-family: Anek Devanagari;
    font-size: 1.4rem;
  }
  .icons {
    width: 2.5vw;
    margin-right: 2.5%;
  }

  .btn {
    padding: 0.2rem;
  }

  @media screen and (max-width: 767px) {
    .desktopOnly {
      display: none !important;
    }
  }
  @media (max-width: 1435px) {
    .btn {
      padding: 0.2rem;
    }
  }

  @media (max-width: 1320px) {
    .collab {
      font-size: 2rem;
    }
  }
  @media (max-width: 1175px) {
    .collab {
      font-size: 1.8rem;
    }

    .btn {
      padding: 0.1rem;
    }
  }

  @media (max-width: 405px) {
    .collab {
      font-size: 1.2rem;
    }

    .btn {
      padding: 0.1rem;
      margin-top: 0 !important;
    }
  }
</style>

<style is:global>
  .swal2-html-container {
    font-family: "Anek Devanagari" !important;
    font-size: 1.2vw !important;
    font-weight: 500 !important;
    line-height: 1 !important;
    letter-spacing: 0em !important;
    opacity: 50%;
  }
  .swal2-success-line-tip,
  .swal2-success-line-long {
    background: #1a1a1a !important;
  }

  .sweet-container {
    border: 2px solid #1a1a1a !important;
  }
  .swal2-success-ring {
    border: 6.64px solid #f7fecb !important;
  }

  .sweet-title {
    font-family: Deutschlander !important;
    font-size: 5vw !important;
    font-weight: 400 !important;
    line-height: 1 !important;
    letter-spacing: 0px !important;
    text-transform: uppercase !important;
    color: #1a1a1a !important;
  }
  .swal2-actions {
    width: 100% !important;
  }
  .sweet-close-btn {
    color: #e5ff53 !important;
    background: #1a1a1a !important;
    width: 34vw !important;
    font-family: Deutschlander !important;
    font-size: 3.5vw !important;
    font-weight: 400 !important;
    line-height: 1 !important;
    letter-spacing: 0px !important;
    padding-top: 2% !important;
    padding-bottom: 2% !important;
    border-radius: 0px 0px 8px 8px !important;
    margin-bottom: 0vw;
  }
</style>
