---
import footerDiamond from "../images/footerDiamond.png";
import contactUs from "../images/contactUs.png";
import subscribe from "../images/subscribe.png";
import goArrow from "../images/goArrow.png";
import instaLogo from "../images/instaLogo.png";
import linkedinlogo from "../images/linkedinLogo.png";
import twitterLogo from "../images/twitterLogo.png";
import fbLogo from "../images/fbLogo.png";
import whatsappLogo from "../images/whatsappLogo.png";
import subscribeBtn from "../images/subscribeBtn.png";
---

<section style="background-color: #1a1a1a;  padding-left: 9%; padding-top: 3%;">
  <div class="div1 footerReady">
    <img class="diamond" src={footerDiamond} alt="" />
    <span class="footerFont"
      >&nbsp; READY TO ACTIVATE STRATEGIC GROWTH? &nbsp;</span
    >
    <img class="diamond" src={footerDiamond} alt="" />
  </div>

  <div class="div2 row footerYellow">
    <div class="col-6">
      <p class="content">Our Drones don't bite.</p>
      <p class="content">
        Share an idea for a new project, apply for your dream job, or join us
        for a foosball match.
      </p>
    </div>
    <div class="col-6">
      <button class="btn"
        ><img class="contactUsImg" src={contactUs} alt="" /></button
      >
    </div>
  </div>

  <div class="col-md-12 MobileNoneTop">
    <p class="headings IICInsider">Become An IIC Insider</p>
    <div class="row allTopInputs">
      <div class="col-12">
        <input type="text" class="topInput" placeholder="Your Name" />
      </div>
      <div class="col-12 mt-3">
        <input type="text" class="topInput" placeholder="Your Email" />
      </div>
    </div>

    <div class="button mt-3 text-center">
      <button class="btn">
        <img
          class="btn newsletter"
          style="width: 17.5vw;"
          src={subscribe}
          alt=""
        />
        <img class="mobSubscribe" src={subscribeBtn} alt="" />
      </button>
    </div>
  </div>

  <div class="col-12 TopSocialIcons">
    <button class="btn"
      ><img class="socialIcons" src={instaLogo} alt="" /></button
    >
    <button class="btn">
      <img class="socialIcons" src={linkedinlogo} alt="" /></button
    >
    <button class="btn"
      ><img class="socialIcons" src={twitterLogo} alt="" /></button
    >
    <button class="btn">
      <img class="socialIcons" src={fbLogo} alt="" /></button
    >
    <button class="btn">
      <img class="socialIcons" src={whatsappLogo} alt="" /></button
    >
  </div>

  <div class="div3 row">
    <div class="col-md-3 Footercontact">
      <p class="headings">Location</p>
      <p class="address">
        Lotus Corporate Park, E-Wing 802 Ram Mandir Lane, Jay Coach Junction,
        off Western Express Highway Goregaon, Mumbai, 400063
      </p>
      <a
        style="color: rgba(255, 255, 255, 1); font-size: calc(7px + 0.390625vw);"
        >+91- 83033 85888</a
      ><br />

      <a
        style="color: rgba(255, 255, 255, 1); font-size: calc(7px + 0.390625vw);"
        >help@iiclab.com</a
      >
    </div>
    <div class="col-md-2 col-6">
      <p class="headings">Quick Links</p>
      <div class="spacings">
        <p style="color:grey;  ">Home</p>
        <p style="color:grey">Solutions</p>
        <p style="color:grey">Our Work</p>
        <p style="color:grey">Connect</p>
        <p style="color:grey">Career</p>
      </div>
    </div>
    <div class="col-md-2 col-6">
      <p class="headings" style="color: rgba(255, 255, 255, 1);
        ">
        Our IPs
      </p>
      <div class="spacings">
        <p style="color:grey">V-Verse</p>
        <p style="color:grey">V-Tour</p>
        <p style="color:grey">V-Retail</p>
        <p style="color:grey">V-Stages</p>
        <p style="color:grey">V-Conference</p>
      </div>
    </div>
    <div class="col-md-5 MobileNone">
      <p class="headings">Become An IIC Insider</p>
      <input class="inputCss" type="text" placeholder="Your Name" />
      <input
        class="inputCss"
        style="margin-left: 10px;"
        type="text"
        placeholder="Your Email"
      />
      <br />
      <br />
      <img class="btn" style="width: 13.5vw;" src={subscribe} alt="" />
    </div>
  </div>
</section>
<section style="border-top: 1.15px solid  grey;   background-color: #1a1a1a; ">
  <div class="row ParentSocial" style="margin: 0 10% 0 10%; ">
    <div
      class="col-lg-8 col-md-8 col-sm-12 row"
      style="justify-content:space-evenly;"
    >
      <span class="collab col-4 d-flex"
        >Performance &nbsp; <button
          class="btn"
          style="
      
        height: 0%;  margin-top: 3%;"
        >
          <img class="goArrow" src={goArrow} alt="" /></button
        >
      </span>
      <span class="collab col-3 d-flex">
        &nbsp;Passion &nbsp; <button
          class="btn"
          style="
      
        height: 0%;  margin-top: 3%;"
        >
          <img class="goArrow" src={goArrow} alt="" /></button
        >
      </span>
      <span style="margin-left: 5%;" class="collab col-4 d-flex"
        >Collaboration &nbsp; <button
          class="btn"
          style="
      
        height: 0%;  margin-top: 3%;"
        >
          <img class="goArrow" src={goArrow} alt="" /></button
        >
      </span>
    </div>
    <div
      class="col-lg-4 col-md-4 desktopOnly"
      style="text-align: center; padding-top: 1.5%;"
    >
      <button class="btn"><img class="icons" src={instaLogo} alt="" /></button>
      <button class="btn">
        <img class="icons" src={linkedinlogo} alt="" /></button
      >
      <button class="btn"
        ><img class="icons" src={twitterLogo} alt="" />
      </button>
      <button class="btn"> <img class="icons" src={fbLogo} alt="" /></button>
      <button class="btn">
        <img class="icons" src={whatsappLogo} alt="" /></button
      >
    </div>
  </div>
</section>

<section
  style="border-top: 1.15px solid  grey;   background-color: #1a1a1a;padding:2% 0 2% 0"
>
  <div style="text-align: center;">
    <span class="bottomDiv" style=" opacity:70%"> copyright 2022</span>
    <span class="bottomDiv"> &nbsp; Ink In Caps</span>
  </div>
</section>

<style>
  .footerFont {
    color: white;
    font-family: "Deutschlander";
    font-style: normal;
    font-weight: 400;
    font-size: 7.5vw;
    src: local("Deutschlander"), url("/Deutschlander.woff") format("woff");
  }

  .div1 {
    border: 1px solid rgba(255, 255, 255, 0.35);
    border-radius: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.05);
    width: 90%;
  }

  .div2 {
    /* border: 1px solid rgba(255, 255, 255, 0.35); */
    margin-top: 3%;
    border-radius: 2vw;
    padding: 4% 0 1% 4%;
    background: rgba(229, 255, 83, 1);

    width: 90%;
  }

  .div3 {
    margin-top: 3%;
    margin-left: 3%;
    padding-bottom: 2%;
  }
  .goArrow {
    width: 2.25vw;
  }
  .contactUsImg {
    width: 18vw;
    margin-top: 3.5%;
  }
  .div2 {
    margin-left: 0 !important;
  }
  .address {
    color: grey;
    width: 70%;
    line-height: 200%;
    font-size: calc(7px + 0.390625vw);
    min-width: 160px;
  }

  @media only screen and (max-width: 767px) {
    .div1 {
      border-radius: 1.3vw !important;
    }
    .MobileNone {
      display: none;
    }
    .socialIcons {
      margin-top: 30px;
      width: 40px !important;
    }

    .topInput {
      background-color: #1a1a1a;
      height: 9vw;
      border-radius: 0 10px 0 10px;
      color: rgba(255, 255, 255, 1);
      font-size: calc(10px + 0.390625vw);
      width: 88%;
      border: 0.5px solid #a9a9a987;
    }
    .allTopInputs {
    }
    .IICInsider {
      margin-top: 40px;
    }
    .Footercontact {
      margin-bottom: 50px;
    }
    .goArrow {
      width: 3.25vw;
    }
    .ParentSocial {
      margin: 0 3% 0 3% !important;
    }
    .collab {
      text-align: center;
    }
    .content {
      font-size: 3vw !important;
      line-height: 1.3 !important;
    }
    .contactUsImg {
      width: 23vw;
      margin-top: 12.5%;
    }
    .div3,
    .div2 {
      margin-left: 0 !important;
    }
    .address {
      color: grey;
      width: 70%;
      line-height: 200%;
      font-size: calc(10px + 0.390625vw) !important;
      min-width: 160px;
    }
    .headings {
      font-size: calc(13px + 0.390625vw) !important;
    }
    .spacings {
      font-size: calc(10px + 0.390625vw) !important;
    }
    a {
      font-size: calc(10px + 0.390625vw) !important;
    }
    .button {
      margin-right: 6%;
    }
    .newsletter {
      display: none;
    }
    .mobSubscribe {
      width: 27vw;
    }
  }

  @media screen and (min-width: 768px) {
    .MobileNoneTop {
      display: none;
    }
    .TopSocialIcons {
      display: none;
    }
    .mobSubscribe {
      display: none;
    }
  }

  .diamond {
    width: 3vw;
    height: 0%;
    margin-bottom: 4.3%;
  }

  .content {
    font-family: Anek Devanagari;
    font-size: 1.8vw;
    font-weight: 500;
    line-height: 2.35vw;
    letter-spacing: 0px;

    color: black;
  }

  .inputCss {
    background-color: #1a1a1a;
    height: 3vw;
    border-radius: 0 10px 0 10px;
    color: rgba(255, 255, 255, 1);
    font-size: calc(7px + 0.390625vw);
  }

  .headings {
    color: rgba(255, 255, 255, 1);
    font-size: calc(10px + 0.390625vw);
  }
  .spacings {
    line-height: 115%;
    font-size: calc(7px + 0.390625vw);
  }

  .collab {
    color: white;
    font-family: "Deutschlander";
    font-style: normal;
    font-weight: 400;
    font-size: 2.6rem;
    margin: 2% 0 2% 0;
  }

  .bottomDiv {
    color: white;
    font-family: Anek Devanagari;
    font-size: 1.4rem;
  }
  .icons {
    width: 3vw;
  }

  .btn {
    padding: 0.2rem;
  }

  @media screen and (max-width: 767px) {
    .desktopOnly {
      display: none !important;
    }
  }
  @media (max-width: 1435px) {
    .btn {
      padding: 0.2rem;
    }
  }

  @media (max-width: 1320px) {
    .collab {
      font-size: 2rem;
    }
  }
  @media (max-width: 1175px) {
    .collab {
      font-size: 1.8rem;
    }

    .btn {
      padding: 0.1rem;
    }
  }

  @media (max-width: 405px) {
    .collab {
      font-size: 1.2rem;
    }

    .btn {
      padding: 0.1rem;
      margin-top: 0 !important;
    }
  }
</style>
