---
import logo from "../images/logo.png";
import blackCircle from "../images/blackcircle.png";
import whiteCircle from "../images/whitecircle.png";
import calllogo from "../images/calllogo.png";
import logoSvg from "../images/logoSvg.svg";
import modalCross from "../images/modalCross.png";
import headerBG from "../images/headerBG.png";
import instaLogo from "../images/instaLogo.png";
import linkedinlogo from "../images/linkedinLogo.png";
import twitterLogo from "../images/twitterLogo.png";
import fbLogo from "../images/fbLogo.png";
import whatsappLogo from "../images/whatsappLogo.png";
---

<header class="turnBlack">
  <div class="d margins">
    <nav class="main d-inline-flex">
      <div class="logo">
        <a href="/">
          <svg
            class="logoSizing"
            width="44"
            height="48"
            viewBox="0 0 44 48"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M27.8125 47.4504C27.8125 31.7498 27.8125 16.0492 27.8125 0.348633C33.1525 0.348633 38.4469 0.348633 43.8326 0.348633C43.8326 4.04558 43.8326 7.74252 43.8326 11.4851C42.2351 11.4851 40.6833 11.4851 39.0403 11.4851C39.0403 19.7462 39.0403 27.9616 39.0403 36.2683C40.6377 36.2683 42.1895 36.2683 43.8326 36.2683C43.8326 40.0109 43.8326 43.7078 43.8326 47.4504C38.4926 47.4504 33.1982 47.4504 27.8125 47.4504Z"
              fill="currentColor"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M13.8828 47.4504C13.8828 31.7498 13.8828 16.0492 13.8828 0.348633C17.5798 0.348633 21.3223 0.348633 25.0649 0.348633C25.0649 16.0492 25.0649 31.7498 25.0649 47.4504C21.3223 47.4504 17.6254 47.4504 13.8828 47.4504Z"
              fill="currentColor"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M11.1365 47.4508C7.43953 47.4508 3.74258 47.4508 0 47.4508C0 37.5466 0 27.6424 0 17.7383C3.69694 17.7383 7.39389 17.7383 11.1365 17.7383C11.1365 27.6424 11.1365 37.5466 11.1365 47.4508Z"
              fill="currentColor"></path>
          </svg>
        </a>
      </div>
      <div class="list onlyDesk">
        <ul class="d-inline-flex">
          <li class="paddingsLi"><a class="navTabs" href="/">Home</a></li>
          <li class="paddingsLi">
            <a class="navTabs" href="/portfolio/">Our Work</a>
          </li>
          <li><a class="navTabs" href="">Solutions</a></li>
          <li><a class="navTabs" href="/hiring/">Career</a></li>
        </ul>
      </div>
      <div class="contact-div btn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="140"
          height="64"
          viewBox="0 0 183 64"
          fill="none"
        >
          <rect
            class="oval"
            x="0.921875"
            y="0.517578"
            width="181.597"
            height="63.2451"
            rx="31.6226"
            fill="currentColor"></rect>
          <path
            class="connect"
            d="M84.1063 38.1084C82.6843 38.1084 81.6163 37.7094 80.9023 36.9114C80.1943 36.1134 79.8403 34.9794 79.8403 33.5094V30.7824C79.8403 29.3124 80.1943 28.1814 80.9023 27.3894C81.6103 26.5914 82.6723 26.1924 84.0883 26.1924C84.5443 26.1924 84.9583 26.2344 85.3303 26.3184C85.7083 26.4024 86.0443 26.5104 86.3383 26.6424C86.6323 26.7744 86.8813 26.9124 87.0853 27.0564L87.2113 28.4424C86.8573 28.1904 86.4403 27.9714 85.9603 27.7854C85.4863 27.5934 84.9283 27.4974 84.2863 27.4974C83.3203 27.4974 82.5913 27.7854 82.0993 28.3614C81.6073 28.9314 81.3613 29.7444 81.3613 30.8004V33.4554C81.3613 34.5054 81.6103 35.3214 82.1083 35.9034C82.6063 36.4794 83.3503 36.7674 84.3403 36.7674C84.9763 36.7674 85.5373 36.6744 86.0233 36.4884C86.5153 36.3024 86.9413 36.0744 87.3013 35.8044L87.1753 37.2264C86.9713 37.3704 86.7193 37.5114 86.4193 37.6494C86.1193 37.7874 85.7743 37.8984 85.3843 37.9824C85.0003 38.0664 84.5743 38.1084 84.1063 38.1084ZM92.4788 38.1264C91.2188 38.1264 90.2618 37.7874 89.6078 37.1094C88.9598 36.4254 88.6358 35.4444 88.6358 34.1664V32.8254C88.6358 31.5534 88.9628 30.5784 89.6168 29.9004C90.2708 29.2224 91.2248 28.8834 92.4788 28.8834C93.7388 28.8834 94.6928 29.2224 95.3408 29.9004C95.9948 30.5784 96.3218 31.5534 96.3218 32.8254V34.1664C96.3218 35.4444 95.9948 36.4254 95.3408 37.1094C94.6928 37.7874 93.7388 38.1264 92.4788 38.1264ZM92.4788 36.9384C93.2588 36.9384 93.8498 36.7074 94.2518 36.2454C94.6598 35.7834 94.8638 35.1174 94.8638 34.2474V32.7444C94.8638 31.8804 94.6598 31.2204 94.2518 30.7644C93.8498 30.3024 93.2588 30.0714 92.4788 30.0714C91.7048 30.0714 91.1138 30.3024 90.7058 30.7644C90.2978 31.2204 90.0938 31.8804 90.0938 32.7444V34.2474C90.0938 35.1174 90.2978 35.7834 90.7058 36.2454C91.1138 36.7074 91.7048 36.9384 92.4788 36.9384ZM105.673 37.9014H104.215V32.4384C104.215 31.9644 104.149 31.5564 104.017 31.2144C103.891 30.8724 103.681 30.6084 103.387 30.4224C103.099 30.2304 102.703 30.1344 102.199 30.1344C101.737 30.1344 101.335 30.2214 100.993 30.3954C100.657 30.5694 100.384 30.8064 100.174 31.1064C99.9644 31.4004 99.8174 31.7364 99.7334 32.1144L99.4724 31.0794H99.7874C99.8834 30.6834 100.051 30.3234 100.291 29.9994C100.531 29.6694 100.852 29.4084 101.254 29.2164C101.662 29.0184 102.16 28.9194 102.748 28.9194C103.444 28.9194 104.005 29.0514 104.431 29.3154C104.863 29.5794 105.178 29.9604 105.376 30.4584C105.574 30.9504 105.673 31.5564 105.673 32.2764V37.9014ZM99.7964 37.9014H98.3384V29.1174H99.7964L99.7334 31.2234L99.7964 31.3044V37.9014ZM115.271 37.9014H113.813V32.4384C113.813 31.9644 113.747 31.5564 113.615 31.2144C113.489 30.8724 113.279 30.6084 112.985 30.4224C112.697 30.2304 112.301 30.1344 111.797 30.1344C111.335 30.1344 110.933 30.2214 110.591 30.3954C110.255 30.5694 109.982 30.8064 109.772 31.1064C109.562 31.4004 109.415 31.7364 109.331 32.1144L109.07 31.0794H109.385C109.481 30.6834 109.649 30.3234 109.889 29.9994C110.129 29.6694 110.45 29.4084 110.852 29.2164C111.26 29.0184 111.758 28.9194 112.346 28.9194C113.042 28.9194 113.603 29.0514 114.029 29.3154C114.461 29.5794 114.776 29.9604 114.974 30.4584C115.172 30.9504 115.271 31.5564 115.271 32.2764V37.9014ZM109.394 37.9014H107.936V29.1174H109.394L109.331 31.2234L109.394 31.3044V37.9014ZM121.224 38.0994C119.886 38.0994 118.878 37.7724 118.2 37.1184C117.522 36.4644 117.183 35.5284 117.183 34.3104V32.7444C117.183 31.5084 117.498 30.5574 118.128 29.8914C118.758 29.2194 119.679 28.8834 120.891 28.8834C121.707 28.8834 122.388 29.0364 122.934 29.3424C123.48 29.6424 123.891 30.0714 124.167 30.6294C124.443 31.1874 124.581 31.8534 124.581 32.6274V32.9514C124.581 33.1434 124.572 33.3354 124.554 33.5274C124.542 33.7194 124.524 33.9084 124.5 34.0944H123.159C123.171 33.8064 123.177 33.5334 123.177 33.2754C123.183 33.0174 123.186 32.7804 123.186 32.5644C123.186 32.0304 123.099 31.5804 122.925 31.2144C122.757 30.8424 122.502 30.5604 122.16 30.3684C121.824 30.1704 121.401 30.0714 120.891 30.0714C120.135 30.0714 119.568 30.2904 119.19 30.7284C118.812 31.1664 118.623 31.7934 118.623 32.6094V33.4464L118.632 33.6264V34.4634C118.632 34.8294 118.686 35.1594 118.794 35.4534C118.902 35.7474 119.07 36.0024 119.298 36.2184C119.532 36.4284 119.826 36.5904 120.18 36.7044C120.54 36.8124 120.966 36.8664 121.458 36.8664C122.028 36.8664 122.559 36.7914 123.051 36.6414C123.543 36.4914 124.005 36.2874 124.437 36.0294L124.302 37.2894C123.912 37.5354 123.459 37.7334 122.943 37.8834C122.427 38.0274 121.854 38.0994 121.224 38.0994ZM124.194 34.0944H117.948V32.9964H124.194V34.0944ZM129.883 38.0994C128.623 38.0994 127.684 37.7604 127.066 37.0824C126.454 36.3984 126.148 35.4324 126.148 34.1844V32.8164C126.148 31.5624 126.457 30.5994 127.075 29.9274C127.693 29.2494 128.629 28.9104 129.883 28.9104C130.255 28.9104 130.594 28.9464 130.9 29.0184C131.206 29.0844 131.479 29.1744 131.719 29.2884C131.965 29.3964 132.172 29.5104 132.34 29.6304L132.466 30.8994C132.184 30.6834 131.848 30.5004 131.458 30.3504C131.074 30.2004 130.621 30.1254 130.099 30.1254C129.259 30.1254 128.632 30.3594 128.218 30.8274C127.81 31.2894 127.606 31.9644 127.606 32.8524V34.1484C127.606 35.0184 127.81 35.6874 128.218 36.1554C128.632 36.6234 129.259 36.8574 130.099 36.8574C130.639 36.8574 131.104 36.7824 131.494 36.6324C131.89 36.4824 132.241 36.2994 132.547 36.0834L132.412 37.3704C132.148 37.5504 131.803 37.7184 131.377 37.8744C130.951 38.0244 130.453 38.0994 129.883 38.0994ZM137.569 38.0814C136.891 38.0814 136.345 37.9794 135.931 37.7754C135.517 37.5714 135.217 37.2624 135.031 36.8484C134.845 36.4344 134.752 35.9184 134.752 35.3004V29.7564H136.192V35.1294C136.192 35.7054 136.324 36.1314 136.588 36.4074C136.852 36.6774 137.296 36.8124 137.92 36.8124C138.274 36.8124 138.613 36.7734 138.937 36.6954C139.267 36.6174 139.576 36.5064 139.864 36.3624L139.729 37.6134C139.447 37.7574 139.117 37.8714 138.739 37.9554C138.361 38.0394 137.971 38.0814 137.569 38.0814ZM139.639 30.4134H133.312V29.2434H139.774L139.639 30.4134ZM136.156 29.3874H134.761L134.752 26.9214L136.219 26.7324L136.156 29.3874Z"
            fill="currenrColor"></path>
          <circle
            class="circles"
            opacity="0.1"
            cx="52.6621"
            cy="32.1406"
            r="18.873"
            fill="currentColor"></circle>
          <circle
            class="circles"
            cx="52.6619"
            cy="32.1404"
            r="12.9587"
            fill="currentColor"></circle>
          <path
            class="tele"
            d="M55.2802 37.2513C54.507 37.2341 53.5791 36.8905 52.7142 36.3864C50.5204 35.0977 48.8422 33.3392 47.8914 30.9507C47.5935 30.1947 47.4561 29.4042 47.6336 28.5909C47.7826 27.9036 48.1835 27.4052 48.8365 27.1303C49.3348 26.9184 49.8675 27.0501 50.1882 27.4911C50.5605 27.9952 50.9214 28.5107 51.2708 29.0377C51.6259 29.5761 51.4942 30.2119 50.9729 30.6071C50.8183 30.7274 50.5319 30.8075 50.5319 30.9736C50.5376 31.1455 50.7438 31.323 50.8698 31.4834C51.6717 32.5087 52.5996 33.4137 53.6478 34.1869C53.8025 34.3015 53.8998 34.3187 53.9915 34.1297C54.0545 34.0094 54.1404 33.9063 54.2206 33.8032C54.6101 33.3049 55.2459 33.1903 55.7785 33.5454C56.2941 33.8891 56.8038 34.2442 57.3021 34.6108C57.7546 34.943 57.8806 35.47 57.6687 35.9855C57.3365 36.8103 56.5804 37.2513 55.2802 37.2513Z"
            fill="currentColor"></path>
        </svg>
      </div>
      <button
        class="menu d-flex btn"
        type="button"
        data-bs-target="#exampleModalCenter"
        data-bs-toggle="modal"
      >
        <p>menu</p>
        <span class="s1"></span>
        <span class="s2"></span>
      </button>
    </nav>
  </div>

  <!-- modal  -->
</header>

<div
  class="modal fade modalStyle"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-fullscreen modal-dialog-centered"
    role="document"
  >
    <div class="modal-content">
      <div class="modal-header">
        <a href="/">
          <svg
            class="onlyMob headerLogo"
            width="44"
            height="48"
            viewBox="0 0 44 48"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M27.8125 47.4504C27.8125 31.7498 27.8125 16.0492 27.8125 0.348633C33.1525 0.348633 38.4469 0.348633 43.8326 0.348633C43.8326 4.04558 43.8326 7.74252 43.8326 11.4851C42.2351 11.4851 40.6833 11.4851 39.0403 11.4851C39.0403 19.7462 39.0403 27.9616 39.0403 36.2683C40.6377 36.2683 42.1895 36.2683 43.8326 36.2683C43.8326 40.0109 43.8326 43.7078 43.8326 47.4504C38.4926 47.4504 33.1982 47.4504 27.8125 47.4504Z"
              fill="currentColor"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M13.8828 47.4504C13.8828 31.7498 13.8828 16.0492 13.8828 0.348633C17.5798 0.348633 21.3223 0.348633 25.0649 0.348633C25.0649 16.0492 25.0649 31.7498 25.0649 47.4504C21.3223 47.4504 17.6254 47.4504 13.8828 47.4504Z"
              fill="currentColor"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M11.1365 47.4508C7.43953 47.4508 3.74258 47.4508 0 47.4508C0 37.5466 0 27.6424 0 17.7383C3.69694 17.7383 7.39389 17.7383 11.1365 17.7383C11.1365 27.6424 11.1365 37.5466 11.1365 47.4508Z"
              fill="currentColor"></path>
          </svg>
        </a>
        <div>
          <span class="cloze">Close</span>
          <button
            type="button"
            class="close btn"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <img class="crossImg" src={modalCross} alt="" />
          </button>
        </div>
      </div>
      <div class="modal-body">
        <div class="modalContent">
          <div class="row margBtm">
            <div class="col-lg-4 col-md-4 col-sm-12 mobView">
              <a href="/">
                <span class="index">01</span>
                <span class="titles">Home</span>
              </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 mobView">
              <a href="/about-us/">
                <span class="index">02</span>
                <span class="titles">About us</span>
              </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 mobView">
              <a href="/portfolio/">
                <span class="index">03</span>
                <span class="titles">Solutions</span>
              </a>
            </div>
          </div>

          <div class="row margBtm">
            <div class="col-lg-4 col-md-4 col-sm-12 mobView">
              <a href="">
                <span class="index">04</span>
                <span class="titles">products</span>
              </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 mobView">
              <a href="/portfolio/">
                <span class="index">05</span>
                <span class="titles">Our work</span>
              </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 mobView">
              <a href="/awards/">
                <span class="index">06</span>
                <span class="titles">awards</span>
              </a>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 mobView">
              <a href="/blog-gallery/">
                <span class="index">07</span>
                <span class="titles">articles</span>
              </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 mobView">
              <a href="">
                <span class="index">08</span>
                <span class="titles">Life at iic</span>
              </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 mobView">
              <a href="/hiring/">
                <span class="index">09</span>
                <span class="titles">Career</span>
              </a>
            </div>
            <div class="mobView onlyMob" style="border-bottom: 0 ">
              <a href="">
                <span class="index">10</span>
                <span class="titles">Connect</span>
              </a>
            </div>
          </div>
        </div>
        <div class="row footer">
          <div class="col-4" style="text-align: left;">
            <p class="btmHeading">address</p>
            <span
              class="btmContent"
              style="width: 80%; display:inline-block; line-height:2"
              >Lotus Corporate Park, E-Wing 802 Ram Mandir Lane, Jay Coach
              Junction, off Western Express Highway Goregaon, Mumbai, 400063</span
            >
          </div>
          <div class="col-4" style="text-align: left; padding-left: 7%;">
            <p class="btmHeading">contact</p>
            <p class="btmContent">+91- 83033 85888</p>
            <p class="btmContent">help@iiclab.com</p>
          </div>
          <div class="col-4" style="text-align: left; padding-left:7%;">
            <p class="btmHeading">follow</p>

            <button class="btn iconbtn"
              ><img class="icons" src={instaLogo} alt="" /></button
            >
            <button class="btn iconbtn">
              <img class="icons" src={linkedinlogo} alt="" /></button
            >
            <button class="btn iconbtn"
              ><img class="icons" src={twitterLogo} alt="" />
            </button>
            <button class="btn iconbtn">
              <img class="icons" src={fbLogo} alt="" /></button
            >
            <button class="btn iconbtn">
              <img class="icons" src={whatsappLogo} alt="" /></button
            >
          </div>
        </div>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>

  <style>
    /* modal css */

    .modal-body,
    .modal-header,
    .modal-footer {
      background-color: #1a1a1a;
    }
    .modal-header {
      border: 0 !important;
      padding-right: 6%;
      padding-top: 2%;
    }
    .modal-footer {
      border: 0 !important;
    }

    .modalContent {
      position: absolute !important;
      transform: translate(0, -73%);
      top: 50%;
      left: 15%;
      width: 80%;
    }

    .cloze {
      color: white;
      font-family: "anek devanagari";
      font-size: 0.9vw;
      position: relative;
      left: 8%;
    }

    .index {
      font-family: "anek devanagari";
      color: white;
      opacity: 50%;
      vertical-align: top;
      font-size: 1.2vw;
      margin-right: 2%;
    }
    .titles {
      font-family: "Deutschlander";
      text-transform: uppercase;
      color: white;
      font-size: 6.5vw;
      line-height: 1;
    }
    .btmHeading {
      font-family: "anek devanagari";
      color: white;
      text-transform: uppercase;
      font-size: 1vw;
    }
    .btmContent {
      font-family: "anek devanagari";
      color: white;
      opacity: 60%;
      font-size: 0.9vw;
      font-weight: 300;
    }
    .crossImg {
      width: 2.3vw;
    }

    @media screen and (max-width: 1150px) {
      .btmHeading {
        font-size: 1.2vw !important;
      }
      .btmContent {
        font-size: 1.1vw !important;
      }
    }

    .footer {
      position: absolute;
      bottom: 3%;
      left: 15%;
      width: 73%;
    }
    .icons {
      width: 2.5vw;
    }
    @media screen and (max-width: 1080px) {
      .icons {
        width: 2.2vw !important;
      }
      .iconbtn {
        padding: 0.18rem !important;
      }
    }
    @media screen and (max-width: 880px) {
      .icons {
        width: 2.2vw !important;
      }
      .iconbtn {
        padding: 0.1rem !important;
      }
    }
    .iconbtn {
      padding: 0.2rem;
    }
    /* modal css ends */
    .margins {
      margin-left: 7%;
      margin-right: 7%;
    }
    :root {
      --mainfont-font-family: "Anek Devanagari";
      --maincolor-color: #1a1a1a;
    }

    .main {
      height: 60px;
      width: 100%;
      margin-top: 30px;
      /* border:1px solid black; */
    }
    .main .logo {
      margin-top: 10px;
    }
    .main img {
      height: 40px;
    }
    .main ul {
      list-style: none;
    }
    .list {
    }
    .list ul li {
      padding: 17px;
    }
    .list ul li a {
      text-decoration: none;
      font-family: var(--mainfont-font-family);
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      text-transform: capitalize;
      color: #061b28;
    }
    .navTabs {
      opacity: 50%;
    }

    @media screen and (max-width: 992px) {
      .list ul li {
        padding-left: 8px !important;
        padding-right: 8px !important;
      }
    }

    .contact-div {
      position: relative;
      /* border: 1px solid black; */
      margin-left: auto;
    }

    .menu {
      margin-left: 1.5%;
      margin-top: 0.4%;
    }
    .menu p {
      margin-top: 15px;
      font-weight: 400;
      font-family: var(--mainfont-font-family);
      text-transform: capitalize;
    }
    .menu .s1 {
      border: 1px solid black;
      transform: rotate(90deg);
      height: 25px;
      margin-left: 20px;
      margin-top: 10px;
    }
    .menu .s2 {
      border: 1px solid black;
      transform: rotate(90deg);
      height: 40px;
      margin-top: 10px;
      margin-left: 6px;
    }
    .black {
      background-color: #1a1a1a;
      color: white;
    }
    @media screen and (max-width: 820px) {
      .list ul li a {
        font-size: 1.7vw !important;
      }
    }
    @media screen and (max-width: 768px) {
      .logoSizing {
        width: 7vw !important;
      }
      .menu p {
        font-size: 3vw !important;
      }
      .menu .s1,
      .menu .s2 {
        margin-top: 1.8vw !important;
      }
      .onlyDesk {
        display: none;
      }
      .contact-div {
        display: none;
      }
      .menu {
        position: absolute;
        right: 7%;
      }
      /* mobile view of modal */
      .mobView {
        padding-left: 6% !important;
        padding: 3%;
        border-bottom: 1px solid #464343;
      }
      .mobView:hover,
      .mobView:hover span {
        background-color: #e5ff53;
        color: black !important;
      }
      .modalContent {
        position: initial !important;
        transform: initial !important;
        width: 100% !important;
      }
      .titles {
        font-size: 14vw !important;
      }
      .index {
        font-size: 4vw !important;
        margin-right: 4.5%;
        opacity: 35% !important;
      }
      .footer {
        display: none !important;
      }
      .cloze {
        display: none !important;
      }
      .modal-footer {
        display: none !important;
      }
      .crossImg {
        width: 5.5vw;
      }
      .modal-header {
        padding-left: 6% !important;
        padding-top: 8% !important;
        padding-bottom: 3% !important;
      }
      .headerLogo {
        width: 7vw !important;
      }
    }

    @media screen and (min-width: 768px) {
      .margBtm {
        margin-bottom: 3.2%;
      }
      .onlyMob {
        display: none !important;
      }
    }
    a {
      text-decoration: none !important;
    }

    /* logo css */
    path {
      fill: black;
    }

    /* connect button css */
    .connect,
    .circles {
      fill: white;
    }
    .oval {
      fill: #1a1a1a;
    }

    .tele {
      fill: #061b28;
    }
  </style>
</div>
