---
//import { Image, Picture } from "@astrojs/image/components";
import puase from "../images/pauselogo.png";
import arrow from "../images/arrow.png";
import BannerImg from "../images/bannerImg2.jpg";
import hand2 from "../images/hand-2.png";
import ovalArrow from "../images/ovalArrow.png";
import vector from "../images/Vector.png";
import hefty from "../images/hefty.png";
import circleHand from "../images/circleHand.png";
import diamond from "../images/diamond.png";
import awardsNew from "../images/awardsNew.jpg";
import mask from "../images/IIC-Exclude.svg";
import viewAllAwards from "../images/viewAllAwards.png";
import vVerse from "../images/vVerse.png";
import vTour from "../images/vTour.png";
import vRetail from "../images/vRetail.png";
import vStages from "../images/vStages.png";
import vConference from "../images/vConference.png";
import toolsArrow from "../images/toolsArrow.png";
import solnImg1 from "../images/solnImg1.png";
import solnImg2 from "../images/solnImg2.png";
import solnImg3 from "../images/solnImg3.png";
import solnImg4 from "../images/solnImg4.png";
import solnImg5 from "../images/solnImg5.png";
import solnImg6 from "../images/solnImg6.png";
import fwViewAll from "../images/fwViewAll.png";
import f1Logo from "../images/f1Logo.png";
import testimonialImg from "../images/testimonialImg.png";
import carousalNext from "../images/carousalNext.png";
import carousalPrev from "../images/carousalPrev.png";
import { contentfulClient } from "../lib/contentful";
import close from "../images/close.png";
import heroHand from "../images/heroHand.png";
import redirectToWork from "../images/redirectToWork.png";

const entries: any = await contentfulClient.getEntries<any>({
  content_type: "caseStudy",
});
const clientsEntries = await contentfulClient.getEntries<any>({
  content_type: "clients",
});
const images = clientsEntries.items[0].fields.clientIcons;

const imagesPerArray = 5;
const numArrays = Math.ceil((images as []).length / imagesPerArray);

const splitArrays = [];
for (let i = 0; i < numArrays; i++) {
  const startIndex = i * imagesPerArray;
  const endIndex = startIndex + imagesPerArray;
  const splitArray = (images as []).slice(startIndex, endIndex);
  splitArrays.push(splitArray);
}
console.log(splitArrays);
const testimonials: any = await contentfulClient.getEntries<any>({
  content_type: "clientsTestimonials",
});
---

<section class="margins animate-topSection">
  <div class="topDiv" style="padding-top: 9%;">
    <div id="main" class="d-flex">
      <div class="head1 animateHeading">
        <span class="head1Span">Humanizing Tech</span>
      </div>
      <div class="animateHand">
        <img class="" src={heroHand} alt="" />
      </div>
    </div>
    <div class="d-flex" id="main2" style="margin-bottom: 2%;">
      <div id="div1" class="paraDiv">
        <span class="para para1"
          >IIC is a full-service MarTech Agency that helps brands design
          scalable experiential marketing campaigns harnessing Interactive
          Technology, Augmented Reality, Virtual Reality, Metaverse & Content
          Development solutions.</span
        >
      </div>
      <div class="head2 animateHeading">
        <span>Through Design</span><br />
        <p class="mobPara">
          IIC is a full-service MarTech Agency that helps brands design scalable
          experiential marketing campaigns harnessing Interactive Technology,
          Augmented Reality, Virtual Reality, Metaverse & Content Development
          solutions.
        </p>
      </div>
    </div>
    <!-- <lottie-player
      src="../../src/playAnimation.json"
      background="transparent"
      speed="1"
      style="width: 300px; height: 300px;"
      loop
      autoplay></lottie-player> -->

    <div class="d-flex" id="main3">
      <a
        href="#myModal"
        data-bs-target="#myModal"
        data-bs-toggle="modal"
        data-src="https://www.youtube.com/embed/NFWSFbqL0A0"
        class="pause showreelBtn"
        aria-label="showreel"
      >
        <img
          src={puase}
          alt=""
          class=""
          style="margin-left: 15px; margin-top:10px"
        />
      </a>
      <a
        href="#myModal"
        data-bs-target="#myModal"
        data-bs-toggle="modal"
        data-src="https://www.youtube.com/embed/NFWSFbqL0A0"
        style="margin-top: auto;"
        aria-label="showreel"
      >
        <span id="s1">Watch Showreel</span>
        <span id="s2"></span>
      </a>

      <div id="div2">
        <a href="#knowMore" aria-label="know more">
          <span id="s3">Know More <img src={arrow} alt="" class="" /></span>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="mainImg" style="margin-top:1%; margin-bottom
:1%;">
  <img src={BannerImg} alt="" style="height:100%;width:100%; " class="" />
</section>

<section>
  <div class="container">
    <div
      id="main4"
      class="animate-tagline panel"
      style="display:flex;width:max-content"
    >
      <span>Deduce</span>
      <div style="text-align: center; margin:15vw 3vw 0vw 3vw">
        <img style="width:5vw" class="" src={diamond} alt="" />
      </div>

      <span>Engage</span>
      <div style="text-align: center; margin:15vw 3vw 0vw 3vw">
        <img style="width:5vw" class="" src={diamond} alt="" />
      </div>

      <span>Enable</span>

      <!-- <span>Deduce</span>
      <div style="text-align: center; margin:11.5vw 3vw 0vw 3vw">
        <img style="width:5vw" class="" src={diamond} alt="" />
      </div><span>Engage</span>
      <div style="text-align: center; margin:11.5vw 3vw 0vw 3vw">
        <img style="width:5vw" class="" src={diamond} alt="" />
      </div><span>Enable &nbsp; &nbsp;</span>
      <span>Deduce</span>
      <div style="text-align: center; margin:11.5vw 3vw 0vw 3vw">
        <img style="width:5vw" class="" src={diamond} alt="" />
      </div><span>Engage</span>
      <div style="text-align: center; margin:11.5vw 3vw 0vw 3vw">
        <img class="" style="width:5vw" src={diamond} alt="" />
      </div><span>Enable &nbsp;&nbsp;</span>
      <span>Deduce</span>
      <div style="text-align: center; margin:11.5vw 3vw 0vw 3vw">
        <img style="width:5vw" class="" src={diamond} alt="" />
      </div><span>Engage</span>
      <div style="text-align: center; margin:11.5vw 3vw 0vw 3vw">
        <img style="width:5vw" class="" src={diamond} alt="" />
      </div><span>Enable &nbsp;&nbsp;</span>
      <span>Deduce</span>
      <div style="text-align: center; margin:11.5vw 3vw 0vw 3vw">
        <img style="width:5vw" class="" src={diamond} alt="" />
      </div><span>Engage</span>
      <div style="text-align: center; margin:11.5vw 3vw 0vw 3vw">
        <img style="width:5vw" class="" src={diamond} alt="" />
      </div><span>Enable &nbsp;&nbsp;</span>
    </div> -->
    </div>
  </div>

  <section id="knowMore">
    <div id="main5" class="d-flex">
      <div class="giantHolder-animate" id="div1">
        <img class="" src={hand2} alt="" />
      </div>
      <div id="div2">
        <div>
          <span>Giants Trust Us.</span>
          <img
            src={ovalArrow}
            alt=""
            class=""
            style="width:18%; margin-bottom: 9%; display:none"
          />
        </div>
      </div>
    </div>
  </section>

  <section class="wrapper">
    <div class="giants" style="margin-left: 12%; overflow:hidden">
      <tr>
        {
          (splitArrays[0] as any).map((clients, index) => (
            <div class="imgRow clientArray1">
              <td class="img ">
                <img class="imgs  " src={clients.fields?.file.url} alt="" />
              </td>
            </div>
          ))
        }
        {
          (splitArrays[1] as any).map((clients, index) => (
            <div class="imgRow clientArray2">
              <td class="img">
                <img class="imgs  " src={clients.fields?.file.url} alt="" />
              </td>
            </div>
          ))
        }
        {
          (splitArrays[2] as any).map((clients, index) => (
            <div class="imgRow clientArray3">
              <td class="img">
                <img class="imgs  " src={clients.fields?.file.url} alt="" />
              </td>
            </div>
          ))
        }
        {
          (splitArrays[3] as any).map((clients, index) => (
            <div class="imgRow clientArray4">
              <td class="img">
                <img class="imgs  " src={clients.fields?.file.url} alt="" />
              </td>
            </div>
          ))
        }
      </tr>

      <br />
    </div>
  </section>

  <section
    class="wrapper"
    style="background-color: #1a1a1a; border-radius: 5vw; padding-left: 9%; padding-top: 1.5%; margin-top:7%"
  >
    <div class="d-flex">
      <span class="our our1">OUR &nbsp;</span>
      <span class="solutions solutions1"> SOLUTIONS.</span>
      <span class="blackPara"
        >Creating storied growth through customized solutions to match
        individual Brand needs</span
      >
      <a href="/solutions/" class="solutionAnchor" aria-label="view all"
        ><div class="yellowCircle"><span class="view">VIEW ALL</span></div></a
      >
    </div>
    <div class="mobBlackPara">
      <p>
        Flaring storied growth through customized solutions to match individual
        Brand needs
      </p>
    </div>

    <div class="onlyDesktop">
      <table>
        <tbody>
          <tr class="hover" style="border-top: 1.15px solid rgb(63, 63, 63);">
            <td class="index">01.</td>
            <td class="tech"> Immersive Technology</td>

            <td>
              <ul class="trial">
                <img src={solnImg1} class="trial2" alt="" />
                <li class="list">Metaverse</li>
                <li class="list">Virtual reality</li>
                <li class="list">Augmented reality</li>
                <li class="list">Projection mapping</li>
                <li class="list">Holographic Technology</li>
              </ul>
            </td>
            <td>
              <a href="/solution-details"
                ><div class="onHover">
                  <img class="table solutionArrow" src={vector} alt="" />
                </div></a
              >
            </td>
            <!-- <td>Data 4</td> -->
          </tr>
          <tr class="hover">
            <td class="index">02.</td>
            <td class="tech">Experiential Marketing</td>
            <td>
              <ul class="trial">
                <img src={solnImg5} class="trial2" alt="" />
                <li class="list">Gesture Recognition</li>
                <li class="list">Motion Capture</li>
                <li class="list">Interactive Tech-led Campaigns</li>
                <li class="list">IoT/Custom Solutions</li>
                <li class="list">PhotoBooth</li>
                <li class="list">Kiosk/Vending Machine</li>
                <li class="list">Multi-traction Tables</li>
              </ul></td
            >
            <td>
              <a href="/solution-details#experiential">
                <div class="onHover">
                  <img class="table solutionArrow" src={vector} alt="" />
                </div></a
              ></td
            ></tr
          >

          <tr class="hover">
            <td class="index">03.</td>
            <td class="tech">Interactive Solution</td>
            <td>
              <ul class="trial">
                <img src={solnImg2} class="trial2" alt="" />
                <li class="list">Interactive Wall/Screen</li>
                <li class="list">Interactive Table/Interactive Book</li>
                <li class="list">3D Configurators</li>
                <li class="list">Object Recognition Table</li>
              </ul></td
            >
            <td>
              <a href="/solution-details"
                ><div class="onHover">
                  <img class="table solutionArrow" src={vector} alt="" />
                </div></a
              ></td
            >
          </tr>
          <tr class="hover">
            <td class="index">04.</td>
            <td class="tech">Mobile & Web</td>
            <td>
              <ul class="trial">
                <img src={solnImg3} class="trial2" alt="" />
                <li class="list">Web Development</li>
                <li class="list">App Development</li>
                <li class="list">Gaming Solutions</li>
              </ul></td
            >
            <td>
              <a href="/solution-details"
                ><div class="onHover">
                  <img class="table solutionArrow" src={vector} alt="" />
                </div></a
              ></td
            >
          </tr>

          <tr class="hover">
            <td class="index">05.</td>
            <td class="tech">Content Development</td>
            <td>
              <ul class="trial">
                <img src={solnImg4} class="trial2" alt="" />
                <li class="list">3D/2D Animations</li>
                <li class="list">Motion Graphics</li>
                <li class="list">Architectural Visualization</li>
                <li class="list">Expainer Videos</li>
                <li class="list">Anamorphic Content</li>
              </ul></td
            >
            <td>
              <a href="/solution-details"
                ><div class="onHover">
                  <img class="table solutionArrow" src={vector} alt="" />
                </div></a
              ></td
            >
          </tr>

          <tr class="hover">
            <td class="index">06.</td>
            <td class="tech">Strategy & Design</td>
            <td class="">
              <ul class="trial">
                <img src={solnImg6} class="trial2" alt="" />
                <li class="list">Scenario Mapping Brand Audits</li>
                <li class="list">Brand Identity</li>
                <li class="list">Competitor Mapping</li>
                <li class="list">Graphic Design & Prototype</li>
              </ul></td
            >
            <td>
              <a href="/solution-details"
                ><div class="onHover">
                  <img class="table solutionArrow" src={vector} alt="" />
                </div></a
              ></td
            >
          </tr>
        </tbody>
      </table>
    </div>

    <div class="mobSolutionsDiv" style="margin-bottom: 6%">
      <div class="mobSolutions">
        <div class="row">
          <div style="margin-bottom: 4.3%;" class="col-10 d-flex">
            <div class="mobIndex">01.</div>
            <div class="mobTech">Immersive Technology</div>
          </div>
          <div class="col-2">
            <img
              class="table1"
              style="width:1.3rem; height:1.3rem; "
              src={vector}
              alt=""
            />
          </div>
        </div>
        <div class="row">
          <div class="col-5">
            <img class="mobImg" src={solnImg1} alt="" />
          </div>
          <div class="col-7 mobList">
            <li>Metaverse</li>
            <li>Virtual Reality</li>
            <li>Augmented Reality</li>
            <li>Projection Mapping</li>
            <li>Holographic Technology</li>
          </div>
        </div>
      </div>
      <div class="mobSolutions">
        <div class="row">
          <div style="margin-bottom: 4.3%;" class="col-10 d-flex">
            <div class="mobIndex">02.</div>
            <div class="mobTech">Experiential Marketing</div>
          </div>
          <div class="col-2">
            <img
              class="table1"
              style="width:1.3rem; height:1.3rem; "
              src={vector}
              alt=""
            />
          </div>
        </div>
        <div class="row">
          <div class="col-5">
            <img class="mobImg" src={solnImg5} alt="" />
          </div>
          <div class="col-7 mobList">
            <li>Gesture Recognition</li>
            <li>Motion Capture</li>
            <li>Interactive Tech-led Campaigns</li>
            <li>IoT/Custom Solutions</li>
            <li>PhotoBooth</li>
            <li>Kiosk/Vending Machine</li>
            <li>Multi-traction Tables</li>
          </div>
        </div>
      </div>

      <div class="mobSolutions">
        <div class="row">
          <div style="margin-bottom: 4.3%;" class="col-10 d-flex">
            <div class="mobIndex">03.</div>
            <div class="mobTech">Interactive Solutions</div>
          </div>
          <div class="col-2">
            <img
              class="table1"
              style="width:1.3rem; height:1.3rem; "
              src={vector}
              alt=""
            />
          </div>
        </div>
        <div class="row">
          <div class="col-5">
            <img class="mobImg" src={solnImg2} alt="" />
          </div>
          <div class="col-7 mobList">
            <li>Interactive Wall/Screen</li>
            <li>Interactive Table/Interactive Book</li>
            <li>3D Configurators</li>
            <li>Object Recognition Table</li>
          </div>
        </div>
      </div>

      <div class="mobSolutions">
        <div class="row">
          <div style="margin-bottom: 4.3%;" class="col-10 d-flex">
            <div class="mobIndex">04.</div>
            <div class="mobTech">Mobile & Web</div>
          </div>
          <div class="col-2">
            <img
              class="table1"
              style="width:1.3rem; height:1.3rem; "
              src={vector}
              alt=""
            />
          </div>
        </div>
        <div class="row">
          <div class="col-5">
            <img class="mobImg" src={solnImg3} alt="" />
          </div>
          <div class="col-7 mobList">
            <li>Web Development</li>
            <li>App Development</li>
            <li>Gaming Solutions</li>
          </div>
        </div>
      </div>

      <div class="mobSolutions">
        <div class="row">
          <div style="margin-bottom: 4.3%;" class="col-10 d-flex">
            <div class="mobIndex">05.</div>
            <div class="mobTech">Content Development</div>
          </div>
          <div class="col-2">
            <img
              class="table1"
              style="width:1.3rem; height:1.3rem; "
              src={vector}
              alt=""
            />
          </div>
        </div>
        <div class="row">
          <div class="col-5">
            <img class="mobImg" src={solnImg4} alt="" />
          </div>
          <div class="col-7 mobList">
            <li>3D/2D Animation</li>
            <li>Motion Graphics</li>
            <li>Architectural Visualisation</li>
            <li>Explainer Videos</li>
            <li>Anamorphic Content</li>
          </div>
        </div>
      </div>

      <div class="mobSolutions">
        <div class="row">
          <div style="margin-bottom: 4.3%;" class="col-10 d-flex">
            <div class="mobIndex">06.</div>
            <div class="mobTech">Strategy & design</div>
          </div>
          <div class="col-2">
            <img
              class="table1"
              style="width:1.3rem; height:1.3rem; "
              src={vector}
              alt=""
            />
          </div>
        </div>
        <div class="row">
          <div class="col-5">
            <img class="mobImg" src={solnImg6} alt="" />
          </div>
          <div class="col-7 mobList">
            <li>Scenario Mapping Brand Audits</li>
            <li>Brand Identity</li>
            <li>Competitor Mapping</li>
            <li>Graphic Design & Prototype</li>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex" id="featureWork-section">
      <div class="animate-featureWork">
        <p class="our feature">FEATURED</p>
      </div>
      <div style="display:inline" class="featureImg-animate">
        <img class="featureImg" src={hefty} alt="" />
      </div>
      <div style="display:inline; " class="animate-featureWork2">
        <p class="solutions work">&nbsp; WORK.</p>
      </div>

      <div
        class="viewAll-feature"
        style="position: relative;  margin-top: 17.7%; left: 56%;"
      >
        <a href="/portfolio/" aria-label="view all">
          <img
            class="circleHand"
            style="width:13vw; height:8vw; "
            src={circleHand}
            alt=""
          />
        </a>
      </div>

      <a
        href="/portfolio/"
        style="position: relative;  margin-top: 26.5%; left: 19%;"
      >
        <img class="fwViewAll" src={fwViewAll} alt="" /></a
      >

      <!-- <div c
      lass="yellowCircle"> <p class="view">VIEW ALL</p></div>  -->
    </div>

    <div class="d-flex workImg-section" style="width:100%; ">
      {
        entries.items.map((caseStudy, index) => (
          <div class="hoverImg moving-text2">
            <a
              href={"/case-study/" + caseStudy?.fields?.heroTitle}
              aria-label="case study"
            >
              <div class="">
                <img
                  src={caseStudy?.fields?.heroBanner?.fields?.file.url}
                  class="movingImgs  "
                  alt=""
                />
              </div>
              <div class="image-overlay">
                <img src={redirectToWork} alt="" />
                <span
                  class="workName"
                  set:html={caseStudy?.fields?.singleClient}
                />
                <span
                  class="workTech"
                  set:html={caseStudy?.fields?.whichTechnology}
                />
              </div>
            </a>
          </div>
        ))
      }
    </div>
  </section>
  <section style="margin-top: 4.5%;">
    <div
      class="moving-text"
      style="display: flex; overflow:hidden; width:max-content"
    >
      <span class="wallHonor">WALL OF HONOR</span>
      <div style="text-align: center; margin:3vw 3vw 3vw 3vw">
        <img style="width:3.5vw" class="" src={diamond} alt="" />
      </div>
      <span class="wallHonor">WALL OF HONOR</span>
      <div style="text-align: center; margin:3vw 3vw 3vw 3vw">
        <img style="width:3.5vw" class="" src={diamond} alt="" />
      </div>
      <span class="wallHonor">WALL OF HONOR</span>
      <div style="text-align: center; margin:3vw 3vw 3vw 3vw">
        <img style="width:3.5vw" class="" src={diamond} alt="" />
      </div>
      <span class="wallHonor">WALL OF HONOR</span>
      <div style="text-align: center; margin:3vw 3vw 3vw 3vw">
        <img style="width:3.5vw" class="" src={diamond} alt="" />
      </div>
      <span class="wallHonor">WALL OF HONOR</span>
    </div>
  </section>

  <section style="margin-top:4%;">
    <img src={awardsNew} alt="" class="" style="height:100%;width:100%; " />
    <a href="/awards/" aria-label="awards">
      <img src={viewAllAwards} alt="" class="viewAllAwards" />
    </a>
  </section>
  <section class="margins" style="margin-top:4%;">
    <div>
      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 mbAwardCat">
          <span>2023 - Media & Entertainment</span>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>India DigiPlus Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 mbAwardCat">
          <span>2023 - Retail & E-Commerce</span>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>Kaleido Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 mbAwardCat">
          <span>2023 - EDCA Tech Provider of the Year</span>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>EDCA Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 mbAwardCat">
          <span>2022 - Best Use of AR/VR (Silver)</span>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>FuTech Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 mbAwardCat">
          <span>2022 - best use of technology (Gold)</span>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>Afaqs Digies Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 mbAwardCat">
          <span>2022 - Best Brand Activation (Gold)</span>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>Marketer's Excellence Awards</span>
        </div>
      </div>

      <div class="row mobAward">
        <div class="col-sm-12 col-md-8 col-lg-8 mbAwardCat">
          <span
            >2022 - Promotion of the Year for Brand Awareness - Digital (Gold)</span
          >
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>WOW Awards asia</span>
        </div>
      </div>

      <div class="row mobAward" style="border-bottom: 0;">
        <div class="col-sm-12 col-md-8 col-lg-8 mbAwardCat">
          <span>2022 - Best Online Promotion (Silver)</span>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 mbAwardName">
          <span class="hifen">~</span>
          <span>Foxglove Awards</span>
        </div>
      </div>
    </div>
  </section>

  <section
    class="wrapper"
    style="background-color: #1a1a1a; border-radius: 5vw 5vw 0 0;  padding-top: 1.5%; margin-top:4%"
  >
    <!-- <div class="d-flex">
    <span class="our">TESTIMONIALS</span>
    <span class="solutions">.</span>
    <span class="blackPara2"
      >Flaring storied growth through customized solutions to match individual
      Brand needs</span
    >
    
  </div> -->
    <div class="row testimAnime-section" style="margin-left: 9%;">
      <div class="col-md-7 col-lg-7 col-sm-12 testim-anime">
        <span class="our testimHead">CLIENT &nbsp;</span>
        <span class="solutions">TESTIMONIALS</span>
      </div>

      <div class="testimText-animate col-md-5 col-lg-5 col-sm-12">
        <span class="blackPara2"
          >Carving inspiring brand success stories through transformative
          MarTech solutions</span
        >
      </div>
    </div>

    <div class="animate-swiper">
      <div style="padding:1.5% 0 5% 0 ; " class="swiper mySwiper">
        <div class="swiper-wrapper">
          {
            testimonials.items.map((clientsTestimonials, index) => (
              <div class="swiper-slide">
                <div class="card-parent">
                  <div class="card-header" style="align-self: center;">
                    <img
                      src={
                        clientsTestimonials?.fields?.companyLogo?.fields?.file
                          .url
                      }
                      style="width: 50%;"
                      alt=""
                      class=" "
                    />
                  </div>

                  <div class="card">
                    <div class="card-body">
                      <div
                        class="card-text"
                        set:html={clientsTestimonials?.fields?.testimonialText}
                      />
                      <div class="d-flex cardFooter">
                        <div style="margin:auto; margin-left:1%">
                          <span
                            class="authName"
                            set:html={clientsTestimonials?.fields?.clientName}
                          />
                          <span
                            class="authDesign"
                            set:html={clientsTestimonials?.fields?.clientInfo}
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            ))
          }
          <div class="swiper-slide">
            <div class="card-parent">
              <div class="card-header">
                <img src={f1Logo} style="width: 50%;" alt="" class="" />
              </div>

              <div class="card">
                <div class="card-body">
                  <div class="card-text">
                    "We've worked with Ink In Caps on some innovative tech
                    projects, in particular the hybrid tour of the Tech Centre
                    of F1 in which they produced a fantastic result that was
                    ultimately approved by F1 as a leading app and solution for
                    them to provide a virtual experience to all of their VIP
                    clients."
                  </div>
                  <div class="d-flex cardFooter">
                    <div style="margin:auto; margin-left:1%">
                      <span class="authName">Nick Moore</span>
                      <span class="authDesign"
                        >Executive Director and Founder of Lionpoint Group</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="card-parent">
              <div class="card-header">
                <img src={testimonialImg} style="width: 50%;" class="" />
              </div>

              <div class="card">
                <div class="card-body">
                  <div class="card-text">
                    “ IIC had the right capability and experience in the AR
                    domain, and I was comfortable awarding them the project to
                    create a B2B visualizer app for my sales and Experience
                    Center The team did an amazing job in understanding our
                    needs, we are delighted with the outcome and are already in
                    talks for the next phase of the solution.”
                  </div>
                  <div class="d-flex cardFooter">
                    <div style="margin:auto; margin-left:1%">
                      <span class="authName"> Aninda Gupta</span>
                      <span class="authDesign"> CMO Gyproc Saint Gobain</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card-parent">
              <div class="card-header">
                <img src={f1Logo} style="width: 50%;" class="" />
              </div>

              <div class="card">
                <div class="card-body">
                  <div class="card-text">
                    "We've worked with Ink In Caps on some innovative tech
                    projects, in particular the hybrid tour of the Tech Centre
                    of F1 in which they produced a fantastic result that was
                    ultimately approved by F1 as a leading app and solution for
                    them to provide a virtual experience to all of their VIP
                    clients."
                  </div>
                  <div class="d-flex cardFooter">
                    <div style="margin:auto; margin-left:1%">
                      <span class="authName">Nick Moore</span>
                      <span class="authDesign"
                        >Executive Director and Founder of Lionpoint Group</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex controls">
          <img class="swiper-prev" src={carousalPrev} />
          <img class="swiper-next" src={carousalNext} />
        </div>

        <div class="swiper-pagination"></div>
      </div>
    </div>

    <div class="d-flex" style="margin-left: 9%; margin-top:7%">
      <div class="ourAnimate-div">
        <p class="our prod1">OUR &nbsp;</p>
      </div>
      <div class="prodImg-animate">
        <img class="prodImg" src={hefty} alt="" />
      </div>
    </div>
    <div class="productAnimate-div">
      <p class="solutions prod2" style=" margin-left: 9%;">PRODUCTS</p>
    </div>
    <div class="product-table-div" style="margin-left: 9%;">
      <table style="width: 90%;">
        <tbody>
          <tr class="product-table">
            <td style="font-family: Anek Devanagari;">1.</td>
            <td style="color:white" class="tools"
              >V-Retail : Leading virtual sales assistant tool</td
            >
            <td style="color:#252525; text-align: end;" class="awardName">
              <img style="width: 7vw;" src={vRetail} class="" /></td
            >
            <td
              ><button class="btn"
                ><img
                  style="width:2.5rem; "
                  class="table"
                  src={toolsArrow}
                  alt=""
                  aria-label="v-retail"
                /></button
              ></td
            >
          </tr>
          <tr class="product-table">
            <td style="font-family: Anek Devanagari;">2.</td>
            <td style="color:white" class="tools"
              >V-Verse : revolutionary metaverse platform by ink in caps</td
            >
            <td style="color:#252525; text-align: end;" class="awardName">
              <img style="width: 7vw; " src={vVerse} class="" /></td
            >
            <td
              ><button class="btn"
                ><img
                  style="width:2.5rem; "
                  class="table"
                  src={toolsArrow}
                  alt=""
                  aria-label="v-verse"
                /></button
              ></td
            >
          </tr>
          <tr class="product-table">
            <td style="font-family: Anek Devanagari;">3.</td>
            <td style="color:white" class="tools"
              >V-tour : India's Leading Virtual Events Platform</td
            >
            <td style="color:#252525; text-align: end;" class="awardName">
              <img style="width: 9vw;" src={vTour} class="" /></td
            >
            <td
              ><button class="btn"
                ><img
                  style="width:2.5rem; "
                  class="table"
                  src={toolsArrow}
                  aria-label="v-tour"
                /></button
              ></td
            >
          </tr>

          <tr class="product-table">
            <td style="font-family: Anek Devanagari;">4.</td>
            <td style="color:white" class="tools"
              >V-stages : stunning Virtual stages for your next virtual event</td
            >
            <td style="color:#252525; text-align: end;" class="awardName">
              <img style="width: 9vw;" src={vStages} alt="" class="" /></td
            >
            <td
              ><button class="btn"
                ><img
                  style="width:2.5rem; "
                  class="table"
                  src={toolsArrow}
                  alt=""
                  aria-label="v-stages"
                /></button
              ></td
            >
          </tr>
          <tr class="product-table">
            <td style="font-family: Anek Devanagari;">5.</td>
            <td style="color:white" class="tools"
              >V-Conference : Virtual Conferencing Solutions for your business</td
            >
            <td style="color:#252525; text-align: end;" class="awardName">
              <img style="width: 11vw;" src={vConference} alt="" class="" /></td
            >
            <td
              ><button class="btn"
                ><img
                  style="width:2.5rem; "
                  class="table"
                  src={toolsArrow}
                  alt=""
                  aria-label="v-conference"
                /></button
              ></td
            >
          </tr>
        </tbody>
      </table>
    </div>

    <!-- <div class="yellowCircle"> <p class="view">VIEW ALL</p></div>  -->
  </section>
  <!-- Video Modal -->

  <div id="myModal" class="modal fade">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="close btn"
            data-bs-dismiss="modal"
            aria-hidden="true"
            aria-label="close"
            ><img class="crossImg" src={close} class="" alt="" /></button
          >
          <h4 class="modal-title">Showreel</h4>
        </div>
        <div class="modal-body">
          <iframe
            width="560"
            height="315"
            id="videoFrame"
            src="https://www.youtube.com/embed/wd0eBI7eXrI"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share "
            allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <!-- video modal ends -->
    <style>
      . {
        height: auto;
      }

      #animation svg g g:nth-child(1) {
        fill: black !important;
      }

      /* deduce engage enable animation */

      .container {
        padding: 10% 0;
        height: 100vh;

        display: flex;
        flex-wrap: nowrap;
      }
      .pin-spacer {
        margin: 0 !important;
      }

      .showreelBtn {
        width: 40px;
        height: 40px;
        border: 1px solid black;
        border-radius: 50%;
        background: black;
        -webkit-animation: glowing 1s ease-in-out infinite alternate;
        -moz-animation: glowing 1s ease-in-out infinite alternate;
        animation: glowing 1s ease-in-out infinite alternate;
      }
      @-webkit-keyframes glowing {
        from {
          box-shadow: 0 0 5px 5px #fff, 0 0 10px 5px #edebeb,
            0 0 15px 5px #edebeb, 0 0 20px 5px #edebeb, 0 0 25px 5px #faf8f7,
            0 0 30px 10px #faf8f7;
        }
        to {
          box-shadow: 0 0 5px 5px #575757, 0 0 10px 5px #edebeb,
            0 0 15px 5px #cfcbca, 0 0 20px 5px #3b3a39, 0 0 25px 5px #cfcbca,
            0 0 30px 10px #faf8f7;
        }
      }

      @keyframes masking {
        0% {
          -webkit-mask-image: radial-gradient(
            circle,
            black 0%,
            rgb(255 255 255 / 0%) 0%
          );
        }

        50% {
          -webkit-mask-image: radial-gradient(
            circle,
            black 10%,
            rgb(255 255 255 / 0%) 0%
          );
        }

        100% {
          -webkit-mask-image: radial-gradient(
            circle,
            black 30%,
            rgb(255 255 255 / 0%) 0%
          );
        }
      }

      .solutionArrow {
        width: 1.7rem;
        height: 1.7rem;
      }
      .animateHand img {
        width: 22vw;
        margin-top: 10%;
      }
      .animateHand {
        margin-left: 3%;
      }
      /* modal css */
      .bs-example {
        margin: 20px;
      }

      .modal-content iframe {
        margin: 0 auto;
        display: block;
      }

      .modal.show .modal-dialog {
        transform: translate(0%, 36%) !important;
      }
      .modal-content {
        width: 100% !important;
      }
      iframe {
        width: 100%;
      }
      .crossImg {
        width: 1vw;
      }
      /*  */
      a {
        text-decoration: none;
      }
      .taglineImg {
        width: 3.5vw;
        margin-bottom: 4.4%;
        vertical-align: sub;
      }
      .image-overlay {
        position: relative;
        top: -18.8%;
        color: white;
        /* backdrop-filter: blur(8px); */
        background: rgba(0, 0, 0, 0.7);

        padding: 7% 0 7% 9%;

        opacity: 0;
        border-radius: 0 0 4vw 4vw;
      }
      .image-overlay img {
        width: 16%;
        position: absolute;
        left: 82%;
        bottom: 70%;
      }
      .hoverImg:hover .image-overlay {
        opacity: 1;
      }
      .hoverImg {
        margin-right: 2%;
      }
      .solutionAnchor {
        position: relative;
        left: 13%;
        margin-top: 7%;
      }
      .workName {
        font-family: "anek devanagari";
        font-size: 1.95vw;
        font-weight: 500;
        line-height: 1;
        display: block;
        text-transform: capitalize;
      }
      .workTech {
        font-family: "anek devanagari";
        font-size: 1.6vw;
        font-weight: 200;
        display: block;
        text-transform: capitalize;
      }
      .margins {
        margin-left: 7%;
        margin-right: 7%;
      }
      body {
        overflow-x: hidden;
      }
      svg {
        margin-top: 6vw;
        width: 16vw;
        margin-left: 8%;
      }
      .para1 {
        font-size: 1.4vw !important;
        line-height: 1.9;
      }

      /* .table{
    margin: 40px;
  } */

      /* table css */

      table {
        width: 91%;

        /* margin-right: 20%; */
        border-collapse: collapse;
      }

      .tech {
        color: white;
        font-family: "Deutschlander";
        font-style: normal;
        font-weight: 400;
        font-size: 3.5vw;
        letter-spacing: 0.04rem;
        src: local("Deutschlander"), url("/Deutschlander.woff") format("woff");
        padding-right: 0 !important;
        word-spacing: 0.2rem;
      }

      table td {
        padding: 10px;
        font-size: calc(16px + 0.390625vw);
        text-align: left;
        color: white;
        /* border: 1px solid black; */
      }

      table tr {
        border-bottom: 1.15px solid rgb(63, 63, 63);
      }
      .onHover {
        padding-left: 24%;
      }

      table .hover {
        position: relative;
        z-index: 1;
      }
      table .hover:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: scaleY(0);
        transform-origin: bottom center;
        background: rgb(62, 61, 61);
        z-index: -1;
        transition: transform 0.6s;
      }

      table .hover:hover::after {
        transform: scaleY(1);
      }
      table .hover:hover .solutionArrow {
        filter: invert(1);
        width: 1.5rem;
        height: 1.5rem;
      }
      table .hover:hover .onHover {
        background-color: #e5ff53;

        padding-top: 20%;
        border-radius: 0 0.5vw 0 0.5vw;
        margin-right: 15%;
      }

      .img {
        margin: 10%;
      }
      .imgs {
        width: 100%;
        margin: 1.2%;
      }
      .imgs:hover {
        filter: drop-shadow(2px 4px 4px black);
      }
      .imgRow {
        width: 15%;
        display: inline-block;
        margin: 1%;
      }

      .our {
        color: white;
        font-family: "Deutschlander";
        font-style: normal;
        font-weight: 400;
        font-size: 12.5vw;
        src: local("Deutschlander"), url("/Deutschlander.woff") format("woff");
      }
      .solutions {
        color: #e5ff53;
        font-family: "Deutschlander";
        font-style: normal;
        font-weight: 400;
        font-size: 12.5vw;
        src: local("Deutschlander"), url("/Deutschlander.woff") format("woff");
      }
      .movingImgs {
        display: block;
        width: 100%;
        aspect-ratio: 4/5;
        object-fit: cover;
        width: 25vw;
        border-radius: 0 4vw 4vw 4vw;
      }

      .blackPara {
        font-family: Anek Devanagari;
        font-size: 1.3vw;
        font-weight: 300;
        line-height: 2.35vw;
        letter-spacing: 0px;
        width: 24%;
        color: white;
        opacity: 75%;
        margin-left: 5.8%;
        margin-top: 8%;
        /* text-align: left; */
      }
      .blackPara2 {
        font-family: Anek Devanagari;
        font-size: 1.5vw;
        font-weight: 300;
        line-height: 2.35vw;
        letter-spacing: 0px;
        width: 80%;
        color: white;
        opacity: 75%;
        margin-top: 19%;
        display: inline-block;

        /* text-align: left; */
      }

      .yellowCircle {
        border-radius: 100%;
        height: 6.75vw;
        width: 6.75vw;
        background-color: #e5ff53;

        padding: 2.4vw 1vw 0% 1.39vw;
      }
      .yellowCircle2 {
        border-radius: 100%;
        height: 6.75vw;
        width: 6.75vw;
        background-color: #e5ff53;
        /* margin-top: 8%; */
        margin-left: 3%;
        padding: 2.4vw 1vw 0% 1.39vw;
        position: absolute;
        right: 12vw;
      }
      .view {
        font-family: Deutschlander;
        font-size: 2.2vw;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: center;
        /* position: fixed; */
      }
      .view2 {
        font-family: Deutschlander;
        font-size: 2.2vw;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: center;
      }

      .list {
        font-size: 1.11vw;
        opacity: 67%;
        font-weight: 300;
        margin-bottom: 3px;
        font-family: anek devanagari;
      }
      .index {
        font-family: Anek Devanagari;
        font-size: 1.5vw;
      }
      .head1 {
        font-family: "Deutschlander";
        text-transform: uppercase;
        font-size: 15vw;
        font-weight: 400;
        font-style: normal;
        overflow: hidden;
        line-height: 1;

        /* padding-top: 2%; */
      }

      #main #div2 img {
        width: 20vw;
      }
      #main #div2 {
        padding-left: 3%;
      }
      #main2 #div1 {
        width: 37vw;
      }
      .paraDiv .para {
        font-family: "Anek Devanagari";
        text-align: justify;
        word-spacing: 0.2rem;
      }
      #main2 #div2 {
        margin-left: 20px;
      }
      .head2,
      .wallHonor {
        font-family: "Deutschlander";
        font-size: 13vw;
        text-transform: uppercase;
        line-height: 11vw;
      }
      #main3 #div2 {
        margin-top: auto;
      }
      #s1 {
        font-family: "Anek Devanagari";
        font-size: 1.4rem;
        margin-left: 15px;
        text-transform: uppercase;
      }
      #s2 {
        border-right: 1px solid black;
        margin-left: 15px;
      }
      #main3 #div2 #s3 {
        font-family: "Anek Devanagari";
        font-size: 1.4rem;
        margin-left: 15px;
        text-transform: uppercase;
      }
      #main4 span {
        font-family: "Deutschlander";
        padding: 3vw;
        font-size: 32vw;
        text-transform: uppercase;
        line-height: 1;
      }
      #main5 {
        position: relative;
        display: inline-flex;
      }
      #main5 #div1 img {
        height: 11vw;
        width: auto;
      }
      #main5 #div2 {
        position: relative;
        margin-top: 2%;
        right: 3.6%;
      }
      #main5 #div2 span {
        font-family: "Deutschlander";
        text-transform: uppercase;
        font-size: 11vw;
      }

      .para {
        opacity: 75%;
      }
      .strong {
        opacity: 100% !important;
      }

      .moving-text {
        animation: move-text 60s linear infinite;
      }

      .moving-text2 {
        animation: move-text2 45s linear infinite;
      }
      .wrapper {
        overflow-x: hidden;
      }
      .featureImg {
        width: 13vw;
        height: 8vw;
      }
      .featureImg-animate {
        margin-top: 17.3%;
        margin-left: -24%;
      }
      .prodImg {
        width: 13vw;
        height: 8vw;
        margin-top: 5%;
      }

      @media screen and (max-width: 1300px) {
        #main2 #div1 span {
          font-size: 1.05rem;
          font-family: "Anek Devanagari";
          text-align: justify;
        }
        svg {
          margin-top: 4vw;
        }
      }

      @media screen and (max-width: 1000px) {
        svg {
          margin-top: 2vw;
        }
      }

      @media screen and (max-width: 860px) {
        svg {
          margin-top: 0vw;
        }
      }

      @keyframes move-text {
        0% {
          transform: translateX(15%);
        }
        100% {
          transform: translateX(-100%);
        }
      }
      @keyframes move-text2 {
        0% {
          transform: translateX(100%);
        }
        100% {
          transform: translateX(-2000%);
        }
      }

      /* Award Table css */

      .awardsTable {
        border-bottom: 1.15px solid hsl(60, 1%, 84%);
      }
      .awardCtg,
      .awardName {
        font-family: "Anek Devanagari";
        font-style: normal;
        font-weight: 600;
        font-size: 1vw;
        line-height: 300%;

        text-transform: capitalize;

        color: #252525;

        opacity: 0.9;
      }
      .tools {
        font-family: "Anek Devanagari";
        font-style: normal;
        font-weight: 500;
        font-size: calc(16px + 0.390625vw);

        text-transform: capitalize;

        color: #252525;
        word-spacing: 0.2rem;
      }

      .viewAllAwards {
        width: 10.5vw;
        position: absolute;
        z-index: 1000;
        right: 10%;
        margin-top: 25%;
      }
      .trial {
        position: relative;
        margin-top: 3%;
        z-index: 1;
      }
      .trial2 {
        position: absolute;
        object-fit: cover;
        transform: translateX(-50%) translateY(-50%);
        top: 50%;
        left: 50%;
        z-index: -10;
        opacity: 0;
        visibily: hidden;
        pointer-events: none;
      }
      @media screen and (min-width: 1300px) {
        .trial2 {
          scale: 1.35 !important;
        }
      }
      @media screen and (min-width: 1100px) {
        .trial2 {
          scale: 1.2 !important;
        }
      }

      /* cards css */

      .card-parent {
        width: 26rem;
      }

      .card-body {
        margin-top: 10%;
        padding-left: 6% !important;
      }

      .card-header {
        background-color: #e5ff53;
        width: 75%;
        text-align: center;
        position: relative;
        padding: 4% 0%;
      }

      .card {
        background-color: white;
        border-radius: 0%;
      }
      .card-text {
        font-family: "anek devanagari";
        /* margin-bottom: 12%; */
        height: 16vw;
        font-size: 0.95vw;
        word-spacing: 0.05vw;
      }

      .authorImg {
        width: 17%;
        height: 17%;
        border-radius: 50%;
        margin: 0;
      }

      .authName,
      .authDesign {
        display: block;
        font-family: "anek devanagari";
      }
      .authName {
        font-size: 1.05rem;
        font-weight: 600;
      }
      .authDesign {
        opacity: 50%;
        font-size: 0.95rem;
      }

      @media screen and (max-width: 1120px) {
        .authName {
          font-size: 0.9rem;
        }
        .authDesign {
          font-size: 0.8rem;
        }
        .cardFooter {
          margin-top: 5%;
        }
      }

      @media screen and (max-width: 1010px) {
        .authName {
          font-size: 0.8rem;
        }
        .authDesign {
          font-size: 0.65rem;
        }
        .cardFooter {
          margin-top: 8%;
        }
      }
      @media screen and (max-width: 910px) {
        .authName {
          font-size: 0.6rem;
        }
        .authDesign {
          font-size: 0.55rem;
        }
        .cardFooter {
          margin-top: 9%;
        }
        .card-body {
          padding: 0.8rem 0.8rem 0.2rem 0.8rem !important;
        }
      }

      @media screen and (max-width: 767px) {
        .authName {
          font-size: 1.7vw;
        }
        .authDesign {
          font-size: 1.2vw;
        }
        .card-body {
          padding-bottom: 5% !important;
        }
      }

      @media screen and (max-width: 675px) {
        .cardFooter {
          margin-top: 13%;
        }
      }

      @media screen and (max-width: 625px) {
        .cardFooter {
          margin-top: 20%;
        }
      }
      @media screen and (max-width: 560px) {
        .cardFooter {
          margin-top: 23%;
        }
        .card-body {
          padding: 0.5rem 0.5rem 0.2rem 0.5rem !important;
        }
      }
      .swiper {
        width: 100%;
      }

      .swiper-slide {
        /* text-align: center; */
        /* font-size: 18px; */
        background: #1a1a1a;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      /* .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */
      .swiper-next,
      .swiper-prev {
        width: 6%;
      }
      .swiper-prev {
        margin-right: 4%;
      }
      .controls {
        transform: translate(42%, 75%);
      }

      /* mobile view css */
      @media screen and (min-width: 768px) {
        .animate-featureWork2 {
          margin-top: 17%;
        }
        .head1 {
          margin-top: auto;
        }
        .head2 {
          margin-left: 2.4%;
          font-size: 15vw;
        }
        .mobPara,
        .mobBlackPara {
          display: none;
        }
        .mobSolutions {
          display: none;
        }
        .mobSolutionsDiv {
          margin-bottom: 1% !important;
        }
        .fwViewAll {
          display: none;
        }
        .mbAwardName {
          text-align: end;
        }
        .mobAward {
          padding-bottom: 2%;
          border-bottom: 1.5px solid #c6c4c4;
          padding-top: 2%;
          margin-right: 3%;
          margin-left: 0.5%;
        }
        .mbAwardCat,
        .mbAwardName {
          font-family: "anek devanagari";
          font-size: 1.35vw;
          font-weight: 600;
          letter-spacing: 0.025vw;
        }

        .mbAwardName span,
        .mbAwardCat span {
          text-transform: capitalize;
          color: #252525;
        }
        .hifen {
          display: none;
        }
        .work {
          line-height: 0.8;
        }
        .ourAnimate-div {
          margin-bottom: 5%;
        }
        .prod1 {
          line-height: 0.75;
        }
        .prod2 {
          line-height: 0.8;
          margin-top: -5.5%;
        }
        .prodImg {
          margin-top: 0.5%;
        }
      }
      @media screen and (max-width: 767px) {
        .animateHand img {
          display: none;
        }
        .animate-featureWork2 {
          margin-top: 22%;
        }
        .animate-featureWork2:before {
          top: 20% !important;
        }
        .work {
          line-height: 0.8;
        }
        .crossImg {
          width: 2.5vw;
        }
        /* #main4 span {
        font-size: 14rem;
      } */
        .card-text {
          font-size: 1.7vw !important;
          height: 26vw;
        }
        .paraDiv {
          display: none;
        }
        #main2 #div2 {
          margin-left: 0;
        }
        .topDiv {
          padding-top: 0 !important;
        }
        .head1 {
          font-size: 20vw;
          line-height: normal;
        }
        .head2 {
          font-size: 20vw;
        }
        svg {
          display: none;
        }
        .head1 {
          margin-top: 6%;
        }

        .solutionAnchor {
          margin-top: 5%;
        }

        .mobPara {
          font-family: "anek devanagari";
          margin-top: 5%;
          font-size: 3.4vw;
          opacity: 80%;
          line-height: 1.9;
          text-transform: capitalize;
        }
        #s1 {
          font-size: 1.2rem;
        }
        #main3 #div2 #s2 {
          margin-left: 2px;
        }
        #main3 #div2 #s3 {
          font-size: 1.2rem;
          margin-left: 7px;
        }
        .pause {
          width: 25px !important;
          height: 25px !important;
        }
        .pause img {
          margin-left: 8px !important;
          margin-top: -2px !important;
          width: 8px !important;
        }

        #main5 #div1 img {
          display: none !important;
        }
        #main5 {
          text-align: center;
        }
        #main5 #div2 span {
          font-size: 17vw;
        }
        #main5 #div2 {
          right: -10%;
        }
        .giants {
          margin-left: 9% !important;
          margin-right: 2% !important;
        }
        .mobGiant {
          display: none !important;
        }
        .imgs {
          width: 100%;
        }
        .moving-text3 {
          animation: move-text 10s linear infinite;
        }
        .wrapper {
          overflow-x: hidden;
        }
        @keyframes move-text {
          0% {
            transform: translateX(100%);
          }
          100% {
            transform: translateX(-100%);
          }
        }
        .blackPara {
          display: none;
        }
        .yellowCircle {
          padding-top: 5.5vw;
          position: relative;
          left: 10%;
          margin-top: 5%;
          width: 15vw;
          height: 15vw;
          padding-left: 4vw;
        }
        .view {
          font-size: 4vw;
        }
        .our1,
        .solutions1 {
          font-size: 20vw;
          line-height: 1.25;
        }
        .mobBlackPara {
          font-family: Anek Devanagari;
          font-size: 3.8vw;
          font-weight: 300;
          margin-right: 5%;
          letter-spacing: 0px;

          color: white;
          opacity: 75%;
          line-height: 1.7;
        }

        .onlyDesktop {
          display: none;
        }

        .mobTech {
          color: white;
          font-family: "Deutschlander";
          font-style: normal;
          font-weight: 400;
          font-size: 10.5vw;
          line-height: 1;
          padding-right: 0 !important;
        }
        .mobIndex {
          font-family: "anek devanagari";
          font-size: 4vw;
          vertical-align: top;
          margin-right: 7%;
          color: white;
          font-weight: 300;
        }
        .table1 {
          width: 4.5vw !important;
          height: 4.5vw !important;
          margin-top: 25%;
        }
        .mobSolutions {
          margin-right: 5%;
          border-top: 2px solid rgb(95, 92, 92);
          padding-top: 4%;
          padding-bottom: 4%;
        }
        .mobImg {
          border-radius: 0 3vw 0 3vw;
          width: 105%;
        }
        .mobList {
          font-family: "anek Devanagari";
          color: white;
          opacity: 60%;
          padding-top: 3%;
          line-height: 2;
          font-size: 2.7vw;
          padding-left: 4%;
        }
        .circleHand {
          display: none;
        }

        .feature,
        .work {
          font-size: 21.5vw;
        }
        .work {
          margin-top: 19.5% !important;
        }
        .featureImg {
          width: 19vw;
          height: 12vw;
        }
        .featureImg-animate {
          margin-top: 30.3%;
          margin-left: -34%;
        }

        .fwViewAll {
          width: 18vw;
        }

        .movingImgs {
          aspect-ratio: 4/5;
          width: 30vw;
          border-radius: 0 4vw 4vw 4vw;
          margin-right: 5%;
          object-fit: cover;
        }
        .moving-text2 {
          animation: move-text2 40s linear infinite;
        }

        .wallHonor {
          font-size: 14vw;
        }
        .deskAwards {
          display: none;
        }

        .mobAward {
          padding-bottom: 3.3%;
          border-bottom: 1.5px solid #c6c4c4;
          padding-top: 5%;
        }
        .mbAwardCat,
        .mbAwardName {
          font-family: "anek devanagari";
          font-size: 3.4vw;
          font-weight: 600;
          padding-right: 5%;
        }
        .mbAwardName {
          opacity: 50%;
        }
        .mbAwardName span,
        .mbAwardCat span {
          text-transform: capitalize;
        }
        .blackPara2 {
          margin-top: 0;
          font-size: 3vw;
          line-height: 1.5;
          width: 75%;
          margin-bottom: 5%;
        }

        .prod1,
        .prod2 {
          font-size: 20vw;
          line-height: 0.75;
        }
        .prod2 {
          margin-top: -1.5%;
        }
        .prodImg {
          width: 16vw;
          height: 10vw;
          margin-top: 2%;
        }
      }

      @media screen and (max-width: 500px) {
        #s1 {
          font-size: 1rem;
        }
        #main3 #div2 #s3 {
          font-size: 1rem;
        }
        .yellowCircle {
          padding-top: 4.5vw;
        }
        .testimHead {
          font-size: 11.5vw;
        }
        .tools {
          font-size: calc(10px + 0.390625vw);
          word-spacing: 0.15rem;
        }
      }

      @media screen and (max-width: 315px) {
        #s1 {
          font-size: 0.85rem;
        }
        #main3 #div2 #s3 {
          font-size: 0.85rem;
        }
        .yellowCircle {
          padding-top: 3.5vw;
        }
      }

      @media screen and (max-width: 900px) and (min-width: 767px) {
        .yellowCircle {
          padding-top: 1.7vw !important;
        }
      }
      .head1,
      .head2,
      .paraDiv {
        position: relative;
        top: 100%;
      }
      .testim-anime {
        position: relative;
        bottom: 100%;
      }
      .animate-featureWork {
        position: relative;
        bottom: 100%;
      }
      .animate-featureWork2 {
        position: relative;
        bottom: 70%;
      }
      .ourAnimate-div {
        position: relative;
        bottom: 100%;
      }
      .productAnimate-div {
        position: relative;
        bottom: 100%;
      }

      .testim-anime:before {
        content: "";
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        background: #1a1a1a;
        z-index: 998;
        transition: bottom 1s ease;
        overflow: hidden;
      }

      .animate-featureWork:before {
        content: "";
        position: absolute;
        right: 0;
        left: -2%;
        top: 0;
        bottom: 40%;
        background: #1a1a1a;
        z-index: 998;
        transition: bottom 1s ease;
        overflow: hidden;
      }
      .animate-featureWork2:before {
        content: "";
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        background: #1a1a1a;
        z-index: 998;
        transition: bottom 1s ease;
        overflow: hidden;
      }

      .animation-featureWork:before {
        bottom: 100% !important;
      }
      .ourAnimate-div:before {
        content: "";
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        background: #1a1a1a;
        z-index: 998;
        transition: bottom 1s ease;
        overflow: hidden;
      }
      .productAnimate-div:before {
        content: "";
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        background: #1a1a1a;
        z-index: 998;
        transition: bottom 1s ease;
        overflow: hidden;
      }

      .head1:before,
      .head2:before,
      .paraDiv:before {
        content: "";
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        background: #f6f7f0;
        z-index: 998;
        transition: top 1.7s ease;
        overflow: hidden;
      }
      .head2:before {
        transition-delay: 1s;
      }
      .paraDiv:before {
        transition-delay: 1.5s !important;
        transition: top 1.5s ease;
      }
      .head1Span-animate:before {
        top: 100%;
      }
      #featureWork-section {
        margin-bottom: 2%;
      }

      .featureImg-animate {
        position: relative;
      }
      .featureImg-animate:after {
        content: "";
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        background: #1a1a1a;
        z-index: 998;
        transition: left 1.2s ease;
        overflow: hidden;
      }
      .featureImg-animation:after {
        left: 100% !important;
      }

      .prodImg-animate {
        position: relative;
      }
      .prodImg-animate:after {
        content: "";
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        background: #1a1a1a;
        z-index: 998;
        transition: left 1.2s ease;
        overflow: hidden;
      }
      .product-table-div {
        overflow: hidden;
      }

      .work-animation {
        position: relative;
        left: 100%;
      }
      .work-animation:after {
        content: "";
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        background: #f6f7f0;
        z-index: 998;
        transition: left 1.2s ease;
        overflow: hidden;
      }
      .workAnimate-active:after {
        left: 100%;
      }

      /* banner image animation */
      .mainImg {
        overflow: hidden;
        position: relative;
      }

      .mainImg:after {
        content: "";
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        /* transform: scale(0); */
        z-index: 1;
        transform: scale(1);

        position: absolute;
        background-image: url(../images/IIC-Exclude.svg);
        background-position: center;
        transition: transform 2s ease;
      }
      .mainImg-animate:after {
        transform: scale(100);
      }
    </style>

    <script>
      document.querySelector(".head1").classList.add("head1Span-animate");
      document.querySelector(".head2").classList.add("head1Span-animate");
      document.querySelector(".paraDiv").classList.add("head1Span-animate");

      import { gsap, TimelineMax, Eases } from "gsap";
      import { ScrollTrigger } from "gsap/ScrollTrigger";
      gsap.registerPlugin(ScrollTrigger);
      // console.log("i m here", gsap.context());
      const items = document.querySelectorAll(".trial");

      items.forEach((el) => {
        const image = el.querySelector(".trial2");

        el.addEventListener("mouseenter", (e) => {
          gsap.to(image, { autoAlpha: 1, scale: 1.3 });
        });

        el.addEventListener("mouseleave", (e) => {
          gsap.to(image, { autoAlpha: 0, scale: 0 });
        });

        el.addEventListener("mousemove", (e: PointerEvent) => {
          gsap.to(image, { x: e.offsetX - 250 });
        });
      });

      let sections = gsap.utils.toArray(".panel");

      gsap.to(sections, {
        xPercent: -115 * 1,
        ease: "none",
        scrollTrigger: {
          trigger: ".container",
          pin: true,
          scrub: 1,
          snap: 1 / (sections.length - 1),
          end: () => "+=" + document.querySelector(".container").offsetWidth,
        },
      });

      // setTimeout(() => {
      //   ScrollTrigger.refresh();
      // }, 3000);

      let tl = new TimelineMax({});

      tl.from("#main3", 1, {
        x: "30%",
        ease: "power2.inOut",
        opacity: "0",
        delay: "2",
      })
        .from(".animateHand", 1.5, {
          x: "270%",
          rotate: "-20",
          ease: "back.inOut",
          duration: "1.2",
        })
        .to(".animate-topSection", 1, {
          opacity: "0",
          scrollTrigger: {
            trigger: ".animate-topSection",
            start: "top top",
            end: "bottom 30%",
            scrub: true,
          },
        })
        .from(".mainImg", 1, {
          scrollTrigger: {
            trigger: ".mainImg",
            start: "top 15%",
            end: "bottom 30%",
            toggleClass: "mainImg-animate",

            scrub: true,
          },
        })
        .from("#main5", 1, {
          x: "-100%",
          scrollTrigger: {
            trigger: "#main5",
            start: "top bottom",
            end: "bottom 60%",

            scrub: true,
          },
        })
        .to(".giantHolder-animate", 1.5, {
          x: "-100%",
          ease: "ease1.out",
          scrollTrigger: {
            trigger: ".giantHolder-animate",
            start: "top 40%",
            end: "bottom 40%",

            scrub: true,
          },
        })
        .from(".clientArray1", 1, {
          x: "670%",
          // opacity: "0",
          ease: "ease1.out",
          scrollTrigger: {
            trigger: ".clientArray1",
            start: "top 75%",
            end: "bottom 74%",
            scrub: true,
          },
        })
        .from(".clientArray2", 1, {
          x: "670%",
          // opacity: "0",
          ease: "ease1.out",
          scrollTrigger: {
            trigger: ".clientArray2",
            start: "top 80%",
            end: "bottom 79%",
            scrub: true,
          },
        })
        .from(".clientArray3", 1, {
          x: "670%",
          // opacity: "0",
          ease: "ease1.out",
          scrollTrigger: {
            trigger: ".clientArray3",
            start: "top 83%",
            end: "bottom 82%",
            scrub: true,
          },
        })
        .from(".clientArray4", 1, {
          x: "670%",
          // opacity: "0",
          ease: "ease1.out",
          scrollTrigger: {
            trigger: ".clientArray4",
            start: "top 86%",
            end: "bottom 86%",
            scrub: true,
          },
        })

        .from("#featureWork-section", 1, {
          scrollTrigger: {
            trigger: ".animate-featureWork",
            start: "top 55%",
            end: "bottom top",
            toggleClass: "animation-featureWork",
            scrub: true,
          },
        })
        .from("#featureWork-section", 1, {
          scrollTrigger: {
            trigger: ".animate-featureWork2",
            start: "top 85%",
            end: "bottom top",
            toggleClass: "animation-featureWork",
            scrub: true,
          },
        })
        .from("#featureWork-section", 1, {
          scrollTrigger: {
            trigger: ".featureImg-animate",
            start: "top 65%",
            end: "bottom top",
            toggleClass: "featureImg-animation",
            scrub: true,
            markers: false,
          },
        })
        .from(".workImg-section", 1, {
          scrollTrigger: {
            trigger: ".work-animation",
            start: "top 55%",
            end: "bottom top",

            toggleClass: "workAnimate-active",
            scrub: true,
          },
        })
        .from(".viewAll-feature", 1, {
          x: "100%",
          ease: "ease1.out",

          scrollTrigger: {
            trigger: ".viewAll-feature",
            start: "top 55%",
            end: "bottom 25%",
            scrub: true,
          },
        })
        .from(".testimAnime-section", 1, {
          scrollTrigger: {
            trigger: ".testim-anime",
            start: "top 50%",
            end: "bottom top",
            toggleClass: "animation-featureWork",
            scrub: true,
          },
        })
        .from(".testimText-animate", 1, {
          opacity: 0,
          scrollTrigger: {
            trigger: ".testimText-animate",
            start: "top 40%",
            end: "bottom 30%",
            opacity: 0,
            scrub: true,
          },
        })
        .from(".animate-swiper", 1, {
          opacity: 0,
          scrollTrigger: {
            trigger: ".animate-swiper",
            start: "top 45%",
            end: "bottom 77%",
            scrub: true,
          },
        })
        .from(".ourAnimate-div", 1, {
          scrollTrigger: {
            trigger: ".ourAnimate-div",
            start: "top 80%",
            end: "bottom top",
            toggleClass: "animation-featureWork",
            scrub: true,
          },
        })
        .from(".ourAnimate-div", 1, {
          scrollTrigger: {
            trigger: ".productAnimate-div",
            start: "top 80%",
            end: "bottom top",
            toggleClass: "animation-featureWork",
            scrub: true,
          },
        })
        .from(".ourAnimate-div", 1, {
          scrollTrigger: {
            trigger: ".prodImg-animate",
            start: "top 80%",
            end: "bottom top",
            toggleClass: "featureImg-animation",
            scrub: true,
            markers: false,
          },
        })
        .from(".product-table", 1, {
          opacity: 0,
          y: "30%",
          ease: "ease1.out",
          stagger: 0.25,
          scrollTrigger: {
            trigger: ".product-table",
            start: "top 85%",
            end: "bottom top",
            scrub: true,
          },
        });

      import {
        Swiper,
        Navigation,
        Pagination,
        EffectCoverflow,
        Autoplay,
        EffectCreative,
      } from "swiper";
      let x = 3;
      var swiper = new Swiper(".mySwiper", {
        modules: [Navigation, EffectCreative],
        effect: "creative",
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: 5,
        spaceBetween: 0,
        loop: true,
        navigation: {
          nextEl: ".swiper-next",
          prevEl: ".swiper-prev",
        },
        creativeEffect: {
          prev: {
            // will set `translateZ(-400px)` on previous slides
            rotate: [0, 0, -8],
            translate: ["-120%", "10%", 0],
            scale: 0.9,
          },
          next: {
            // will set `translateX(100%)` on next slides
            rotate: [0, 0, 8],
            translate: ["120%", "10%", 0],
            scale: 0.9,
          },
          limitProgress: 2,
        },
        breakpoints: {
          767: {
            slidesPerView: 5,
            spaceBetween: 30,
          },
          250: {
            slidesPerView: 2.5,
            spaceBetween: 50,
          },
        },

        autoplay: {
          delay: 2000,
        },
      });
    </script>
  </div>
</section>
