---
import hand1 from "../src/images/Hand-1.png";
import puase from "../src/images/pauselogo.png";
import arrow from "../src/images/arrow.png";
import home from "../src/images/home-1.png";
import hand2 from "../src/images/hand-2.png";
import ovalArrow from "../src/images/ovalArrow.png";
import Reliance from "../src/images/Reliance.png";
import RealianceB from "../src/images/RealianceB.png";
import cocacola from "../src/images/cocacola.png";
import Vodafone from "../src/images/Vodafone.png";
import Capgemini from "../src/images/Capgemini.png";
import bestseller from "../src/images/bestseller.png";
import signBrand from "../src/images/signBrand.png";
import hindware from "../src/images/hindware.png";
import vector from "../src/images/vector.png";
import hefty from "../src/images/hefty.png";
import circleHand from "../src/images/circleHand.png";
import heftyverse from "../src/images/heftyverse.png";
import metaverse from "../src/images/metaverse.png";
import visualize from "../src/images/visualize.png";
import diamond from "../src/images/diamond.png";
import iicAwards from "../src/images/iicAwards.png";
import viewAllAwards from "../src/images/viewAllAwards.png";
import vVerse from "../src/images/vVerse.png";
import vTour from "../src/images/vTour.png";
import vRetail from "../src/images/vRetail.png";
import vStages from "../src/images/vStages.png";
import vConference from "../src/images/vConference.png";
import toolsArrow from "../src/images/toolsArrow.png";
---

<section class="margins">
  <div style="padding-top: 5%;">
    <div id="main" class="d-flex">
      <div id="div1">
        <span>Humanizing Tech</span>
      </div>
      <div id="div2">
        <img src={hand1} alt="" />
      </div>
    </div>
    <div class="d-flex" id="main2">
      <div id="div1" class="paraDiv">
        <span class="para"
          >Ink In Caps is an award-winning <strong class="strong">
            Tech+Design+Experience</strong
          > Agency that capacitates Visionary Brands to unlock Augmented Growth and
          boost conversations with their audiences. Intrigue Rush?</span
        >
      </div>
      <div id="div2">
        <span>Through Design</span>
      </div>
    </div>
    <div class="d-flex" id="main3">
      <div
        style="width:40px;height:40px; border:1px solid black; border-radius: 50%; background:black;"
      >
        <img src={puase} alt="" style="margin-left: 15px; margin-top:10px" />
      </div>
      <div id="div2">
        <span id="s1">Watch Showreels</span>
        <span id="s2"></span>
        <span id="s3">Know More <img src={arrow} alt="" /></span>
      </div>
    </div>
  </div>
</section>

<section style="margin-top:7%;">
  <img src={home} alt="" style="height:100%;width:100%; " />
</section>

<section>
  <div class="wrapper">
    <div id="main4" class="moving-text">
      <span>Deduce</span><span>Engage</span><span>Enable</span>
    </div>
  </div>
</section>

<section>
  <div id="main5" class="d-flex">
    <div id="div1">
      <img src={hand2} alt="" />
    </div>
    <div id="div2">
      <div>
        <span>Giants Trust Us.</span>
        <img src={ovalArrow} alt="" style="width:18%; margin-bottom: 9%;" />
      </div>
    </div>
  </div>
</section>

<section>
  <div style="margin-left: 210px;">
    <tr>
      <td class="img"> <img class="imgs" src={Reliance} alt="" /></td>
      <td class="img"> <img class="imgs" src={Capgemini} alt="" /></td>
      <td class="img"> <img class="imgs" src={Vodafone} alt="" /></td>
      <td class="img"> <img class="imgs" src={bestseller} alt="" /></td>
      <td class="img"> <img class="imgs" src={signBrand} alt="" /></td>
    </tr>
    <br />

    <tr>
      <td class="img"> <img class="imgs" src={cocacola} alt="" /></td>
      <td class="img"> <img class="imgs" src={hindware} alt="" /></td>
      <td class="img"> <img class="imgs" src={bestseller} alt="" /></td>
      <td class="img"> <img class="imgs" src={Capgemini} alt="" /></td>
      <td class="img"> <img class="imgs" src={Reliance} alt="" /></td>
    </tr>
    <br />
    <tr>
      <td class="img"> <img class="imgs" src={signBrand} alt="" /></td>
      <td class="img"> <img class="imgs" src={Capgemini} alt="" /></td>
      <td class="img"> <img class="imgs" src={RealianceB} alt="" /></td>
      <td class="img"> <img class="imgs" src={Vodafone} alt="" /></td>
      <td class="img"> <img class="imgs" src={hindware} alt="" /></td>
    </tr>
  </div>
</section>

<section
  class="wrapper"
  style="background-color: #1a1a1a; border-radius: 60px; padding-left: 9%; padding-top: 1.5%; margin-top:7%"
>
  <div class="d-flex">
    <span class="our">OUR &nbsp;</span>
    <span class="solutions"> SOLUTIONS.</span>
    <span class="blackPara"
      >Flaring storied growth through customized solutions to match individual
      Brand needs</span
    >
    <div class="yellowCircle"><span class="view">VIEW ALL</span></div>
  </div>

  <div>
    <table>
      <tbody>
        <tr class="hover" style="border-top: 1.15px solid rgb(63, 63, 63);">
          <td style="font-family: Anek Devanagari;">01.</td>
          <td class="tech">Immersive Technology</td>
          <td>
            <ul>
              <li class="list">Metaverse</li>
              <li class="list">Virtual reality</li>
              <li class="list">Augmented reality</li>
              <li class="list">Projection mapping</li>
            </ul>
          </td>
          <td
            ><img
              class="table"
              style="width:1.3rem; height:1.3rem; "
              src={vector}
              alt=""
            /></td
          >
          <!-- <td>Data 4</td> -->
        </tr>
        <tr class="hover">
          <td style="font-family: Anek Devanagari;">02.</td>
          <td class="tech">Interactive Solution</td>
          <td
            ><ul>
              <li class="list">Interactive Wall/Screen</li>
              <li class="list">Interactive Table/Interactive Book</li>
              <li class="list">Engagement Experts</li>
              <li class="list">Object Recognition Table</li>
            </ul></td
          >
          <td
            ><img
              class="table"
              style="width:1.3rem; height:1.3rem;  "
              src={vector}
              alt=""
            /></td
          >
        </tr>
        <tr class="hover">
          <td style="font-family: Anek Devanagari;">03.</td>
          <td class="tech">Mobile & Web</td>
          <td
            ><ul>
              <li class="list">Web Development</li>
              <li class="list">App Development</li>
              <li class="list">Gaming Solutions</li>
            </ul></td
          >
          <td
            ><img
              class="table"
              style="width:1.3rem; height:1.3rem; "
              src={vector}
              alt=""
            /></td
          >
        </tr>

        <tr class="hover">
          <td style="font-family: Anek Devanagari;">04.</td>
          <td class="tech">Content Development</td>
          <td
            ><ul>
              <li class="list">3D/2D Animations</li>
              <li class="list">Motion Graphics</li>
              <li class="list">Architectural Visualization</li>
              <li class="list">Expainer Videos</li>
            </ul></td
          >
          <td
            ><img
              class="table"
              style="width:1.3rem; height:1.3rem; "
              src={vector}
              alt=""
            /></td
          >
        </tr>

        <tr class="hover">
          <td style="font-family: Anek Devanagari;">05.</td>
          <td class="tech">Experimental Marketing</td>
          <td
            ><ul>
              <li class="list">Motion Gesture</li>
              <li class="list">Interactive Campaign</li>
              <li class="list">Photobooth</li>
              <li class="list">Kiosk/Vending Machine</li>
            </ul></td
          >
          <td
            ><img
              class="table"
              style="width:1.3rem; height:1.3rem; "
              src={vector}
              alt=""
            /></td
          >
        </tr>

        <tr class="hover">
          <td style="font-family: Anek Devanagari;">06.</td>
          <td class="tech">Strategy & Design</td>
          <td class=""
            ><ul>
              <li class="list">Scenario Mapping Brand Audits</li>
              <li class="list">Brand Identity</li>
              <li class="list">Competitor Mapping</li>
              <li class="list">Graphic Design & Prototype</li>
            </ul></td
          >
          <td
            ><img
              class="table"
              style="width:1.3rem; height:1.3rem; "
              src={vector}
              alt=""
            /></td
          >
        </tr>
      </tbody>
    </table>
  </div>

  <div class="d-flex">
    <p class="our">FEATURE</p>

    <img
      style="width:13vw; height:8vw; margin-top: 17.3%;  margin-left: -24%; "
      src={hefty}
      alt=""
    />

    <p class="solutions" style="margin-top: 11%;">&nbsp; WORK.</p>
    <img
      style="width:13vw; height:8vw; margin-top: 17.7%;  margin-left: 55.8%; "
      src={circleHand}
      alt=""
    />
    <!-- <div class="yellowCircle"> <p class="view">VIEW ALL</p></div>  -->
  </div>

  <div class="d-flex moving-text2" style="width:100%; margin-bottom: 7%;">
    <img
      src={metaverse}
      alt=""
      style="width:25%; height:19%; margin-right: 3%;"
    />
    <img
      src={heftyverse}
      alt=""
      style="width:25%; height:19%; margin-right: 3%;"
    />
    <img
      src={visualize}
      alt=""
      style="width:25%; height:19%; margin-right: 3%;"
    />
    <img
      src={metaverse}
      alt=""
      style="width:25%; height:19%; margin-right: 3%;"
    />
    <!-- <img src={heftyverse} alt="" style="width:25%; height:19%; margin-right: 3%;" /> -->
  </div>
</section>

<section style="margin-top: 4.5%;">
  <div class="moving-text" style="display: flex; overflow:hidden;">
    <span class="wallHonor">WALL OF HONOR</span>
    <div style="text-align: center; margin:3vw 3vw 3vw 3vw">
      <img style="width:3.5vw" src={diamond} alt="" />
    </div>
    <span class="wallHonor">WALL OF HONOR</span>
    <div style="text-align: center; margin:3vw 3vw 3vw 3vw">
      <img style="width:3.5vw" src={diamond} alt="" />
    </div>
  </div>
</section>

<section style="margin-top:4%;">
  <img src={iicAwards} alt="" style="height:100%;width:100%; " />
  <img src={viewAllAwards} alt="" class="viewAllAwards" />
</section>
<section class="margins" style="margin-top:4%;">
  <div>
    <table>
      <tbody>
        <tr class="awardsTable">
          <td style="color:#252525" class="awardCtg"
            >2022 - Promotion of the Year for Brand Awareness Digital (Gold)</td
          >
          <td style="color:#252525; text-align: end;" class="awardName"
            >WOW Awards Asia</td
          >
        </tr>
        <tr class="awardsTable">
          <td style="color:#252525" class="awardCtg"
            >2022 - Audience Enagagement Techonology (Gold)</td
          >
          <td style="color:#252525; text-align: end;" class="awardName"
            >WOW Awards Asia</td
          >
        </tr>
        <tr class="awardsTable">
          <td style="color:#252525" class="awardCtg"
            >2022 - Innovation In Interactive Techonology (Bronze)</td
          >
          <td style="color:#252525; text-align: end;" class="awardName"
            >WOW Awards Asia</td
          >
        </tr>
        <tr class="awardsTable">
          <td style="color:#252525" class="awardCtg"
            >2022 - best content marketing launch (Gold)</td
          >
          <td style="color:#252525; text-align: end;" class="awardName"
            >Marketers’ Excellence Awards</td
          >
        </tr>
        <tr class="awardsTable">
          <td style="color:#252525" class="awardCtg"
            >2022 - best brand activation (Gold)</td
          >
          <td style="color:#252525; text-align: end;" class="awardName"
            >Marketers’ Excellence Awards</td
          >
        </tr>
        <tr class="awardsTable">
          <td style="color:#252525" class="awardCtg"
            >2022 - Best Use Of VR (Silver)</td
          >
          <td style="color:#252525; text-align: end;" class="awardName"
            >Marketers’ Excellence Awards</td
          >
        </tr>
        <tr class="awardsTable">
          <td style="color:#252525" class="awardCtg"
            >2022 - best use of technology (Bronze)</td
          >
          <td style="color:#252525; text-align: end;" class="awardName"
            >Marketers’ Excellence Awards</td
          >
        </tr>
        <tr class="awardsTable">
          <td style="color:#252525" class="awardCtg"
            >2022 - best use of technology (Gold)</td
          >
          <td style="color:#252525; text-align: end;" class="awardName"
            >Afaqs Digies Awards</td
          >
        </tr>
        <tr class="awardsTable">
          <td style="color:#252525" class="awardCtg"
            >2023- Best Use Of Technology (Silver)</td
          >
          <td style="color:#252525; text-align: end;" class="awardName"
            >Afaqs Digies Awards</td
          >
        </tr>
        <tr class="awardsTable" style="border: none;">
          <td style="color:#252525" class="awardCtg"
            >2023- Media & Entertainment (Bronze)</td
          >
          <td style="color:#252525; text-align: end;" class="awardName"
            >DG+ Awards</td
          >
        </tr>
      </tbody>
    </table>
  </div>
</section>

<section
  class="wrapper"
  style="background-color: #1a1a1a; border-radius: 60px 60px 0 0; padding-left: 9%; padding-top: 1.5%; margin-top:7%"
>
  <div class="d-flex">
    <span class="our">TESTIMONIALS</span>
    <span class="solutions">.</span>
    <span class="blackPara2"
      >Flaring storied growth through customized solutions to match individual
      Brand needs</span
    >
    <div class="yellowCircle"><span class="view">VIEW ALL</span></div>
  </div>

  <div>
    <table>
      <tbody>
        <tr class="hover" style="border-top: 1.15px solid rgb(63, 63, 63);">
          <td style="font-family: Anek Devanagari;">01.</td>
          <td class="tech">Immersive Technology</td>
          <td>
            <ul>
              <li class="list">Metaverse</li>
              <li class="list">Virtual reality</li>
              <li class="list">Augmented reality</li>
              <li class="list">Projection mapping</li>
            </ul>
          </td>
          <td
            ><img
              class="table"
              style="width:1.3rem; height:1.3rem; "
              src={vector}
              alt=""
            /></td
          >
          <!-- <td>Data 4</td> -->
        </tr>
        <tr class="hover">
          <td style="font-family: Anek Devanagari;">02.</td>
          <td class="tech">Interactive Solution</td>
          <td
            ><ul>
              <li class="list">Interactive Wall/Screen</li>
              <li class="list">Interactive Table/Interactive Book</li>
              <li class="list">Engagement Experts</li>
              <li class="list">Object Recognition Table</li>
            </ul></td
          >
          <td
            ><img
              class="table"
              style="width:1.3rem; height:1.3rem;  "
              src={vector}
              alt=""
            /></td
          >
        </tr>
        <tr class="hover">
          <td style="font-family: Anek Devanagari;">03.</td>
          <td class="tech">Mobile & Web</td>
          <td
            ><ul>
              <li class="list">Web Development</li>
              <li class="list">App Development</li>
              <li class="list">Gaming Solutions</li>
            </ul></td
          >
          <td
            ><img
              class="table"
              style="width:1.3rem; height:1.3rem; "
              src={vector}
              alt=""
            /></td
          >
        </tr>

        <tr class="hover">
          <td style="font-family: Anek Devanagari;">04.</td>
          <td class="tech">Content Development</td>
          <td
            ><ul>
              <li class="list">3D/2D Animations</li>
              <li class="list">Motion Graphics</li>
              <li class="list">Architectural Visualization</li>
              <li class="list">Expainer Videos</li>
            </ul></td
          >
          <td
            ><img
              class="table"
              style="width:1.3rem; height:1.3rem; "
              src={vector}
              alt=""
            /></td
          >
        </tr>

        <tr class="hover">
          <td style="font-family: Anek Devanagari;">05.</td>
          <td class="tech">Experimental Marketing</td>
          <td
            ><ul>
              <li class="list">Motion Gesture</li>
              <li class="list">Interactive Campaign</li>
              <li class="list">Photobooth</li>
              <li class="list">Kiosk/Vending Machine</li>
            </ul></td
          >
          <td
            ><img
              class="table"
              style="width:1.3rem; height:1.3rem; "
              src={vector}
              alt=""
            /></td
          >
        </tr>

        <tr class="hover">
          <td style="font-family: Anek Devanagari;">06.</td>
          <td class="tech">Strategy & Design</td>
          <td class=""
            ><ul>
              <li class="list">Scenario Mapping Brand Audits</li>
              <li class="list">Brand Identity</li>
              <li class="list">Competitor Mapping</li>
              <li class="list">Graphic Design & Prototype</li>
            </ul></td
          >
          <td
            ><img
              class="table"
              style="width:1.3rem; height:1.3rem; "
              src={vector}
              alt=""
            /></td
          >
        </tr>
      </tbody>
    </table>
  </div>

  <div class="d-flex">
    <p class="our">OUR &nbsp;</p>

    <img style="width:13vw; height:8vw; margin-top: 5%;" src={hefty} alt="" />
  </div>

  <p class="solutions" style="margin-top: -10.5%;">PRODUCTS</p>

  <div>
    <table style="width: 90%;">
      <tbody>
        <tr>
          <td style="font-family: Anek Devanagari;">1.</td>
          <td style="color:white" class="tools"
            >V-Verse : revolutionary metaverse platform by ink in caps</td
          >
          <td style="color:#252525; text-align: end;" class="awardName">
            <img style="width: 5vw;" src={vVerse} alt="" /></td
          >
          <td
            ><button class="btn"
              ><img
                style="width:2.5rem; "
                class="table"
                src={toolsArrow}
                alt=""
              /></button
            ></td
          >
        </tr>
        <tr>
          <td style="font-family: Anek Devanagari;">2.</td>
          <td style="color:white" class="tools"
            >V-tour : India's Leading Virtual Events Platform</td
          >
          <td style="color:#252525; text-align: end;" class="awardName">
            <img style="width: 7vw;" src={vTour} alt="" /></td
          >
          <td
            ><button class="btn"
              ><img
                style="width:2.5rem; "
                class="table"
                src={toolsArrow}
                alt=""
              /></button
            ></td
          >
        </tr>
        <tr>
          <td style="font-family: Anek Devanagari;">3.</td>
          <td style="color:white" class="tools"
            >V-Retail : Get your business virtualized the right way</td
          >
          <td style="color:#252525; text-align: end;" class="awardName">
            <img style="width: 6vw;" src={vRetail} alt="" /></td
          >
          <td
            ><button class="btn"
              ><img
                style="width:2.5rem; "
                class="table"
                src={toolsArrow}
                alt=""
              /></button
            ></td
          >
        </tr>
        <tr>
          <td style="font-family: Anek Devanagari;">4.</td>
          <td style="color:white" class="tools"
            >V-stages : stunning Virtual stages for your next virtual event</td
          >
          <td style="color:#252525; text-align: end;" class="awardName">
            <img style="width: 7vw;" src={vStages} alt="" /></td
          >
          <td
            ><button class="btn"
              ><img
                style="width:2.5rem; "
                class="table"
                src={toolsArrow}
                alt=""
              /></button
            ></td
          >
        </tr>
        <tr>
          <td style="font-family: Anek Devanagari;">5.</td>
          <td style="color:white" class="tools"
            >V-Conference : Virtual Conferencing Solutions for your business</td
          >
          <td style="color:#252525; text-align: end;" class="awardName">
            <img style="width: 9vw;" src={vConference} alt="" /></td
          >
          <td
            ><button class="btn"
              ><img
                style="width:2.5rem; "
                class="table"
                src={toolsArrow}
                alt=""
              /></button
            ></td
          >
        </tr>
      </tbody>
    </table>
  </div>

  <!-- <div class="yellowCircle"> <p class="view">VIEW ALL</p></div>  -->
</section>
<style>
  .margins {
    margin-left: 7%;
    margin-right: 7%;
  }
  body {
    overflow-x: hidden;
  }
  @font-face {
    font-family: "Deutschlander";
    font-style: normal;
    font-weight: 400;
    src: local("Deutschlander"), url("/Deutschlander.woff") format("woff");
  }

  /* .table{
    margin: 40px;
  } */

  /* table css */

  table {
    width: 95%;

    /* margin-right: 20%; */
    border-collapse: collapse;
  }

  .tech {
    color: white;
    font-family: "Deutschlander";
    font-style: normal;
    font-weight: 400;
    font-size: 2.5vw;
    src: local("Deutschlander"), url("/Deutschlander.woff") format("woff");
    padding-right: 0 !important;
  }

  table td {
    padding: 10px;
    text-align: left;
    color: white;
    /* border: 1px solid black; */
  }

  table tr {
    border-bottom: 1.15px solid rgb(63, 63, 63);
  }

  table .hover:hover {
    background-color: rgb(62, 61, 61);
  }

  .img {
    margin: 10%;
  }
  .imgs {
    width: 14.5%;
    margin: 1.2%;
  }

  .our {
    color: white;
    font-family: "Deutschlander";
    font-style: normal;
    font-weight: 400;
    font-size: 12.5vw;
    src: local("Deutschlander"), url("/Deutschlander.woff") format("woff");
  }
  .solutions {
    color: #e5ff53;
    font-family: "Deutschlander";
    font-style: normal;
    font-weight: 400;
    font-size: 12.5vw;
    src: local("Deutschlander"), url("/Deutschlander.woff") format("woff");
  }

  .blackPara {
    font-family: Anek Devanagari;
    font-size: 1.3vw;
    font-weight: 300;
    line-height: 2.35vw;
    letter-spacing: 0px;
    width: 24%;
    color: white;
    opacity: 75%;
    margin-left: 5.8%;
    margin-top: 8%;
    /* text-align: left; */
  }
  .blackPara2 {
    font-family: Anek Devanagari;
    font-size: 1.3vw;
    font-weight: 300;
    line-height: 2.35vw;
    letter-spacing: 0px;
    width: 30%;
    color: white;
    opacity: 75%;
    margin-left: 5.8%;
    margin-top: 8%;
    /* text-align: left; */
  }

  .yellowCircle {
    border-radius: 100%;
    height: 6.75vw;
    width: 6.75vw;
    background-color: #e5ff53;
    margin-top: 8%;
    margin-left: 3%;
    padding: 2.4vw 1vw 0% 1.39vw;
  }
  .yellowCircle2 {
    border-radius: 100%;
    height: 6.75vw;
    width: 6.75vw;
    background-color: #e5ff53;
    /* margin-top: 8%; */
    margin-left: 3%;
    padding: 2.4vw 1vw 0% 1.39vw;
    position: absolute;
    right: 12vw;
  }
  .view {
    font-family: Deutschlander;
    font-size: 2.2vw;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    /* position: fixed; */
  }
  .view2 {
    font-family: Deutschlander;
    font-size: 2.2vw;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
  }

  .list {
    font-size: 0.7rem;
    opacity: 50%;
    margin-bottom: 3px;
    font-family: anek devanagari;
  }
  #main #div1 span {
    font-family: "Deutschlander";
    text-transform: uppercase;
    font-size: 13vw;
    font-weight: 400;
    font-style: normal;
    /* padding-top: 2%; */
  }
  #main #div2 img {
    width: 20vw;
    margin-top: 25%;
  }
  #main #div2 {
    padding-left: 3%;
  }
  #main2 #div1 {
    width: 37vw;
  }
  #main2 #div1 span {
    font-size: 1.25rem;
    font-family: "Anek Devanagari";
    text-align: justify;
  }
  #main2 #div2 {
    margin-left: 20px;
  }
  #main2 #div2 span,
  .wallHonor {
    font-family: "Deutschlander";
    font-size: 13vw;
    text-transform: uppercase;
    line-height: 11vw;
  }
  #main3 #div2 {
    margin-top: auto;
  }
  #main3 #div2 #s1 {
    font-family: "Anek Devanagari";
    font-size: 1.4rem;
    margin-left: 15px;
    text-transform: uppercase;
  }
  #main3 #div2 #s2 {
    border-right: 1px solid black;
    margin-left: 15px;
  }
  #main3 #div2 #s3 {
    font-family: "Anek Devanagari";
    font-size: 1.4rem;
    margin-left: 15px;
    text-transform: uppercase;
  }
  #main4 span {
    font-family: "Deutschlander";
    padding: 30px;
    font-size: 18rem;
    text-transform: uppercase;
  }
  #main5 {
    position: relative;
    display: inline-flex;
  }
  #main5 #div1 img {
    height: 150px;
  }
  #main5 #div2 {
    position: relative;
  }
  #main5 #div2 span {
    font-family: "Deutschlander";
    text-transform: uppercase;
    font-size: 11vw;
  }

  .para {
    opacity: 75%;
  }
  .strong {
    opacity: 100% !important;
  }

  .paraDiv {
    padding-top: 1%;
  }

  .moving-text {
    animation: move-text 10s linear infinite;
  }

  .moving-text2 {
    animation: move-text 10s linear infinite;
  }
  .wrapper {
    overflow-x: hidden;
  }

  @media screen and (max-width: 1300px) {
    #main2 #div1 span {
      font-size: 1.05rem;
      font-family: "Anek Devanagari";
      text-align: justify;
    }
  }

  @keyframes move-text {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  /* Award Table css */

  .awardsTable {
    border-bottom: 1.15px solid hsl(60, 1%, 84%);
  }
  .awardCtg,
  .awardName {
    font-family: "Anek Devanagari";
    font-style: normal;
    font-weight: 600;
    font-size: 1vw;
    line-height: 300%;

    text-transform: capitalize;

    color: #252525;

    opacity: 0.9;
  }
  .tools {
    font-family: "Anek Devanagari";
    font-style: normal;
    font-weight: 500;
    font-size: calc(13px + 0.390625vw);

    text-transform: capitalize;

    color: #252525;

    opacity: 0.9;
  }

  .viewAllAwards {
    width: 10.5vw;
    position: absolute;
    z-index: 1000;
    right: 10%;
    margin-top: 23%;
  }
</style>
