---
import { Image } from "astro:assets";
import logoAnimeWhite from "../images/logoAnimeWhite.gif";
import fashion from "../images/fashion.png";
import AiIn from "../images/ai-in.png";
import directorImg from "../images/director-img.png";
import directorIcon from "../images/director-icon.png";
import todayStore from "../images/today-store.png";
import aiFashionImg from "../images/ai-fashion-img.png";
import gettingToKnowAi from "../images/getting-to-know-ai.png";
import whatIsAIImg from "../images/what-is-ai-img.png";
import aiBirth from "../images/ai-birth.png";
import aiWinter from "../images/ai-winter.png";
import gansOfAI from "../images/gans-of-ai.png";
import riseOfAI from "../images/rise-of-ai.png";
import naturalNetwork from "../images/natural-network-processsing.png";
import neuralNetwrok from "../images/neural-network.png";
import machineLearning from "../images/machine-learning.png";
import developmentImg from "../images/development-img.jpg";
import languageModalHub from "../images/language-models-hub.png";
import insightsLingos from "../images/insights-lingos.png";
import aiAssistants from "../images/chatbots-or-ai-smart-assistants.png";
import visualReverseImage from "../images/visual-reverse-image.png";
import subscriptionServices from "../images/subscription-services.png";
import aiStylistInStore from "../images/ai-stylist-in-store.png";
import aiInTrendsAndForcasting from "../images/ai-in-trends-and-forcasting.png";
import aiForProduction from "../images/ai-for-production.png";
import aiForInventory from "../images/ai-for-inventory.png";
import aiOperation from "../images/ai-for-operation.png";
import aiForDesignProcess from "../images/ai-for-design-process.png";
import aiForSustainableFashion from "../images/ai-for-sustainable-fashion.png";
import aiGraph from "../images/ai-graph.png";
import aiTheEnd from "../images/ai-the-end.png";
import predictionEstimate from "../images/predictions-estimate.png";
import visitOutSite from "../images/visit-out-website.png";
import aiInFashion from "../images/ai-in-fashion.png";
---

<section class="bg-dark p-5">
  <Image
    src={logoAnimeWhite}
    width={150}
    height={80}
    alt=""
    class="logoWhite optimization"
  />
</section>

<section
  class="bg-dark position-relative z-index-1 px-5"
  style="padding-bottom: 18%"
>
  <Image
    src={aiInFashion}
    alt="Ai In Fashion"
    class="object-fit-contain ai-birth-modal"
  />
  <div>
    <Image
      src={aiFashionImg}
      alt="Ai In Fashion"
      class="object-fit-contain col-6 position-absolute ai-fashion-model-img"
    />
  </div>
</section>

<section
  class="bg-white position-relative"
  style="padding-top: 12rem; margin-bottom: 18%"
>
  <div class="mx-auto fit-content px-5">
    <Image src={todayStore} alt="Today store" class="ai-birth-modal" />
  </div>
  <!-- <Image
    src={gettingToKnowAi}
    alt="Getting to know ai"
    class="getting-to-know-ai"
  /> -->
</section>
<section
  class="px-5 pb-5 position-relative bg-dark"
  style="padding-top: 12rem;"
>
  <div class="p-4 what-is-ai-container">
    <div class="p-4 d-flex align-item-center row justify-content-between">
      <span class="d-block col-4 ps-0">
        <!-- <Image src={whatIsAI} alt="What is ai" class="what-is-ai-1" /> -->
        <p class="text-uppercase text-yellow what-is-ai-1">what is ai</p>
      </span>

      <div class="col-6">
        <p class="text-white ps-3 left-border">
          Simulation of human intelligence in machines.
        </p>
        <p class="text-white ps-3 left-border">
          Teaching computers to think and do things just like humans.
        </p>
        <p class="text-white ps-3 left-border">
          Understanding speech, recognizing patterns, making decisions, and even
          learning from experience.
        </p>
      </div>
    </div>
    <Image src={whatIsAIImg} alt="What is ai" class="what-is-ai" />
  </div>
</section>

<section class="bg-dark p-5">
  <span class="px-4 d-block">
    <p class="text-uppercase text-yellow what-is-ai-1 ps-3">evolution</p>
    <span class="row d-flex p-3 justify-content-between">
      <span class="col-2 d-flex flex-column align-items-center">
        <Image
          src={aiBirth}
          alt="Rise of AI"
          class="evolution-imgs"
          width={191}
          height={293}
        />
        <p class="ai-date text-white m-0 pt-3 pb-2 text-uppercase">1950'S</p>
        <p class="ai-title text-yellow m-0 text-uppercase">Birth of ai</p>
      </span>
      <span class="col-2 d-flex flex-column align-items-center">
        <Image
          src={aiWinter}
          alt="Rise of AI"
          class="evolution-imgs"
          width={191}
          height={293}
        />
        <p class="ai-date text-white m-0 pt-3 pb-2 text-uppercase">
          1960's-70's
        </p>
        <p class="ai-title text-yellow m-0 text-uppercase">70's AI winter</p>
      </span>
      <span class="col-2 d-flex flex-column align-items-center">
        <Image
          src={riseOfAI}
          alt="Rise of AI"
          class="evolution-imgs"
          width={191}
          height={293}
        />
        <p class="ai-date text-white m-0 pt-3 pb-2 text-uppercase">
          1990's-2010
        </p>
        <p class="ai-title text-yellow m-0 text-uppercase">
          rise of deep learning & machine learning
        </p>
      </span>
      <span class="col-2 d-flex flex-column align-items-center">
        <Image
          src={gansOfAI}
          alt="Rise of AI"
          class="evolution-imgs"
          width={191}
          height={293}
        />
        <p class="ai-date text-white m-0 pt-3 pb-2 text-uppercase">
          2012 Beyond
        </p>
        <p class="ai-title text-yellow m-0 text-uppercase">
          gan's & ai renaissance
        </p>
      </span>
    </span>
  </span>
</section>
<section class="bg-dark p-5">
  <span class="px-4 d-block">
    <p class="text-uppercase text-yellow what-is-ai-1 ps-3">
      core components of ai
    </p>
    <span class="row d-flex flex-column">
      <Image
        src={naturalNetwork}
        alt="Ai birth"
        class="col-4 ai-components ms-auto"
        width={513}
        height={177}
      />
      <Image
        src={neuralNetwrok}
        alt="Rise of AI"
        class="col-4 ai-components mx-auto"
        width={513}
        height={177}
      />
      <Image
        src={machineLearning}
        alt="Rise of AI"
        class="col-4 ai-components"
        width={513}
        height={177}
      />
    </span>
  </span>
</section>
<section class="bg-dark p-5">
  <Image
    src={languageModalHub}
    alt="Ai birth"
    class="object-fit-contain px-4 ai-birth-modal"
  />
</section>
<section class="bg-dark position-relative" style="padding-bottom: 10rem;">
  <span class="d-block px-5 pt-5">
    <Image
      src={developmentImg}
      alt="Ai birth"
      class="object-fit-contain px-4 ai-birth-modal"
    />
  </span>
  <!-- <Image
    src={gettingToKnowAi}
    alt="Getting to know ai"
    class="getting-to-know-ai-development"
  /> -->
</section>
<section class="insights-bg position-relative">
  <span class="d-block px-5 pb-5">
    <Image
      src={insightsLingos}
      alt="Ai birth"
      class="object-fit-contain px-4 ai-birth-modal"
    />
    <span
      class="d-block bg-dark px-5 pt-5 rounded-12"
      style="padding-bottom: 7rem;"
    >
      <Image
        src={aiAssistants}
        alt="Ai birth"
        class="ai-birth-modal object-fit-contain p-4"
      />
      <Image
        src={visualReverseImage}
        alt="Ai birth"
        class="ai-birth-modal object-fit-contain p-4"
      />
      <Image
        src={subscriptionServices}
        alt="Ai birth"
        class="ai-birth-modal object-fit-contain p-4"
      />
      <Image
        src={aiStylistInStore}
        alt="Ai in store"
        class="ai-birth-modal object-fit-contain p-4"
      />
      <Image
        src={aiInTrendsAndForcasting}
        alt="Ai in Tends and forcasting"
        class="ai-birth-modal object-fit-contain p-4"
      />
      <Image
        src={aiForProduction}
        alt="Ai for production"
        class="ai-birth-modal object-fit-contain p-4"
      />
      <Image
        src={aiForInventory}
        alt="Ai for production"
        class="ai-birth-modal object-fit-contain p-4"
      />
      <Image
        src={aiOperation}
        alt="Ai for production"
        class="ai-birth-modal object-fit-contain p-4"
      />
      <Image
        src={aiForDesignProcess}
        alt="Ai for design process"
        class="ai-birth-modal object-fit-contain p-4"
      />
      <Image
        src={aiForSustainableFashion}
        alt="Ai for design process"
        class="ai-birth-modal object-fit-contain p-4"
      />
      <Image
        src={aiGraph}
        alt="Ai for design process"
        class="ai-birth-modal object-fit-contain p-4"
      />
    </span>
  </span>
  <Image src={aiTheEnd} alt="ai" class="getting-to-know-ai-development" />
</section>
<section
  class="insights-bg px-5 pb-5 position-relative"
  style="padding-top: 8rem;"
>
  <Image
    src={predictionEstimate}
    alt="Ai birth"
    class="object-fit-contain ai-birth-modal"
  />
  <a href="https://iiclab.com/">
    <Image
      src={visitOutSite}
      alt="Ai birth"
      class="object-fit-contain py-4 px-2 ai-birth-modal"
    />
  </a>
</section>
<style>
  @font-face {
    font-family: "Deutschlander";
    src: url("/Deutschlander.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Anek Devanagari";
    font-style: normal;
    font-weight: 100 800;
    font-stretch: 100%;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/anekdevanagari/v8/jVyd7nP0CGrUsxB-QiRgw0NlLaVt_QUAkYxLRoCL23mlrWAxpZsQ.woff2)
      format("woff2");
    unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0,
      U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
  }

  body {
    margin: 0px;

    color: white;
    font-family: "Anek Devanagari";
    overflow-x: hidden;
  }
  body::-webkit-scrollbar {
    display: none;
  }

  .ai-fashion-model-img {
    left: 0;
    right: 0;
    margin: auto;
    /* bottom: -100%; */
    width: 60%;
    height: auto;
  }

  .bg-dark {
    background: #1a1a1a !important;
  }
  .bg-yellow {
    background: #e5ff53;
  }
  .text-dark {
    color: #000;
  }
  .text-white {
    color: #fff;
  }

  .fit-content {
    width: fit-content;
  }

  .pe-1 {
    padding-right: 1rem;
  }
  .mx-2 {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .py-1 {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
  }
  .rounded-1 {
    border-radius: 2px;
  }
  .devider {
    width: 2px;
    height: 30px;
    background: #e5ff53;
    border-radius: 8px;
  }
  .z-index-2 {
    z-index: 2;
  }
  .z-index-1 {
    z-index: 1;
  }
  .ms-n2 {
    margin-left: -9px;
  }

  .headline-6 {
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 23px;
  }
  .text-yellow {
    color: #e5ff53;
  }
  .headline-5 {
    font-family: Deutschlander;
    font-size: 128px;
    font-weight: 400;
    line-height: 177px;
    letter-spacing: 0em;
  }

  .body-1 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 34px;
  }

  .ai-fashion-img {
    width: 67%;
    height: auto;
    position: absolute;
    border-radius: 4px;
    left: 18%;
    bottom: -38%;
    object-fit: cover;
  }
  .getting-to-know-ai {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: -15rem;
    z-index: 2;
  }
  .getting-to-know-ai-development {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: -6rem;
    z-index: 2;
  }

  .position-relative {
    position: relative;
  }
  .position-absolute {
    position: absolute;
  }
  .what-is-ai-container {
    border: 2px solid #f6f7f0;
    border-radius: 80px;
  }
  .what-is-ai {
    border-radius: 20px;
    width: 100%;
    height: auto;
  }

  .what-is-ai-1 {
    color: #e5ff53;
    font-family: "Deutschlander";
    font-style: normal;
    font-weight: 400;
    font-size: 10vw;
    line-height: 0.8;
  }
  .left-border {
    border-left: 1px solid #e5ff53;
  }
  .evolution-imgs {
    /* object-fit: none; */
  }
  .ai-birth-modal {
    width: 100%;
    height: auto;
  }
  .ai-date {
    font-family: "Deutschlander";
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.05em;
  }
  .ai-title {
    font-family: "Anek Devanagari";
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0em;
    text-align: center;
  }
  .ai-components {
    object-fit: contain;
  }
  .object-fit-contain {
    object-fit: contain;
  }
  .insights-bg {
    background: #f6f7f0;
  }
  .rounded-12 {
    border-radius: 50px;
  }
</style>

<html lang="en">
  <slot name="head" />
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>
  </head>
</html>
