---
import authorImg from "../../images/authorImg.jpg";
import submitBtn from "../../images/submitBtn.jpg";
import blackDiamond from "../../images/blackDiamond.png";
import blogContentImg from "../../images/blogContentImg.jpg";

const props = Astro.props;

---

<section class="margins">

    <div class="row" >
        <div class="quote col-sm-12 col-md-9 col-lg-9"  >
            {
                props.quote &&
                <div class="innerquote" >
              
              <span set:html={props.quote}>
              </span> 
              <span class="quoter" set:html={props.quoter}></span>
             </div>

            }
          

            <div class="content1" id="content1">
                    { props.content1Heading &&
                        <img src={blackDiamond} class="bullets" alt="" loading="lazy">
                   <span class="contentTitle" set:html={props.content1Heading}></span>
                    }
                   
                
                
                <span class="text" set:html={props.content1Text}></span>
            </div>

            <div class="content2" id="content2">
                {
                    props.content2Heading  &&
                    <img src={blackDiamond} class="bullets" alt="" loading="lazy">
                  <span class="contentTitle" set:html={props.content2Heading} ></span>

                }
               

                <span class="text" set:html={props.content2Text} ></span>
                {
                    props.content2Img &&
                    <img src={props.content2Img} style="width:100%;" alt="" loading="lazy">
                }
            </div>

            <div class="content2b" id="content2b">
                {props.content2bHeading && 
                    <img src={blackDiamond} class="bullets" alt="" loading="lazy">
                   <span class="contentTitle" set:html={props.content2bHeading} ></span>
                }
               
                <span class="text" set:html={props.content2bText}></span>
                {
                    props.content2bImg &&
                    <img src={props.content2bImg} style="width:100%;" alt="" loading="lazy">
                }
                    
            </div>
            <div class="content2c" id="content2c">
                {
                    props.content2cHeading &&
                    <img src={blackDiamond} class="bullets" alt="" loading="lazy">
                    <span class="contentTitle" set:html={props.content2cHeading}></span>
                }

                {
                    props.content2cText &&
                    <span class="text" set:html={props.content2cText}></span>
                }
                
                {
                    props.content2cImg &&
                    <img src={props.content2cImg} style="width:100%;" alt="">
                }
                    
            </div>

            {
             props.content2dText &&
                <div class="content2d" id="content2d">
                    {
                        props.content2dHeading && 
                        <img src={blackDiamond} class="bullets" alt="" loading="lazy">
                        <span class="contentTitle" set:html={props.content2dHeading}></span>
                    }
                

                <span class="text" set:html={props.content2dText}></span>

                {
                    props.content2dImg &&
                    <img src={props.content2dImg} style="width:100%;" alt="" loading="lazy">
                }
                   
                </div>
            }
           
            {
                props.content3Text &&
                <div class="content3">
                    {
                        props.content3Heading &&
                        <img src={blackDiamond} class="bullets" alt="" loading="lazy">
                         <span class="contentTitle" set:html={props.content3Heading} ></span>
                    }
                

                <span class="text" set:html={props.content3Text}></span>

                    
            </div>

            }
            
            {
                props.content3bText &&

                <div class="content3b">
                {
                    props.content3bHeading &&
                    <img src={blackDiamond} class="bullets" alt="" loading="lazy">
                    <span class="contentTitle" set:html={props.content3bHeading}></span>

                }
               
                <span class="text" set:html={props.content3bText}></span>
                {
                    props.content3bImg &&
                    <img src={props.content3bImg} style="width:100%;" alt="" loading="lazy">
                }
                
                </div>

            }
           
            {
                props.content3cText &&
                <div class="content3c">
                <img src={blackDiamond} class="bullets" alt="" loading="lazy">
                <span class="contentTitle" set:html={props.content3bHeading}></span>
                <p class="text" set:html={props.content3cText}></p>

                   
                </div>

            }
            
           
         </div>


        <div class="col-3">

            {
                (props.index1 || props.index2 || props.index3 || props.index3|| props.index5)
                &&  <div class="contents">
                <p class="tableHead"> Table of contents</p>
                <span><a href="#content1" set:html={props.index1}></a></span>
                <span><a href="#content2" set:html={props.index2}></a> </span>
                <span><a href="#content2b" set:html={props.index3}> </a></span>
                <span><a href="#content2c"  set:html={props.index4}></a> </span>
                <span><a href="#content2d" set:html={props.index5}> </a></span>
               </div>

            }
           
            <div class="author">
                <p class="about"> About the Author</p>
                <div class="d-flex">
                    <img class="img" src={authorImg} alt="" loading="lazy">
                    <div style="margin:auto; margin-left:6%">
                        <span class="authName" set:html={props.aboutAuthorName}></span><br>
                     <span class="authDesign" set:html={props.aboutAuthorDsgn}></span>
                    </div>
                </div>
                          

            </div>
            
            <div class="newsletter">
                <p class="about">Subscribe to Newsletter</p>
                <input class="inputCss" type="text" placeholder="Enter your Email...">
                <img src={submitBtn} class="btn"  alt="" loading="lazy">
            </div>
            

        </div>


    </div>

    <div class="tags d-flex">
        <span>Tags:</span>
        <div class="tagsBtn">
            virtual reality
        </div>
        <div class="tagsBtn">
            Productivity
        </div>
        <div class="tagsBtn">
            Minimalist
        </div>
        <div class="tagsBtn">
            Quality
        </div>
        <div class="tagsBtn">
            conference
        </div>
        <div class="tagsBtn">
            Growth
        </div>
        <div class="tagsBtn">
            Security Token
        </div>
        <div class="tagsBtn">
            virtual reality
        </div>
      
    </div>
  
 
</section>

<style>

.margins {
    margin-left: 7.5%;
    margin-right: 7%;
    padding-top: 2%;
  }
  .quote{
    padding-right: 11%;
    max-height:100vh;
     overflow:scroll
  }

  .innerquote{
    border-left: 4px solid black;
   
  }

.innerquote span{
    padding: 1%;
    
    padding-left: 3%;
    display: inline-block;
    font-family: 'anek devanagari';
    font-size: 1.35vw;
    line-height: 1.9;
    font-weight:500 ;
}
.quoter{
    opacity: 50%;
}

.content1, .content2, .content2b, .content2c, .content2d, .content3, .content3b, .content3c{
    margin-top: 4%;
}

.text{
    font-family: 'anek devanagari';
    font-size: 1.2vw;
    line-height: 1.7;
   
    margin-top: 2%;
}

.contentTitle{
    font-family: "Deutschlander";
        text-transform: uppercase;
        font-size: 4.2vw;
        font-weight: 400;
        font-style: normal;
        /* color: white; */
        line-height: 0.85;
        display: inline-block;
}

.bullets{
    vertical-align: super;
    margin-right: 1%;
    width: 1.3vw;
}
.col-3{
    padding-top: 1%;
}

.contents{
    border-bottom: 1.5px solid rgb(200, 200, 197);
}
.contents span{
    font-family: 'anek devanagari';
    font-size: 1.1vw;
    
}
a{
    text-decoration: none;
}

.contents p{
    font-family: 'anek devanagari';
}




.tableHead{
    font-weight: 600;
    font-size: 1.2vw !important;

}

.about{
    font-weight: 600;
    font-family: 'anek devanagari';
    font-size: 1.2vw;
    

}

.author{
    padding-top: 10%;
    padding-bottom: 10%;
    border-bottom: 1.5px solid rgb(200, 200, 197);
}
.img{
    width: 20%;
    height: 20%;
    border-radius: 50%;
}

.authName, .authDesign{
    font-family: 'anek devanagari';
}
.authName{
    font-size: 1.1vw;
    font-weight: 600;
}
.authDesign{
    opacity: 50%;
    font-size: 1vw;

}
.newsletter{
    padding-top:10%
}

.inputCss{
    /* background-color: #1a1a1a; */
    height: 3.2vw;
    border-radius: 0 15px 0 15px;
    width: 100%;
    background-color: #f6f7f0;
    font-size: calc(7px + 0.390625vw);
    border: 1px solid rgb(147, 147, 146);
    padding-left: 5%;
}

.newsletter img{
    margin-top: 5%;
    padding: 0;
    width: 55%;
}

.tags{
    border-top:1.5px solid rgb(200, 200, 197) ;
    border-bottom: 1.5px solid rgb(200, 200, 197);
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 3%;
    margin-bottom: 4%;
    font-family: 'anek devanagari';
}

.tags span{
    margin-top: 0.5%;
    font-weight: 500;
    font-size: 0.9vw;

}

.tagsBtn{
    border:1.5px solid rgb(200, 200, 197) ;
    font-family: 'anek devanagari';
    border-radius: 5rem;
    width: fit-content;
    padding: 0.7%;
    margin-left:2.5%;
    font-weight: 500;
    font-size: 0.82vw;
}

@media screen and (max-width:767px){
    .col-3{
        display: none;
    }
    .text{
        font-size: 2.5vw;
    }
    .contentTitle{
        font-size: 8vw;
    }
    .innerquote span{
        font-size: 2.75vw;
    }
    .bullets{
        width: 2.5vw;
    }
    
}

</style>

