---
import authorImg from "../../images/authorImg.jpg";
import submitBtn from "../../images/submitBtn.jpg";
import blackDiamond from "../../images/blackDiamond.png";
import blogContentImg from "../../images/blogContentImg.jpg";
---

<section class="margins">

    <div class="row">
        <div class="quote col-9" >
            <div class="innerquote">
              
                <p>“Did you know that according to Myers-Briggs Company’s latest research, 56.8% of the global population prefer introversion? With that rate of inclination towards introversion, it is evident that a large chunk of the world’s population is not comfortable with socializing.”
                </p> 
                <p class="quoter">~ Myers-Briggs, Lorem Ipsum</p>
            </div>

            <div class="content1">
                <img src={blackDiamond} class="bullets" alt="">
                <span class="contentTitle">Quality Never goes out of style</span>
                <p class="text">With the hike in revenue to hit $143 Billion, by the year 2022, There is a lot of Encouragement to be seen within companies to implement Virtual Reality and integrating such tech in their Marketing Strategies.
                    We're going to list some of the examples that might generate curiosity to know how your brand can take advantage of Virtual Reality in order to create a better brand image from your consumer's point of View.
                    
                    Dell EMC used Virtual Reality to promote one of their newly launched products named "latitude". The ideology behind the promotion was to introduce new technology to their employees that were engaging, interesting and informative at the same time. The VR game was developed on the basis of destroying viruses that might hinder your PC in the Virtual Sci-Fi city and hence making your PC Smoother and ultimately run more Efficiently. This VR Experience was developed from scratch by INK IN CAPS to deliver a bewildering experience to the Employees of DELL EMC. Here's a Glimpse of it!</p>
            </div>

            <div class="content2">
                <img src={blackDiamond} class="bullets" alt="">
                <span class="contentTitle">why less is powerful</span>
                <p class="text">With the hike in revenue to hit $143 Billion, by the year 2022, There is a lot of Encouragement to be seen within companies to implement Virtual Reality and integrating such tech in their Marketing Strategies.
                    We're going to list some of the examples that might generate curiosity to know how your brand can take advantage of Virtual Reality in order to create a better brand image from your consumer's point of View.
                    
                    Dell EMC used Virtual Reality to promote one of their newly launched products named "latitude". The ideology behind the promotion was to introduce new technology to their employees that were engaging, interesting and informative at the same time. The VR game was developed on the basis of destroying viruses that might hinder your PC in the Virtual Sci-Fi city and hence making your PC Smoother and ultimately run more Efficiently. This VR Experience was developed from scratch by INK IN CAPS to deliver a bewildering experience to the Employees of DELL EMC. Here's a Glimpse of it!</p>
            </div>
            <div class="content2b">
                <img src={blackDiamond} class="bullets" alt="">
                <span class="contentTitle">Quality Never goes out of style</span>
                <p class="text">Simplifying things is a very crucial part of the Zen Habits. When one limits oneself to fewer goals, one can narrow down his focus on the very essentials. This helps in achieving the set goals more efficiently and effectively.
                    When you have too much on your plate, you become indecisive and tend to lose focus, sometimes it may also leave you overwhelmed. During these times, decluttering your life becomes the need of the hour</p>

                    <img src={blogContentImg} style="width:100%;" alt="">
            </div>
            <div class="content2c">
                <img src={blackDiamond} class="bullets" alt="">
                <span class="contentTitle">Quality Never goes out of style</span>
                <p class="text">Simplifying things is a very crucial part of the Zen Habits. When one limits oneself to fewer goals, one can narrow down his focus on the very essentials. This helps in achieving the set goals more efficiently and effectively.
                    When you have too much on your plate, you become indecisive and tend to lose focus, sometimes it may also leave you overwhelmed. During these times, decluttering your life becomes the need of the hour</p>

                    
            </div>
            <div class="content2d">
                <img src={blackDiamond} class="bullets" alt="">
                <span class="contentTitle">Quality Never goes out of style</span>
                <p class="text">Simplifying things is a very crucial part of the Zen Habits. When one limits oneself to fewer goals, one can narrow down his focus on the very essentials. This helps in achieving the set goals more efficiently and effectively.
                    When you have too much on your plate, you become indecisive and tend to lose focus, sometimes it may also leave you overwhelmed. During these times, decluttering your life becomes the need of the hour</p>

                    <img src={blogContentImg} style="width:100%;" alt="">
            </div>

            <div class="content3">
                <img src={blackDiamond} class="bullets" alt="">
                <span class="contentTitle">Quality Never goes out of style</span>
                <p class="text">Simplifying things is a very crucial part of the Zen Habits. When one limits oneself to fewer goals, one can narrow down his focus on the very essentials. This helps in achieving the set goals more efficiently and effectively.
                    When you have too much on your plate, you become indecisive and tend to lose focus, sometimes it may also leave you overwhelmed. During these times, decluttering your life becomes the need of the hour</p>

                    
            </div>
            <div class="content3b">
                <img src={blackDiamond} class="bullets" alt="">
                <span class="contentTitle">Quality Never goes out of style</span>
                <p class="text">Simplifying things is a very crucial part of the Zen Habits. When one limits oneself to fewer goals, one can narrow down his focus on the very essentials. This helps in achieving the set goals more efficiently and effectively.
                    When you have too much on your plate, you become indecisive and tend to lose focus, sometimes it may also leave you overwhelmed. During these times, decluttering your life becomes the need of the hour</p>

                    <img src={blogContentImg} style="width:100%;" alt="">
            </div>

            <div class="content3c">
                <img src={blackDiamond} class="bullets" alt="">
                <span class="contentTitle">Quality Never goes out of style</span>
                <p class="text">Simplifying things is a very crucial part of the Zen Habits. When one limits oneself to fewer goals, one can narrow down his focus on the very essentials. This helps in achieving the set goals more efficiently and effectively.
                    When you have too much on your plate, you become indecisive and tend to lose focus, sometimes it may also leave you overwhelmed. During these times, decluttering your life becomes the need of the hour</p>

                   
            </div>
           
         </div>


        <div class="col-3">
            <div class="contents">
                <p class="tableHead"> Table of contents</p>
                <p><a href="">Introduction</a></p>
                <p><a href="">Could there be a Trailblazer?</a> </p>
                <p><a href=""> Process of Human Interaction</a></p>
                <p><a href="">Helping individuals</a> </p>
                <p><a href=""> Decoding the future</a></p>
            </div>

            <div class="author">
                <p class="about"> About the Author</p>
                <div class="d-flex">
                    <img class="img" src={authorImg} alt="">
                    <div style="margin:auto; margin-left:6%">
                        <span class="authName">Pallavi Jain</span><br>
                     <span class="authDesign">Social Media Manager</span>
                    </div>
                </div>
                          

            </div>
            
            <div class="newsletter">
                <p class="about">Subscribe to Newsletter</p>
                <input class="inputCss" type="text" placeholder="Enter your Email...">
                <img src={submitBtn} class="btn"  alt="">
            </div>
            

        </div>


    </div>

    <div class="tags d-flex">
        <span>Tags:</span>
        <div class="tagsBtn">
            virtual reality
        </div>
        <div class="tagsBtn">
            virtual reality
        </div>
        <div class="tagsBtn">
            virtual reality
        </div>
        <div class="tagsBtn">
            virtual reality
        </div>
        <div class="tagsBtn">
            virtual reality
        </div>
        <div class="tagsBtn">
            virtual reality
        </div>
        <div class="tagsBtn">
            virtual reality
        </div>
        <div class="tagsBtn">
            virtual reality
        </div>
      
    </div>
  
 
</section>

<style>

.margins {
    margin-left: 7.5%;
    margin-right: 7%;
    padding-top: 2%;
  }
  .quote{
    padding-right: 11%;
  }

  .innerquote{
    border-left: 4px solid black;
   
  }

.innerquote p{
    padding: 1%;
    
    padding-left: 3%;
    
    font-family: 'anek devanagari';
    font-size: 1.35vw;
    line-height: 1.9;
    font-weight:500 ;
}
.quoter{
    opacity: 50%;
}

.content1, .content2, .content2b, .content2c, .content2d, .content3, .content3b, .content3c{
    margin-top: 4%;
}

.text{
    font-family: 'anek devanagari';
    font-size: 1.2vw;
    line-height: 1.7;
    opacity: 80%;
    margin-top: 2%;
}

.contentTitle{
    font-family: "Deutschlander";
        text-transform: uppercase;
        font-size: 3vw;
        font-weight: 400;
        font-style: normal;
        /* color: white; */
        line-height: 0.85;
}

.bullets{
    vertical-align: baseline;
}
.col-3{
    padding-top: 1%;
}

.contents{
    border-bottom: 1.5px solid rgb(200, 200, 197);
}
.contents p{
    font-family: 'anek devanagari';
    font-size: 1.1vw;
    
}




.tableHead{
    font-weight: 600;
    font-size: 1.2vw !important;
}

.about{
    font-weight: 600;
    font-family: 'anek devanagari';
    font-size: 1.2vw;
    

}

.author{
    padding-top: 10%;
    padding-bottom: 10%;
    border-bottom: 1.5px solid rgb(200, 200, 197);
}
.img{
    width: 20%;
    border-radius: 50%;
}

.authName, .authDesign{
    font-family: 'anek devanagari';
}
.authName{
    font-size: 1.1vw;
    font-weight: 600;
}
.authDesign{
    opacity: 50%;
    font-size: 1vw;

}
.newsletter{
    padding-top:10%
}

.inputCss{
    /* background-color: #1a1a1a; */
    height: 3.2vw;
    border-radius: 0 15px 0 15px;
    width: 100%;
    background-color: #f6f7f0;
    font-size: calc(7px + 0.390625vw);
    border: 1px solid rgb(147, 147, 146);
    padding-left: 5%;
}

.newsletter img{
    margin-top: 5%;
    padding: 0;
    width: 55%;
}

.tags{
    border-top:1.5px solid rgb(200, 200, 197) ;
    border-bottom: 1.5px solid rgb(200, 200, 197);
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 3%;
    margin-bottom: 4%;
    font-family: 'anek devanagari';
}

.tags span{
    margin-top: 0.5%;
    font-weight: 500;
    font-size: 0.9vw;

}

.tagsBtn{
    border:1.5px solid rgb(200, 200, 197) ;
    font-family: 'anek devanagari';
    border-radius: 5rem;
    width: fit-content;
    padding: 0.7%;
    margin-left:2.5%;
    font-weight: 500;
    font-size: 0.9vw;
}


</style>